[2021-09-07 15:14] jkimbo commented on #1363
@opqpop What errors do you see in the browser console? Have you setup static file hosting? (https://docs.djangoproject.com/en/3.2/howto/static-files/deployment/)
WhiteNoise is a good option for that: http://whitenoise.evans.io/en/stable/

[2021-09-10 22:48] richin13 commented on #1127
Actually `graphene-mongo` was migrated to v3 (https://github.com/graphql-python/graphene-mongo/blob/98f2929956d199ab4c11f8db5f9bdbf361a70bbc/setup.py#L25) and has all its tests passing. (Unless I'm missing something?? 😅 )

It's only `graphene-sqlalchemy` at this point, for which PR https://github.com/graphql-python/graphene-sqlalchemy/pull/317 exists (fixes all broken tests). We just need to have

[2021-09-10 23:35] keithhackbarth commented on #1127
Is there a reason we don't just don't let the downstream repositories manage their own dependencies and upgrade at their leisure? Isn't that why each repo has its own requirements file - so they can pin to v2 if they aren't ready to upgrade? I can't think of any other codebase in the python ecosystem that requires all of its downstream repositories to upgrade before the official version of the ups

[2021-09-11 00:12] pappasam commented on #1127
@keithhackbarth let's answer this question once v3 is actually released. @richin13 and others have jumped through flaming hoops, so let's not let a potential flame war slow things down!

[2021-09-11 11:21] AntonOfTheWoods commented on #1127
@pappasam , "slow things down". Really? It is probably mathematically impossible to go any slower than this issue has been managed. It will soon be multiple YEARS since this repo has been waiting for the downstream repos to confirm compatibility.

[2021-09-11 13:05] McPo commented on #1127
I 1000% agree. Theres also little motivation for the other projects to upgrade if they are still technically on the stable build.

As they get left behind, they may be more likely to get up to speed. And if they don't then they don't have the userbase to warrant the effort.

Contributors are also more likely to help when they see that an actual release has occured. There's simply no way Id dedicat

[2021-09-13 00:20] lovetoburnswhen commented on #1292
Maybe try overriding `__init_subclass_with_meta__()`

[2021-09-13 17:08] mark7-bell commented on #1127
We need to assess whether v3 addresses performance problems we are seeing, or we need to find another technology soon.

[2021-09-13 17:12] JBrVJxsc commented on #1127
v3 uses native asyncio instead of the Promise libraries that are being used by v2.
v3 should be a lot faster than v2.

however, we are waiting for v3 for soooo long.

[2021-09-14 00:58] daniel-skale opened #1365 "Implement Dataloaders (N+1 issue) with middleware or follow docs example"
Hi all, I am trying to incorporate Dataloaders (https://docs.graphene-python.org/en/latest/execution/dataloader/) to our schemas to reduce load on our DB. However, I was wondering if anyone has had experience using either a [middleware](https://jerrynsh.com/solving-n-1-in-graphql-python-with-dataloader/) implementation vs. the ones outlined in the docs?

I also found that [saleor ](https://github.

[2021-09-14 01:01] daniel-skale commented on #1289
Just wondering if this is for a custom node implementation to replace the default relay.Node style b64 hashed IDs? If so I was also wondering how to implement a dictionary/table to map the UUID to the primary key of the models?

[2021-09-14 07:42] wodCZ commented on #1365
I'll add my 2 cents: We had some success with relatively low effort with [tfoxy/graphene-django-optimizer](https://github.com/tfoxy/graphene-django-optimizer).
Dataloaders, while explicit, required a bit much of boilerplate.

[2021-09-15 09:07] Speedy1991 commented on #1289
Not sure if I get the point (I don't use relay), but you can define a serializer and a deserializer in the scalar. That means you can use UUIDHex values in your schema but query by a real UUID from your database, so there is no need to create a mapping dictionary/table

[2021-09-15 13:24] latusaki commented on #888
I just had to write a fairly ugly function that recursively populates an InputType and any nested types under it with information from the raw query on what fields were actually included with the query.. Trying to find if there is a built-in way of getting that information.

[2021-09-15 14:33] latusaki opened #1366 "Tracking of unspecified variables vs specified with Null value"
**Is your feature request related to a problem? Please describe.**
There is a [stale report](https://github.com/graphql-python/graphene/issues/888) on this, but I just wanted to know if this is the expected behavior of the framework or if I am missing some feature.

When the default_value of an InputType field is None, while looking at the InputType instance passed as an argument to the mutate fun

[2021-09-16 16:23] Shannanigans commented on #1269
Is solution 2 actually viable? I believe the error message that is being read is internal to the lib and not in the request response.

@advl have you found a solution to this issue?

[2021-09-18 16:52] richin13 commented on #1312
Any updates here? Looks like there's an effort to move things forward here with some of us willing to take over and recover this community

[2021-09-20 07:17] daniel-skale commented on #1365
Hey again @wodCZ ! Seems like `graphene-django-optimizer` is used mainly for grabbing lists, I was wondering if for single item queries we would probably have to resort to Dataloaders then? Also how are you and your team enjoying graphene? I feel like this project isn't being updated as often as I had hoped and I felt that I am limited/slowed down by limitations of stuff that graphene lacks and am

[2021-09-20 11:19] wodCZ commented on #1365
@daniel-skale
**graphene-django-optimizer**: It's not *mainly* for grabbing lists, generally it attempts to avoid n+1 issue. You can use it to resolve single item queries too, although it's not clear from the documentation.
Basically you wrap the resolved value (list, [or single item](https://github.com/tfoxy/graphene-django-optimizer/issues/46#issuecomment-667346181)) using `gql_optimizer.query`,

[2021-09-20 14:44] alexhafner opened #1368 "No longer able to catch unexpected errors after removal of UnforgivingExecutionContext"
* **What is the current behavior?**
Since the introduction of https://github.com/graphql-python/graphene/pull/1255 by @AlecRosenbaum it was possible to raise unexpected errors to the backend processing, as examplained in https://github.com/graphql-python/graphene/issues/902#issuecomment-672952043. This is critical so you get a decent traceback in the log and no error message for each record in the

[2021-09-20 15:01] codebyaryan commented on #1368
This is my mistake, I apologize. Because the test cases relevant to the execution context failed (errors weren't swallowed), I assumed that we no longer needed it, because of graphql-core changes.

We should definitely bring the execution context back.

[2021-09-20 16:54] Shannanigans commented on #1269
For anyone else ending up here. I solved this by getting the token payload in a django middleware which catches the jwt.ExpiredSignatureError exception and returns a 401. I had to create a custom react relay network modern middleware on the client to exclude auth headers.

[2021-09-20 18:17] alexhafner commented on #1368
Thanks for the quick feedback @codebyaryan . I've created https://github.com/graphql-python/graphene/pull/1369 as a starting point on how we could handle that.

[2021-09-21 04:36] mvanlonden commented on #1127
With the [release of v3 graphene-sqlalchemy](https://pypi.org/project/graphene-sqlalchemy/3.0.0b1/), all dependent libraries now support v3. This unblocks the release of v3!

[2021-09-21 04:57] lovetoburnswhen commented on #1127
at long last

[2021-09-21 06:50] AntonOfTheWoods commented on #1127
The cows have come home!!!!!

[2021-09-21 08:22] colelin26 commented on #1127
Thanks for the fast code review and release for us! Glad to see that my code was able to help :) I think it really shows that a lot of us from the community are willing to help and how important Graphene is to us.

[2021-09-21 10:58] jkimbo commented on #1368
Just to chime in here: the UnforgivingExecutionContext wouldn't be in compliance with the spec: https://spec.graphql.org/June2018/#sec-Errors-and-Non-Nullability

Thats not to say that there aren't reasons why you would want it (in tests for example) but it might break assumptions that a client makes if it was used in a server.

The way we've approached this in Strawberry is to log all errors usin

[2021-09-21 19:24] jkimbo commented on #1368
@AlecRosenbaum thats makes a lot of sense. I think there might be a way to solve your use case withougt having to implement a custom execution context. In Strawberry this would be done by implementing an extension (example code here: https://github.com/strawberry-graphql/strawberry/issues/1221#issuecomment-917473167) but since Graphene doesn't have an equivalent you would have to override the `exe

[2021-09-22 09:25] IvanVinitskyi commented on #772
Temporary solution:
`    def measure_depth(selection_set: SelectionSet, level: int = 1) -> int:
        max_depth = level
        for field in selection_set.selections:
            if getattr(field, "selection_set", None):`

And remove this check:
`if definition.operation != 'query':`
because of not every entity has operation-field.

[2021-09-22 10:36] reubenosborne1 opened #1371 "graphene/docs/execution/queryvalidation.rst missing usage example"
From graphene/docs/execution/queryvalidation.rst

Is missing a link or example code

[2021-09-22 19:03] akayunov opened #1372 "Resolve query directly on query object."
Hi guys, We would like to use graphql internally in our project without share graphql interface with any client, to gather data from different apis for our internal tasks. So it looks stupid to write text graphql query for ourself. We have all definitions which allowed us resolve query without writing it,  just doing something like call `resolve` method on query object and get all magic that graph

[2021-09-24 06:27] meysam81 commented on #1070
@hypnotic-frog

Turn `parse_value` to `parse_literal` and it'll work. Tested and got the result.

[2021-09-24 07:22] nojvek opened #1373 "Cannot use example"
**Note: for support questions, please use stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

* **What is the current behavior?**

[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via
a github repo, https://repl.it or similar.

[code]

* **What is the expected behavior?**

N

[2021-09-24 08:38] jkimbo commented on #1373
@nojvek This happens because you've got a file named "graphql.py" and so Python uses that instead of the graphql-core module that Graphene depends on. Renaming your file to something else should fix it.

[2021-09-24 14:56] kawsaramin101 opened #1374 "Mobile Responsive website"
Don't know if it’s the right place to ask, I am kind of beginner. Pardon me if it’s irrelevant here.

Django graphene website is not mobile responsive. Can you make it mobile responsive.
![Screenshot_20210924-205540_Opera](https://user-images.githubusercontent.com/71335212/134696052-a796c153-488b-4e39-bea4-847812f1cd57.jpg)
![Screenshot_20210924-205549_Opera](https://user-images.githubusercontent.

[2021-09-24 18:56] #1254 closed

[2021-09-26 20:03] wnaldj1589TW commented on #1294
Is it resolved or has there been any progress on it?

[2021-09-28 01:05] codebyaryan commented on #1371
@reubenosborne1 I had actually added a couple of examples, but I think that it isnt rendering because of incorrect formatting. We have to make space between codefences in that file, I'll try to do it when I get time this week.

[2021-09-28 12:33] reubenosborne1 commented on #1371
Great thank you @codebyaryan. I can see that graphene.validation only exists in master, when do you think it will make it into a tagged release?

[2021-09-28 14:13] codebyaryan commented on #1371
I am not a maintainer here, hence I dont have release access. I think that we should ask @syrusakbary or @jkimbo regarding this! :)

[2021-09-28 14:20] codebyaryan commented on #1372
If I understood your question correctly, you want to do something like this.

[code]

AFAIK, Graphene doesnt and doesnt need to support this feature. The query root type is used to build a graphql schema instance, provided by graphql-core. The only way to query your schema would be with GraphQL - the query language. This is a part of intended design.

[2021-09-28 18:45] kasikn77 commented on #377
@syrusakbary can you please show us query example? How we can filter results using union?

[2021-09-29 07:52] reubenosborne1 commented on #1371
Ok thank you!

I have tried to run your example of depth limiting validation but I am getting the following error:
[code]
Any ideas what is wrong?

[2021-09-29 12:44] codebyaryan commented on #1371
I've now fixed it, please take a look at the changed files in the PR!

[2021-09-30 06:23] #1371 closed

[2021-10-04 08:55] saadshehzad opened #1379 "Unable to add token headers to graphene-django test using pytest"
I am trying to add token to graphene-django headers using pytest. But It always return that user is anonymous as shown at the end but it should return user as token is added in fixture

@pytest.fixture
def client_query(client):
    def func(*args, **kwargs):
        return graphql_query(*args, **kwargs, client=client)

    return func

@pytest.fixture
def create_candidate(candidate_factory):
    c

[2021-10-04 17:25] tstordyallison commented on #1127
What are next steps for cutting a release? Looks like all the downstream libraries are ready.

[2021-10-04 20:16] conao3 commented on #476
hi, this issue does not seems to be active but please could you put this on roadmap? (related comment: https://github.com/graphql-python/graphene/pull/1019#pullrequestreview-255370742)

[2021-10-08 23:33] allangz commented on #1312
Hi guys, I also would like to help.

[2021-10-09 09:30] cglacet commented on #1127
@tstordyallison according to the checklist the last point is supposed to be checked by [this merge](https://github.com/graphql-python/graphene-mongo/pull/172)?

[2021-10-09 09:34] conao3 commented on #1290
How about this?
[code]

[2021-10-12 14:54] tinducvo opened #1382 "Application-level asynchronous dataloading"
**Is your feature request related to a problem? Please describe.**
I would like to be able to solve the N+1 problem on the application-layer. For dataloader components, there will be a one-to-one key-value result expectation, so I application layer is better than request layer.

The documentation shows an implementation with promises and synchronous syntax.

So right now, it seems like I could use

[2021-10-13 18:01] Birdi7 commented on #1127
@jkimbo @ekampf hello! do you have any thoughts on releasing v3.0?

[2021-10-14 07:25] Kuhaku1 opened #1383 "String parse_value and parse_literal method results are different"
Code definition

[code]

If the parameter is in query string, an error message is displayed

[code]
Output:
[code]

However, if the parameter is in a variable, no error message is displayed

[code]
Output:
[code]

- Version:
  graphene 2.1.8
  graphene-django 2.15.0
  graphql-core 2.2.1
  graphql-relay 2.0.0

- Platform:
  Ubuntu 20.04.3 LTS
  Python 3.8.5

[2021-10-18 16:16] federico-piazza opened #1384 "Cannot use Enums in mutations that are inside input types"
* **What is the current behavior?**
Cannot use Enums in mutations that are inside input types. The input type never renders the field that was created as an enum.

While doing different attempts sometimes I get a duplicated type, like the one described in this issue:
https://github.com/graphql-python/graphene/issues/273

For example, when I define the enum as required:

[code]
Then I get:

`
Found

[2021-10-26 09:51] RJ722 opened #1385 "Mention the order in which middlewares are executed in the docs"
**Is your feature request related to a problem? Please describe.**

I was very surprised to find that graphene-python doesn't follow the same order for the execution of the middlewares, as [django](https://docs.djangoproject.com/en/3.2/topics/http/middleware/#middleware-order-and-layering):

For graphene, it goes bottom up.

**Describe the solution you'd like**
To document this behavior.

**Additi

[2021-11-02 09:57] joanteixi opened #1386 "Filter child fields"
**Is your feature request related to a problem? Please describe.**
We'd like to allow add filter values inside child fields, as the fields_objects in Django  Filters.

**Describe the solution you'd like**
Actually, it's not possible to create filters for a child object of type "Field".

[2021-11-05 17:17] antonmyronyuk opened #1388 "DisableIntrospection validation rule restrict __typename queries"
* **What is the current behavior?**
`graphene.validation.disable_introspection.DisableIntrospection` doesn't allow to query `__typename`

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
https://github.com/graphql-python/graphene/blob/9c1db0f66247893c81d681fc3152ff0955fc3cd3/docs/execution/queryvalidation.rst#disable-intros

[2021-11-13 13:06] Kyliathy opened #1389 "Tutorial mistakes"
Hey :). Don't know where else to post this so...

Found 2 mistakes in this tutorial:

https://docs.graphene-python.org/projects/django/en/latest/tutorial-plain/

Where it says: "Now sync your database for the first time:"
There is no manage.py in that directory. One must go back one directory. So, `cd ..` first, and then execute the `python manage.py` migrate command.

Where it says: "Don’t forget

[2021-11-13 22:23] mvanlonden commented on #1127
Cut v3.0.0 today

https://github.com/graphql-python/graphene/releases/tag/v3.0.0

[2021-11-13 22:23] #1127 closed

[2021-11-17 17:31] simonw commented on #1348
I just ran into this one too. My application generates a GraphQL API from a database schema, and one of the database tables I'm trying to work with has a column called `if`.

[2021-11-24 23:51] starascendin commented on #343
Still have the same issue

[2021-11-25 09:12] MaehMaeh opened #1390 "DataLoaders with Graphene 3"
This is a duplication of:
https://github.com/graphql-python/graphene-django/issues/1272

I have implemented the DataLoaders in Graphene 2 using these instructions:
https://jerrynsh.com/solving-n-1-in-graphql-python-with-dataloader/

After upgrading to Graphene 3, the DataLoaders no longer works. Now I get the following error messages:
* Case 1: Fetch a list of Articles for each Reporter (reporters

[2021-11-25 22:14] AlexCLeduc opened #1391 "Consider supporting promise-based dataloaders in v3"
I know graphql-core dropped support for promises, but the author seems to think promise-support can be added via hooks like middleware and execution context (see response to my identical issue in https://github.com/graphql-python/graphql-core/issues/148).

Since most people using syrusakbary's promise library are probably already graphene users, if anyone is going to help make graphql-core 3 and p

[2021-11-25 22:16] AlexCLeduc commented on #1390
Technically not a bug, graphene 3 no longer supports promise-based dataloaders, only asyncio. Use [aiodataloader](https://github.com/syrusakbary/aiodataloader) instead.

[2021-11-26 06:52] MaehMaeh commented on #1390
Thanks for the quick reply. I seem to have overlooked that.
Is aiodataloader production ready? Version number 0.2.0 does not sound particularly confidence-inspiring.

[2021-11-26 06:52] #1390 closed

[2021-11-26 14:26] krish7919 commented on #3
(Sorry to comment on a closed issue but this seems to be the right place)

Is there a way for graphene to query Postgres directly and generate an SDL file ?

[2021-11-26 19:26] anentropic opened #1392 "graphql-core coerce_string used instead of graphene.String"
**Note: for support questions, please use stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

* **What is the current behavior?**

Not 100% sure this is a bug, but it seems not quite right.

`graphene.String` has the following `coerce_string` method:
https://github.com/graphql-python/graphene/blob/master/graphene/types/scalars.py#L144

This should mean tha

[2021-11-26 21:08] belkka commented on #946
@ekampf could you, please, provide a real-world example of app using this approach? I'm looking for inspiration how to implement it for majority of queries and mutations in the app without blowing up the codebase.

[2021-11-26 21:15] belkka commented on #946
BTW, another disadvantage of not setting http status code is not being able to distinguish logical 4xx client errors and 5xx server errors. For example, I would like to configure Sentry error capturing in a such way, that it ignores client errors (bad requests that do not indicat an issue) but does capture server errors. All exceptions look the same for graphene.

But this problem is rather relate

[2021-11-30 08:56] pfcodes commented on #476
Bump

[2021-12-07 10:20] Tomms93 opened #1394 "Required/NonNull parameters do not work"
Required=True and NonNull parameters do not work in Query.
I have tried 3 following ways:
    hello2 = String(name=String(required=True))
    hello2 = String(name=NonNull(String))
    hello2 = String(name=Argument(String, required=True))

with following resolver:
    def resolve_hello2(root, info, name):
        return f"Hello {name}!"

And in any of these ways, when I do not provide name, I do no

[2021-12-07 12:16] x0y-gt commented on #1260
Having the same issue here 0/

[2021-12-08 22:09] krish7919 opened #1395 "Is there a way to export schema from Postgres database?"
I currently use the `postgraphile` CLI as such:

[code]

This fetches the SDL from Postgres using `postgraphile` CLI written in JS and stores it in `schema.gql` file.

I wanten to automate this step and looking for a way to do this in Python. Is this not possible as of today using graphene (or any of the other Python graphql libraries)?

I have checked `graphql-core`, `graphene`, `graphene-sqlalch

[2021-12-09 13:16] mattbasta opened #1396 "v3 upgrade documentation?"
Similar to https://github.com/graphql-python/graphene/blob/master/UPGRADE-v2.0.md, is there a guide to upgrading to v3 from v2? I cannot seem to find any information beyond the list of changes from the GH release: https://github.com/graphql-python/graphene/releases/tag/v3.0.0

[2021-12-09 13:41] jkimbo commented on #1396
@mattbasta I wrote some release notes a while ago: https://github.com/graphql-python/graphene/wiki/v3-release-notes

I think they are still up to date (I've also added them to the GitHub release)

[2021-12-09 13:46] jkimbo commented on #1395
@krish7919 as far as I'm aware there isn't a python tool to do this. postgraphile is probably you're best option at the moment (unless you want to write a python version).

[2021-12-09 13:46] #1395 closed

[2021-12-09 14:40] reubenosborne1 commented on #901
@ekampf I have been looking everywhere for an explaination on this. So thank you! Glad I found this thread. How do I "add it to the response as an extension"?

[2021-12-09 16:16] Lekesoldat commented on #968
Bump 🙏🏻

[2021-12-09 18:26] alexaor commented on #968
bump as well

[2021-12-09 22:28] krish7919 commented on #1395
Thanks, @jkimbo for the answer (even though this might not be the right forum). Can you please give me any pointers on how one would go about implementing this (considering that I have never touched JS in my life)?

I would like to get an idea on how complex would it be to get this done in `graphql-core` or `graphene` libs before giving up on this approach; and if I have the necessary skillset to

[2021-12-11 08:38] jkimbo commented on #1395
@krish7919 I'm not familiar with postgraphile but I imagine what you want to do is export the postgres schema and then convert the columns into GraphQL types. I.E. if the column is of type Text then convert it to a string type. You can probably just use graphql-core for this (libraries like Graphene and Strawberry are just wrappers around graphql-core).

[2021-12-13 20:14] samarthgowda96 commented on #766
i'm just trying to pass HTTP_AUTHORIZATION cognito token to test all my queries and mutations and just getting an error token has not been passed since it needs to get the context of logged in user, i just want to pass hard coded token for now in the Graphene test client query, Any leads appreciated , Thanks :) heres is what i'm trying to achieve:
[code]

[2021-12-14 07:00] j3pic commented on #729
I have an implementation that allows me to write functional definitions for query resolvers and mutations using Python type annotations. I do not need to wrap these functions in a class.

It isn't necessary to define an `AnnotationObjectType`. Instead, I have two functions that require `globals()` as an argument. It collects the functions in the module that have type annotations and construct eith

[2021-12-14 07:01] j3pic commented on #729
I have an implementation that allows me to write functional definitions for query resolvers and mutations using Python type annotations. I do not need to wrap these functions in a class.

It isn't necessary to define an `AnnotationObjectType`. Instead, I have two functions that require `globals()` as an argument. It collects the functions in the module that have type annotations and construct eith

[2021-12-15 12:40] felixmeziere commented on #1127
@syrusakbary any progress with this https://github.com/graphql-python/graphene/issues/1127#issuecomment-806119584 ? ... :/

[2021-12-25 11:01] cammil commented on #1055
Can this be added to 2.* ? Otherwise this will break on Python 3.9 and above.

[2021-12-25 11:07] cammil opened #1397 "2.* is incompatible with Python >= 3.9"
**Note: for support questions, please use stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

* **What is the current behavior?**

2.* will fail if used with Python 3.9

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via
a github repo, https://repl.it or similar.

Install 2.* on a

[2021-12-27 20:40] jkimbo commented on #1397
@cammil https://github.com/graphql-python/graphene/releases/tag/v2.1.9 should work on Python versions >=3.9

[2021-12-27 20:40] #1397 closed

[2022-01-05 22:34] stabacco commented on #1394
I am seeing the same behavior.

[2022-01-05 23:12] stabacco opened #1398 "Undefined arguments always passed to resolvers"
Contrarily to what's described [here](https://docs.graphene-python.org/en/latest/types/objecttypes/#graphql-argument-defaults): it looks like all the arguments with unset values are passed to the resolvers in graphene-3:

This is the query i am defining
[code]

which i submit as
[code]

The result is :
[code]

The expected returned value is :
[code]

which is what we're getting with graphene-2.

M

[2022-01-08 20:12] erikwrede commented on #1384
The function `graphene.Enum.from_enum(ItemStatus)` uses `type` internally, which creates a new type object wrapping your enum every time it is called:
https://github.com/graphql-python/graphene/blob/master/graphene/types/enum.py#L55

See also:
https://docs.python.org/3/library/functions.html?highlight=type#type

This causes the `Found different types with the same name in the schema` exception tha

[2022-01-11 03:33] jayvdb opened #1400 "Python 3.10 support in v3"
* **What is the current behavior?**

Two tests fail on Python 3.10, with slightly different output on Python 3.10, that the tests do not expect.

[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via
a github repo, https://repl.it or similar.

* **What is the expected behavior?**

Tests pass on Python 3.10

* **What

[2022-01-11 11:19] Cito commented on #1400
Thanks for reporting, should be fixed with PR #1401

[2022-01-11 18:18] tony commented on #568
Hi!  I know this was a long time ago, Do you have any more details to on this? (for those who were searching?)

[2022-01-11 20:03] tahakhan0 commented on #917
You could write type asserts if you're using something such as

[code]

[2022-01-11 20:04] tony commented on #83
@syrusakbary Can you reopen and move this to a discussion?

[2022-01-14 00:58] fescobar commented on #101
@paymog

Small example:

**Brand** model
[code]

BrandNode
[code]

`extra_field_real_id_plus_one ` is the extra field. You can get any value from the original model, exactly from the `parent` parameter. You can calculate or format whatever you want and just you need to return the value.
You can get the extra field calculated value in queries, mutations, etc.

[2022-01-17 13:46] federico-piazza commented on #1384
@erikwrede thanks Erik, I'll test this and check if it works properly. I guess a good practice would be to use a django app name as part of the enum name, like `UserItemStatus`

[2022-01-18 14:01] jmorenobl commented on #1312
Hello guys! Is there any roadmap for graphene v3? It seems to be some movement on the project but the documentation is outdated, the are many PRs and Issues. It would nice to have some info on the priorities and maybe more people can help.

[2022-01-20 14:03] skylander86 commented on #199
Setting `cache = False` on the `Dataloader` subclass can achieve the same effect without having to re-instantiate the DataLoader for every request.

[code]

[2022-01-21 14:00] pprashant0309 opened #1403 "Cannot use Enum in list of InputObjectTypes"
For the following GraphQL schema:

[code]

I get the following error:
[code]

Using "CASE" doesn't work either. If `data_definition` is defined as a single object `DataDefinitionInput` instead of a list, the approach used in the execution above works.

PS: Running this on graphene==3.0

[2022-01-21 17:43] Cito commented on #1403
Can you post complete example code that we can run to produce that error?

[2022-01-21 18:14] pprashant0309 commented on #1403
I updated the post, you should be able to run it now.

[2022-01-21 18:31] Cito commented on #1403
No, this is not yet runnable. gene is graphene? And where is the schema definition?

[2022-01-21 18:50] pprashant0309 commented on #1403
This is now the entire file, please try it out now!

[2022-01-21 18:55] syrusakbary commented on #1396
Great work on the release notes @jkimbo, just read them and are great!

[2022-01-21 19:00] Cito commented on #1403
Better now. But it works for me, if I set `"source": "CASE"` in the input (you must always use the enum names in the input).

[2022-01-22 03:20] jamietdavidson commented on #1312
Hey guys,

I have been working with graphene for over 2 years now, and have written a handful of custom mutation subclasses, logging classes, authentication integrations, and websocket integrations + tests, and have a handful of design patterns that i've found make working with graphene / django a lot easier (that I had to develop from scratch!).

I would love to bring this code into graphene and

[2022-01-24 16:26] #1403 closed

[2022-01-30 02:37] LeOndaz opened #1404 "Found different types with the same name in the schema"
Bear with me please

Let's assume I have a type called `Product` in schema1 and a type with the same name in schema2 and I want to expose __both__ schemas via the same API, I get an error saying that I can't have two types with the same name, even though I'm using TOTALLY different types from different files

[code]

The workaround is to rename the type to something like ProductX or smth, but I wa

[2022-02-01 18:37] Topher-the-Geek commented on #1391
[Graphene's own docs still talk about using promises for DataLoaders](https://docs.graphene-python.org/en/latest/execution/dataloader/). How does one actually implement DataLoaders in v3?

[2022-02-03 23:22] EliasOPrado2 commented on #976
This is how you can implement GenericScalar().

Basically you have to get the field that is JSONString() (that is a JSONField) in django model and switch to GenericScalar to make it normal JSON again. Very simple.

[code]

[2022-02-04 11:16] MaehMaeh commented on #1391
Probably no longer per Promise. One possibility should be aiodataloader.
https://github.com/syrusakbary/aiodataloader

There is an entry about it here:
Graphene 3 dataloader #1273
https://github.com/graphql-python/graphene/issues/1273

Here you can see the modified documentation:
https://github.com/graphql-python/graphene/pull/1190/files/380166989d9112073c170d795801e2cd068ea5db#diff-3c9528a2b7a1be

[2022-02-05 13:15] ekiro commented on #1260
Any progress on that?

[2022-02-09 18:37] serramatutu opened #1406 "Latest Graphene (v3.0.0) is incompatible with latest gql (v3.0.0)"
# Current behavior
Current Graphene (v3.0.0) and GQL (v3.0.0) packages are incompatible due to no overlap between specified `graphql-core` versions.

If you try to install both using a package manager with a dependency resolver such as [Poetry](https://python-poetry.org/), it'll break.

# Demo project or reproducible steps
There's no need for a demo project. Here are the minimal steps to reproduce

[2022-02-14 04:00] bitnahian commented on #1260
Same issue. My CI fails with the following error:
[code]

[2022-02-14 21:40] astockwell commented on #473
@Instrumedley this SO answer appears to have the OP's answer: https://stackoverflow.com/questions/44070485/mutations-batch-creation-of-objects

[2022-02-21 17:27] ColeDCrawford commented on #343
Also hit this

[2022-02-26 17:51] Younes-Piro opened #1408 "import issue from graphene when using graphene-mongo"
Traceback (most recent call last):
  File "C:\Users\asus\OneDrive\Desktop\flask\first_app\app.py", line 9, in <module>
    from schema import schema
  File "C:\Users\asus\OneDrive\Desktop\flask\first_app\schema.py", line 1, in <module>
    import graphene
  File "C:\Users\asus\OneDrive\Desktop\flask\first_app\env\lib\site-packages\graphene\__init__.py", line 3, in <module>
    from .types import (

[2022-03-09 16:55] mcsimps2 commented on #902
If you still want to use the solution proposed by @WillySchu for queries, you'll need to make sure you're using the `Field` and `resolver` keyword arguments explicitly.  It works out of the box for mutations right now, but queries that rely on an implicit declaration of the `resolve_foo` method on the class will not route through the `catch_errors` decorator.

In other words, this won't work
[code

[2022-03-10 01:28] DenisseRR commented on #1277
@jkimbo
I am migrating to graphene 3 and I am finding myself blocked by this.

There are a lot of places where I am using `MyObjectType._meta.fields["my_enum_field"].type` to give type to my graphene inputs, and even in some places I have something like

[code]

this will give me a list of the enums, not a list of the values, which forces me add extra code that was previously done automatically.

[2022-03-14 11:02] ayyoubelamrani4 commented on #1283
Any news on this?

[2022-03-15 19:15] vivekthedev opened #1409 "cannot import force_text in Django 4.0"
**Note: for support questions, please use stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

The force_text in django 4.0 has changed to force_str

* **What is the current behavior?**
Here is the traceback
![image](https://user-images.githubusercontent.com/71426368/158454188-68a53b90-be8d-42e8-8c1c-f1a09aeca04b.png)

Hardcoding force_str in my site-packag

[2022-03-16 11:07] nrbnlulu opened #1410 "Exception handeling in query"
#513
### all the solution mentioned in this issue are for mutation, is there a way to send custom output for a query?

**I am trying to handle permissions for different queries and have decorators that
will filter premonitions from resolver example code would be like this:**
[code]

While this code works flawlessly with mutations it doesn't work with queries
because the the resolve function isn't

[2022-03-17 04:35] r4gesingh47 commented on #1409
Can i work on it?

[2022-03-17 09:05] ranahaani opened #1411 "from graphene.utils.str_converters import to_camel_case, to_const"
* **What is the current behavior?**

Getting error:

[code]

[2022-03-17 12:45] mannyanebi commented on #309
@Rich43 What were you trying to achieve here? I'm new trying to understand this. `return type(foo_id, (CreateFoo,), {})`

[2022-03-17 12:51] mannyanebi commented on #309
This worked for me, I wanted to reuse an inner `class Arguments` for child mutations

[2022-03-20 20:03] tcleonard opened #1413 "Argument with wrong value type do not raise an error"
Currently, setting the value of an input with the wrong type is not raising an error.
For example if the input as the type `UUID` and that you provide the value `2` it doesn't fail.

There are various cases like that (see tests in the pull request for an extensive list).

This is due to the fact that now no value is represented by `Undefined` and not `None` in graphql-core.

[2022-03-22 23:35] Ashish-Bansal commented on #268
Last year I spent a few weekends pulling off a very minimal PoC based on @syrusakbary idea of generating template code to improve GQL performance in python.

Here's the link to the same - https://github.com/Ashish-Bansal/graphql-jit

It's very vague, un-tested PoC implementation, and needs a lot of work.

I won't get time to work on it, so in case anyone is interested, they can work over that PoC.

[2022-03-23 18:25] samopus1io commented on #1344
Hi is there an update on this? we have the exact same problem and cant migrate to graphene 3 because of this - it is breaking all our APIs pretty much.

[2022-03-25 17:25] vteran93 commented on #810
Same here, I want to put a method in my Mutation class that is not allowed, so, my mutation will be really a long one,
[code]

[2022-04-01 12:12] erikwrede commented on #1410
Is there a  specific reason  for you to use a custom type for errors instead of referring to the inbuilt exception handling?
When you throw an exception in graphene, these errors are incorporated into your response:

[code]

Your wrappers could look like this:

[code]

The advantage of this approach is, that clients like Apollo support error handlers for this notation by default.

If for other rea

[2022-04-04 12:45] ddelange commented on #1406
FYI our current workaround is to pin to a `gql` release candidate:

[code]

[2022-04-04 13:38] serramatutu commented on #1406
@ddelange As a workaround, I vendored dependencies in the Dockerfile and added the import paths to be `from vendor.gql.gql import ...`. So I effectively installed 2 different versions of GQL.

[2022-04-04 18:04] sbhatm1213 commented on #1411
I'm also facing the same issue with Python 3.9.6

[2022-04-04 18:31] sbhatm1213 opened #1416 "ImportError: cannot import name 'six' from 'django.utils'"
Getting the following error :
`ImportError: cannot import name 'six' from 'django.utils'`

This import is present on the following file [I'm using Python 3.9.6 ] :
`  File "......../python3.9/site-packages/graphene_django/settings.py", line 18, in <module>
    from django.utils import six`

I'll be changing the import statement on my machine, to use https://pypi.org/project/six/ module instead of

[2022-04-04 18:38] sbhatm1213 commented on #1416
My bad, had to report this on `graphene-django` repo.

[2022-04-04 18:38] #1416 closed

[2022-04-04 20:07] DenisseRR commented on #1398
@jkimbo or anyone responsible. Please look into this. I am also experiencing this issue.

[2022-04-06 04:58] rarenatoe commented on #1394
Same behavior here. Shameless bump.

[2022-04-06 23:01] DenisseRR commented on #1391
tested with `aiodataloader` as suggested. It doesn't work.

I get:

`There is no current event loop in thread 'ThreadPoolExecutor-0_0'.`

[2022-04-07 23:28] alexlambson commented on #1198
This would definitely be nice to have

[2022-04-08 06:25] tcleonard commented on #1394
was solved by PR #6

[2022-04-08 06:25] #1394 closed

[2022-04-08 21:55] erikwrede commented on #1384
Hey, did it work? If so, feel free to close the issue.

[2022-04-12 19:57] aryadovoy commented on #777
What about validation for `graphene.relay`?
Now I'm doing it inside `mutate_and_get_payload()`, but I'm not sure that is the right decision.

[2022-04-13 15:20] julianmoji commented on #528
@mjmonroe Can you tell me please which are your libraries versions?

[2022-04-18 23:29] mariorojas commented on #1409
hello, any plan for solved this bug? I applied a work around editing `VENV/lib/python3.8/site-packages/graphene_django/utils/utils.py`

[code]

[2022-04-19 16:32] Ronjea commented on #1411
I think it was related to this https://github.com/graphql-python/graphene/commit/a1fc3688aa56cdf01e25d15e3be9c5f2a50694ac

[2022-04-19 16:40] Ronjea commented on #1379
[code]

If that works with you this is how I'm doing this

[2022-04-21 14:35] SimonKocurek commented on #772
Since `backend` usage is not documented and likely also unsupported a middleware can be used for the same purpose:

[code]

[code]

[2022-04-21 14:55] patrys commented on #772
Middleware is a poor fit because middleware is executed for each and every field resolver. For anyone interested, here's how we solved it in our codebase:

https://github.com/saleor/saleor/blob/fa288358ab8dfecb0f862c12edbc512ad0f3f000/saleor/graphql/views.py#L296-L302

[2022-05-01 19:14] erikwrede opened #1418 "Propsal: Add registry for enum conversion"
Graphene offers a convenient method to convert a Python-Enum (`PyEnum`) to a graphene-compatible enum (`GEnum`) using the `types.Enum.from_enum()` function.
However, this function creates a new type each time it is called, even when called with the same `PyEnum` twice:

[code]

`graphene-sqlalchemy` currently uses an enum registry to convert SQLAlchemy enums to corresponding graphene enums without

[2022-05-02 17:40] fugal-dy opened #1419 "Scalar types' methods should respect graphql-core's API"
When making a query with multiple arguments with variables and literals, the query will fails as soon as it comes to a literal, if it's a type that implements `parse_literal` that does not accept an additional `_variables` parameter.

**Steps to reproduce**

Define a schema with an attribute taking two arguments.

Execute a query with the two arguments only one of which is set by a variable value

[2022-05-02 20:15] flipbit03 commented on #1394
This is not solved, and is happening to me as well. Can we please reopen this bug? I have the same behavior as @Tomms93, @stabacco and @rarenatoe

Relevant packages in my setup:

[code]

I can run any kind of resolver/mutation without required parameters. They just appear as `None` in the mutation/resolver function. This is potentially a showstopper bug for me.

[2022-05-03 17:30] flipbit03 commented on #1418
This would be very helpful and also help a lot in keeping our data models sane.

This would also help in packages like `graphene_sqlalchemy`, where we just landed the ability to type the return of a `@hybrid_property` for GraphQL consumption, and returning a Python enum in a `@hybrid_property` is currently not possible (it is possible to support it - but it will not be a sound implementation as th

[2022-05-06 22:58] Cito commented on #1419
Thank you - I have merged this now into the master branch.

[2022-05-06 22:58] #1419 closed

[2022-05-09 03:51] multimeric opened #1422 "Update docs for v3"
The current documentation website hasn't been updated for Graphene v3:

![image](https://user-images.githubusercontent.com/5019367/167337144-bb56b4ef-ff85-4af8-934a-0dbc4f7b5393.png)
![image](https://user-images.githubusercontent.com/5019367/167337169-806797cb-ba08-46c7-aac6-ec2243eeb2ab.png)

The release notes are helpful, but if you are starting using Graphene for the first time with v3, it is c

[2022-05-11 11:23] kubami commented on #1127
What is the outstanding tasks to releasing the v3? All the TODO items have been checked off. I have been using the 3.0.0b7 for a year now.

[2022-05-11 11:34] flbraun commented on #1127
@kubami Graphene v3 has already been released on Nov 13 2021 (see [PyPI](https://pypi.org/project/graphene/#history)). Not sure what you're after?

[2022-05-13 20:27] rexledesma commented on #1406
Looks like this should beresolved with https://github.com/graphql-python/graphene/pull/1421!! Do you know when we should expect a new release of graphene with this change?

[2022-05-16 03:56] DarknessRdg commented on #1413
Hi, @tcleonard !

I'm just commenting the link to your PR:  https://github.com/graphql-python/graphene/pull/1414

[2022-05-16 14:39] jendrikjoe commented on #1081
Hey folks, I know this is quite stale, but I would like to pick this issue up 🙂
The problem is that all downstream repos providing this are incompatible with graphene3, e.g. https://github.com/loft-orbital/graphene-federation/tree/loft-master/graphene_federation and as soon as the project is getting bigger it is virtually impossible to use graphene without federation.
Before I pick this, I would j

[2022-05-17 18:59] myk4040okothogodo commented on #1411
downgrade your graphene packages to the ones below:
aniso8601==7.0.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
it just dependency mismatch

[2022-05-18 00:26] aryadovoy commented on #1070
Is it possible to pass `info` in `parse_value()`?

And how can I raise multiple errors after validations from all inputs?

[2022-05-18 00:35] aryadovoy commented on #1127
What about `UPGRADE-v3.0.md`?

[2022-05-18 08:17] jkimbo commented on #1127
@aryadovoy the release notes for v3 should cover all the changes you need to make: https://github.com/graphql-python/graphene/wiki/v3-release-notes

[2022-05-18 09:48] tlinhart commented on #1344
I've just encountered this issue as it breaks our API as well. It seems it was fixed in https://github.com/graphql-python/graphene/commit/19ebf08339263f0446235ddffbbab0e6d3f11699, at least for the `Argument` type.

[2022-05-20 12:35] vasanthjagani commented on #923
Do you know what the solution to this question is? I'm having the same problem.

[2022-05-20 12:39] inklesspen commented on #923
please do not tag random people who have nothing to do with this project. thank you.

[2022-05-20 13:00] vasanthjagani commented on #923
For the first time, I asked the question on Github. I don't know how to tag
the people. that is the mistake

On Fri, May 20, 2022 at 6:09 PM Rose Davidson ***@***.***>
wrote:

[2022-05-25 08:14] ddelange commented on #1406
pinging @Cito for this question

[2022-05-25 12:03] Cito commented on #1406
@ddelange Yes, I think this is resolved. But I'm not a Graphene maintainer and currently don't use it actively. I have passed the question on to the Graphene slack channel.

[2022-05-25 14:01] sangaline opened #1423 "How are DataLoader promises deferred so that batching can occur?"
I'm using `SyncExecutor` from `graphql-core` and `ImmediateScheduler` from the `promise` library with `graphene` v2.1.8. My understanding is that these should synchronously and immediately execute any promises when they are created. If I use a dataloader outside of graphene resolvers, I see evidence of this immediate execution:

[code]

outputs:

[code]

The `batch_load_fn` is called individually

[2022-05-25 17:56] richin13 commented on #1406
Pinging @mvanlonden since he was able to help with releases in the past! 🙏🏼

[2022-05-30 12:59] #1406 closed

[2022-05-31 23:55] rarenatoe commented on #1099
Graphene 3 broke my current setup of subscriptions with Django channels and redis.
Just putting it out there so that I can raise consciousness of this issue and others may not be screwed up like I was.

[2022-06-03 20:17] TomsOverBaghdad opened #1425 "Have required and NonNull true by default at the project level"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to explicitly set required a List field, or any field for that matter. It makes for really frustrating usage of our APIs that rely on typescript types generated by our graphene schema. We have to constantly add unnecessary checks and write more obtuse code just to satisfy our types. On top of that,

[2022-06-05 17:32] artemijan commented on #1409
In open source world you can always fork a repo and patch the issue, but I believe it would be more convenient to have this fix in main repo, moreover the fix is not so hard. Any plans to release a new version with a fix for that?

[2022-06-08 10:59] smari commented on #902
I too am looking for a solution to this. Specifically, I want to be able to report errors from resolvers and have the errors show up in the result in the appropriate place.

[2022-06-12 18:03] theodesp commented on #1312
I'm also interested in contributing here. I can triage issues, review PRs and fix bugs. Count me in!

[2022-06-14 13:36] theodesp commented on #1409
@mariorojas this is related to `graphene-django` and not `graphene`: See https://github.com/graphql-python/graphene-django/issues/1284.

[2022-06-14 13:38] theodesp commented on #1400
@Cito as the PR is merged we should close this ticket thanks

[2022-06-14 13:39] theodesp commented on #1389
@Kyliathy are you able to provide a PR for this? Thank you.

[2022-06-14 13:44] theodesp commented on #1408
@Younes-Piro you mention that you are using `python = "3.6"` but the actual import error shows that python 3.10 is used.

If you can update graphene to the latest version which supports 3.10 it should be fine.

[2022-06-14 14:57] #1400 closed

[2022-06-14 19:02] theodesp commented on #1404
@LeOndaz  I didn't find any issues with a different name:. For example I created another example in the examples folder named simple_example:

[code]

This imports the Patron model from simple_example and create an alias for it.

[code]

Is that something you considered?

[2022-06-14 19:39] theodesp commented on #1388
@antonmyronyuk could you just import this `NoSchemaIntrospectionCustomRule` rule and use this instead?

[code]

[2022-06-14 19:49] theodesp commented on #1351
As this type is not included in the official list of scalar type, it is considered an extension type. I would be more inclined to leave it out of this library.

https://spec.graphql.org/June2018/#sec-Scalar-Extensions

[2022-06-15 07:18] antonmyronyuk commented on #1388
@theodesp yes, standard `NoSchemaIntrospectionCustomRule` works fine

I mean `graphene.validation.disable_introspection.DisableIntrospection` should be fixed or replaced with standard validator to have the same behaviour

[2022-06-16 15:25] mariorojas commented on #1409
@theodesp agreed

[2022-06-16 16:50] #1409 closed

[2022-06-17 06:04] marcelofern opened #1427 "Should I use typed errors with Graphene?"
Hi folks,

I'm raising this issue to gauge ideas from the Python community on error handling best practices.

The usual way to handle errors in GraphQL is by inspecting the top-level `errors` key:

[code]

However, this is usually problematic for API clients as they don't know **what to expect** from this `errors` key.
This means that error **discoverability** is impacted.

Another downside, is th

[2022-06-17 21:50] theodesp commented on #1427
@marcelofern This looks like a nice improvement in the error representation of a mutation that plays well with the introspected schema. However is there anything that you would like from this library as you can implement this in userland already without any changes to the spec?

[2022-06-19 19:53] djstein commented on #1312
hi @jkimbo ! I am back on the open source train after leaving Apple this week and will be using Graphene as the core infrastructure at my new position. I would love to contribute as much as possible to this package.

I have been using Graphene for the past 4 years, and follow in @jamietdavidson's comments, where I have made advanced additions to Graphene in my apps via request logging, authenticat

[2022-06-20 05:41] jamietdavidson commented on #1312
@djstein @jkimbo Would either of you be interested in setting up a call later this week?

We can start the handoff process & start kicking this into high gear.

[2022-06-20 18:56] djstein commented on #1312
@jamietdavidson @jkimbo I am free to chat, the quickest way to reach me is on Twitter at (https://twitter.com/d_j_stein)

[2022-06-21 07:45] lrzp opened #1429 "InputObjectType.__init_sublcass_with_meta__ skips Meta.fields attribute"
In `InputObjectType.__init_subclass_with_meta__`, the `fields` of the `Meta` class (passed as an `options` arg) are never referenced. This in effect just skips them completely with stands in contradiction to the docstring.

[code]

`InputObjectType` has to be subclassed and `__init_subclass_with_meta__` has to be extended for this feature to work, like in [graphene.tests.issues.test_720](https://g

[2022-06-21 18:28] jkimbo commented on #1312
Great @djstein @jamietdavidson ! Are you both on the Slack workspace? It would be easier to coordinate things there with @tcleonard who has been picking up maintenance recently.

[2022-06-21 22:05] erikwrede commented on #1312
@djstein @jamietdavidson @tcleonard let me know when you schedule a call, currently working on Graphene-SQLAlchemy and would be happy to assist where I can :)

[2022-06-22 00:49] jamietdavidson commented on #1312
@erikwrede @djstein @jkimbo on Monday, July 18th, at 11:00 PDT, I will be on this Google meet link: https://meet.google.com/ieu-wtxe-tqe

I’ll leave it open for anyone who would like to join. I wish GitHub had direct messages, as I don’t feel comfortable sharing my email on a public thread.

Let’s review and talk about things there! If anyone needs to reschedule, you can also reach me on twitter (

[2022-06-22 05:10] pfcodes commented on #968
+1

[2022-06-22 08:01] erikwrede commented on #1312
@jamietdavidson see you there!
Also reposting the invite to the graphene-slack workspace :) Sharing a mail address should be more private there. Feel free to reach out!

https://join.slack.com/t/graphenetools/shared_invite/enQtOTE2MDQ1NTg4MDM1LTA4Nzk0MGU0NGEwNzUxZGNjNDQ4ZjAwNDJjMjY0OGE1ZDgxZTg4YjM2ZTc4MjE2ZTAzZjE2ZThhZTQzZTkyMmM

[2022-06-23 17:11] superlevure commented on #1391
I run into the same error as @DenisseRR, @AlexCLeduc did you manage to make `aiodataloader` work with Django?

If yes, could you share an example of doing so?

[2022-06-23 19:54] AlexCLeduc commented on #1391
@superlevure
I'm still on graphene 2 and promise-based dataloaders, but the async dataloaders definitely work. The docs should ideally cover this, I can't think of a scenario where I'd use the `GraphQLView` as is, without subclassing it with a bunch of stuff.

Below, an explicit async loop is created within a synchronous view. The important part is that you make sure you're executing the resolvers

[2022-06-24 11:10] erikwrede commented on #1391
@AlexCLeduc w.r.t. the AsyncGraphqlView, I think this is a `graphene-django` issue.  Maybe there is a way to upgrade `graphql-server` instead, supporting both sync and async views for all possible backends. But that is definitely a larger task.
I'm not using Django - how's the progress on event loops there? Can we expect event loops to be available for future versions or will it always be necessar

[2022-06-26 10:42] hutber commented on #1395
Off topic, but I would also like to use the feature, I'm currently trying to crack it, if I do I'll let you know. Also using postgraphile

[2022-06-26 11:33] hutber commented on #1395
I got it working with:

  app.use(
    postgraphile(process.env.DATABASE_URL || dbUrl, 'public', {
      appendPlugins: [ConnectionFilterPlugin],
      connectionFilterRelations: true,
      watchPg: true,
      graphiql: true,
      enhanceGraphiql: true,
      exportJsonSchemaPath: './graphql/schema/schema.json', //here is the key part
      exportGqlSchemaPath: './graphql/schema/schema.graphql'

[2022-06-27 02:43] marcelofern commented on #1427
Hi @theodesp

That's a great question.

My initial thought was to post this here to get some engagement first.

If this is a scenario that the community is interested in, the next step is to enhance the documentation about errors to have a note about `Expected Errors`.

This would be in the same vein as what Strawberry (another Python GraphQL implementation) has in its documentation page about err

[2022-06-27 10:02] erikwrede commented on #1427
I see your point, and I definitely see an improvement for API users using this approach.
What I don't like here is the non-uniform approach for querying vs mutating. Sometimes queries might also produce errors (for example due to an invalid attribute passed to a resolver). How should we transform this behavior to queries? I think handling mutation errors different from query errors might be confus

[2022-06-27 17:54] AlexCLeduc commented on #1391
@superlevure, after playing around a bit with v3, getting async resolvers/dataloaders working correctly is quite easy when calling the schema directly (e.g. `schema.execute_async`) but there's more work involved in getting graphene_django's `GraphQLView` class to play nice with that.

There is an [open PR](https://github.com/graphql-python/graphene-django/pull/1256) adding an `AsyncGraphqlView`, a

[2022-06-27 21:33] djstein commented on #1312
sorry gang @jamietdavidson @erikwrede , didn't realize the call was at 11 AM, pretty busy with work today. can we schedule a 5PM chat?

[2022-06-27 22:04] erikwrede commented on #1312
@djstein that's 5am CEST so I sadly won't be able to make it. Nevertheless, you are invited to contact me on the Graphene slack and I'll bring you up to speed ASAP :)

[2022-06-28 17:31] odigity commented on #1039
I'm confused.  "abstract = True" isn't mentioned anywhere in the Graphene docs.  Is that an official object option, and what behavior does it result in?

[2022-06-29 09:41] rshreemr12 opened #1433 "Dataloaders for existing REST APIs as data source"
Is there a feature already existing for dataLoaders to load graphene RESTFUL APIs as datasource

current Behaviour
https://docs.graphene-python.org/en/latest/execution/dataloader/#using-with-graphene
Existing docs provide info to load the data from database and load dataloaders by filtering id.

Please suggest if there a way to use dataloaders for existing REST APIs as data source.
Couldn't find i

[2022-06-29 17:00] erikwrede commented on #1374
Documentation definitely needs a rework. This is planned to happen and will be tracked in a new issue.

[2022-06-29 17:06] erikwrede commented on #1355
This is not a bug, as graphene is based on `graphql-core`. That library implements `graphql-js`. `@stream` and `@defer` are not part of the spec yet and are only contained in an experimental `graphql-js` branch.  If you're interested, please raise an issue in core. Maybe there is interest to implement the experimental branch for python. Graphene will only adopt this if the features get added to `c

[2022-06-29 17:06] #1355 closed

[2022-06-29 17:11] #1384 closed, assigned to nobody

[2022-06-29 17:12] #1316 closed

[2022-06-29 17:13] erikwrede commented on #1306
Closing this issue due to lack of activity. If further problems occur using the new starlette-graphene3 extension, please open up an issue in that repo.

[2022-06-29 17:13] #1306 closed

[2022-06-29 17:15] erikwrede commented on #1268
`dedent` from `graphql-core` should do the job.

[2022-06-29 17:15] #1268 closed

[2022-06-29 17:17] erikwrede commented on #1258
Documentation needs to be reworked. This will be tracked in a separate issue soon. If you are still interested in helping out, please keep an eye out on that! 🙂

[2022-06-29 17:17] #1258 closed

[2022-06-29 17:27] erikwrede commented on #1281
@Speedy1991's makes the most sense here and provides a clean implementation.
I don't see the use case for a different style of solution to this problem. If you do, please reply here or open a new issue with a compelling example.

[2022-06-30 14:42] erikwrede commented on #1422
Documentation needs an overhaul. This will be tracked in a separate issue soon!

[2022-06-30 14:42] #1422 closed

[2022-06-30 14:44] erikwrede commented on #1408
@theodesp mentioned the correct solution. The problem originates from `collections.abc` changes.

[2022-06-30 14:44] #1408 closed, assigned to nobody

[2022-06-30 14:47] #1356 closed

[2022-07-01 07:52] deadly-panda opened #1434 "Is it possible to dynamically create InputObjectType objects ?"
My problem: I have a method foo that takes an InputObjectType as input and does some logic, from those InputObjectType, I need to create, dynamically in the backend, other InputObjectType that will also be passed to the foo method.

When I try to create the InputObjectType, I get a type String is not json serializable.
Is what am saying possible ? or should refactor my foo method to take dicts or

[2022-07-01 08:51] erikwrede commented on #1434
Hey there, can you please provide a MWE to reproduce the error? Usually, you should be able to use your input types just like any other input fields in mutations.

[2022-07-02 02:57] ExHix opened #1435 "Cannot recognize query whose operation name contains space"
I met a query whose operation name contains space
[code]
This code printed out `None`.
But if I remove this space, everything works fine. I wonder if it is graphene itself issue.

[2022-07-02 09:17] erikwrede commented on #1435
http://spec.graphql.org/draft/#sec-Names
Spaces are not allowed in GraphQL names.

[2022-07-02 13:23] erikwrede commented on #1435
But there should be an error in result.errors!

[2022-07-05 10:34] erikwrede commented on #1427
Another example of a specification for error handling can be found here: https://hl7.org/fhir/graphql.html#errors

I'm wondering, given these possibilities, and the chance to implement all of @marcelofern's requested features in userland; is there any work needed here, or should we instead work on providing a comprehensive way to add extensions to your execution result?

[2022-07-07 11:04] felixmeziere commented on #1312
@djstein thanks for existing! ❤️❤️❤️ we were lost here

[2022-07-08 17:12] MilovanovM opened #1436 "BigInt type is not exposed on the root level"
There is the `BigInt` type https://github.com/graphql-python/graphene/blob/72c2fd5ec38af595519b2ab334696397760d2d81/graphene/types/scalars.py#L85
but it's not exposed here https://github.com/graphql-python/graphene/blob/72c2fd5ec38af595519b2ab334696397760d2d81/graphene/__init__.py#L11

[2022-07-11 13:53] erikwrede commented on #1340
Why do you consider this to be a bug? Can you provide a scenario where this appears unexpectedly/because of a bug?

[2022-07-11 13:56] erikwrede commented on #1386
This is a `graphene-django` issue, please reopen it there :)
I can't move the issue to that repository since I'm not a maintainer of the django extensions.

[2022-07-11 13:56] #1386 closed

[2022-07-12 05:05] marcelofern commented on #1427
Hi @erikwrede and thanks for your answer. Apologies for the late reply.

What I don't like here is the non-uniform approach for querying vs mutating. Sometimes queries might also produce errors (for example due to an invalid attribute passed to a resolver). How should we transform this behavior to queries? I think handling mutation errors different from query errors might be confusing to users. On

[2022-07-12 10:29] erikwrede commented on #1427
@marcelofern your points convince me. While I think the `query` part of this feature needs some extra discussion to get a great opinionated feature set, the mutations can be implemented in the suggested way.

I've discussed this with @jamietdavidson and a possible way to implement this in graphene could be by adding separate ErrorMutation types opinionating this optional feature.

[2022-07-13 07:28] lrzp commented on #1429
In my case, it was a creation of input fields dynamically based on a subset of model fields. I've tried to reproduce the Node behavior to keep things simple and DRY.

Node behavior:
[code]

How I want Input to work (according to docs):
[code]

How Input works right now:
[code]

This can be solved with some meta-programing but it leaves us with an overly complicated, hard-to-read hack.

[2022-07-14 08:13] marcelofern commented on #1427
@erikwrede an easy win would be to add a "how to handle errors" section in the documentation. [Strawberry](https://strawberry.rocks/docs/guides/errors#expected-errors) has a pretty good write up about this already, but I can see that Graphene is currently lacking one. This new section is the most obvious place for this to live under I can think of.

This hypothetical section wouldn't only include

[2022-07-14 08:43] erikwrede commented on #1427
@marcelofern sounds great! Documentation is definitely a topic that needs work.
The problem is that a general overhaul is necessary and we currently have no way to update the website. Trying to get that sorted but it might take some time. Once that's done and we know which way to go, documentation work can get started.

Is it okay for you to hold for just a little longer? Hoping to make progress t

[2022-07-14 21:34] marcelofern commented on #1427
@erikwrede

Absolutely, no worries at all. If you want my help clarifying anything just let me know. Cheers!

[2022-07-15 13:25] erikwrede commented on #411
@squarewave24 can you tell me the location of the error? Maybe we can add some checks.

[2022-07-20 15:58] erikwrede commented on #1433
This works very similar to the JS tutorial. As mentioned above, you will need to use aiodataloader. Now you need to create your grapheme object types with the correctly typed fields. Then create data loaders for all the object types. These should return an instance of the object type based on the object id. Inside of the dataloaders you can use httpx, requests or other HTTP clients to make your re

[2022-07-20 18:45] BenQuigley opened #1438 "Filtering docs point to wrong URLs"
**Note: for support questions, please use stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

* **What is the current behavior?**

At this graphene docs page: https://docs.graphene-python.org/projects/django/en/latest/filtering/ -
\- the hyperlink on "django-filter" in the first sentence 404s because it points to https://django-filter.readthedocs.io/en/mas

[2022-07-20 19:32] erikwrede commented on #1438
If you can find the respective .rst file in the docs folder of the repo, I'd appreciate a PR fixing the behavior. Other than that, I can not do much about the docs currently. Once we have better access to the website I will take this on.

[2022-07-20 19:32] #1438 closed

[2022-07-20 19:52] BenQuigley commented on #1438
Thanks!

[2022-07-22 07:52] sabyasachi commented on #543
The approach mentioned in this comment https://github.com/graphql-python/graphene/issues/543#issuecomment-738809332 works perfectly if there are no resolver methods in `class Account(graphene.ObjectType):. ..`. It doesn't seem to work if there are resolve_* methods for the object. These resolvers methods are getting called while returning the object.

Any recommendation for that?

[2022-07-22 19:33] smac89 commented on #1136
Can you show the definition for `car` query?

[2022-07-28 06:29] alexrintt opened #1439 "There's some way to set the `source` field param for nested fields?"
## Context

I'm currently trying to set my model user `User` subfield `user.actor.id` as field source of my `DjangoObjectType`.

This happens because there's other kind of users within the application like an `Organization` or even a `Bot` (all of them are actors).

## Example

Lets define a custom `Type`:

[code]

In the example above I define the login field source as `source='actor__login'` but

[2022-07-28 15:52] erikwrede commented on #1439
I think you'll need to create a resolver returning root.actor.login/resolving the actor first depending on your setup.

[2022-07-28 17:09] alexrintt commented on #1439
Yeah, but since it's only field configuration I created a function to generate the resolver itself:

[code]

Usage:

[code]

[2022-08-08 19:47] fireteam99 opened #1440 "Incorrect query AST when there are duplicated nested fields with different selection sets"
When resolving a query with duplicated nested fields with different selection sets, only the first selection set is available to the resolver info AST.

Given the following query:
[code]
When inspecting the AST available in `info.field_nodes`, only `firstName` will be available.

Expected behavior: the person resolver is called once, and `firstName` and `lastName` are available in the AST. Or, the

[2022-08-12 14:09] erikwrede commented on #1440
Thanks for the report and the easy-to-execute example!

I'm not too familiar with the part of GQL-Spec related to fragment merging. However, I suspect this might be an issue related to graphql-core. Can you reproduce this just using just graphql-core ObjectTypes, nothing graphene related?

[2022-08-12 16:46] NwawelAIroume commented on #1362
exp

Experienced the same issue. to make it work I used to send `NULL`

[2022-08-12 17:28] erikwrede commented on #1362
@NwawelAIroume are you on 3.x already?

[2022-08-12 18:39] fireteam99 commented on #1440
@erikwrede sounds good! I'll give it a try and report back.

[2022-08-13 13:07] erikwrede commented on #1195
Fixed: https://github.com/graphql-python/graphene/commit/19ebf08339263f0446235ddffbbab0e6d3f11699

[2022-08-13 13:07] #1195 closed

[2022-08-13 13:14] #1189 closed

[2022-08-14 10:47] erikwrede commented on #1413
Merged!

[2022-08-14 10:47] #1413 closed

[2022-08-14 11:13] erikwrede commented on #1427
@marcelofern
Sorry for the long wait! I've got more clarity on docs now. Working on getting the docs hosted on github pages.
That process will not negatively affect any ongoing documentation work.
Feel free to PR your suggested documentation!

Keep in mind: I want to add doctest to the docs, to prevent PRs from invalidating any of the docs in the future. It would be awesome if your PR already cont

[2022-08-15 08:46] erikwrede commented on #1312
Hey everyone,
We are trying to get things sorted right now and want to get started by adding some new features to graphene & overhaul documentation.
This issue will stay open as we are still looking for additional helpers!
Please contact me (Erik Wrede) directly on the [Graphene Slack](https://join.slack.com/t/graphenetools/shared_invite/enQtOTE2MDQ1NTg4MDM1LTA4Nzk0MGU0NGEwNzUxZGNjNDQ4ZjAwNDJjMjY0

[2022-08-16 18:19] karmingc opened #1443 "print(schema) does not include description"
* **What is the current behavior?**
The schema can be printed with the mutations and queries, however, the description of each individual mutation and query is missing.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via
a github repo, https://repl.it or similar.
1. build your queries and mutations as usual
2. Add docstri

[2022-08-16 20:15] erikwrede commented on #1443
Thanks for the report!
Due to time constraints its currently hard to provide support for non-critical bug fixes in 2.x, especially given that this is a bug that shouldn't appear in 3.0.

To get this fixed in time, it would really help if you could give some directions or try to find the root cause yourself. Happy to assist with a PR afterwards 🙂

[2022-08-16 21:01] karmingc commented on #1443
@erikwrede thank you for pointing that it's not up to date! I just noticed there was some incompatibility with flask-graphql, which is suggested to use `graphql-server[flask]` instead. Let me look into that!

[2022-08-16 21:01] #1443 closed

[2022-08-17 01:44] jamietdavidson opened #1445 "Add default error handling"
Creating this issue to open up an associated PR. Will include default error handling. More to come here shortly.

[2022-08-18 11:02] flbraun opened #1446 "Implement deprecation directive for field args, directive args and input fields"
The GraphQL spec finally allows using the `@deprecated` directive on field args, directive args and input fields (see graphql/graphql-spec#805)

It would be nice to support this in Graphene using the established `deprecated_reason='....'` kwarg to the respective constructors.

[2022-08-18 17:14] alexrintt commented on #110
I tried the solutions above and none worked for me, so I read the source code I saw they're parsing dotted Strings:

[code]

And the comment docs of `import_string` says:

    Import a dotted module path and return the attribute/class designated by the
    last name in the path. When a dotted attribute path is also provided, the
    dotted attribute path would be applied to the attribute/class ret

[2022-08-19 07:24] erikwrede commented on #1446
Sounds like a great addition!

TODOS for this:
- [ ] Is this already supported in graphql-core?
- [ ] Add deprecation reason field to Meta Options Classes and [Input]Field logic
- [ ] Check that required NonNull input fields are not deprecatable (see spec)

If someone is willing to work on a PR I'd be happy to assist and review!

[2022-08-23 12:13] lopatin opened #1452 "Confusing/incorrect DataLoader example in docs"
Hi all,

I'm very much new to Graphene, so please excuse me if this is incorrect, but it seems to me the code in the docs (screenshot below) will in fact make 4 round trips to the backend?

<img width="901" alt="image" src="https://user-images.githubusercontent.com/1187758/186154207-041da5ed-9341-4c75-bc10-73d3e950ef9a.png">

I don't see how it would be possible otherwise. Looks like these docs we

[2022-08-25 03:22] #1452 closed

[2022-08-25 14:45] odigity commented on #110
re: dotted-strings

I only discovered this feature because I inherited code from a contractor who used it in the code.  Don't know how they discovered it.

So... why isn't this documented?  And how are people handling the circular-import problem without that knowledge?  Surely this is a very common problem.  Having A refer to B and B refer to A is as normal as anything.

[2022-08-27 16:05] erikwrede opened #1453 "Switch coverage reports to use python 3.11 once it is fully released"

[2022-08-27 17:43] erikwrede opened #1454 "Correct documentation and use of type hints"
We should upgrade graphene to use modern type hints. In that process, type hints should be removed from the class/method documentation to have the code as the single source of truth for typing.
We can use https://github.com/tox-dev/sphinx-autodoc-typehints to automatically add type hints back into the docs.

Known issues:
#1100 , see #1282

[2022-08-27 17:45] erikwrede commented on #1100
New issue for type hinting is #1454. Will start addressing this soon.

[2022-08-27 17:45] #1100 closed

[2022-08-27 18:28] erikwrede commented on #1440
I had some spare time to recreate this in GraphQL. Behavior is the same. For further testing, I added a query using fragments and printed all contents of `info.field_nodes`. It seems like this has two entries instead of one.
The first entry contains the person with the `first_name` field and the second entry includes the person with the `last_name` field.
From the spec, I would have expected the m

[2022-08-27 18:33] erikwrede commented on #1439
Sorry for the late reply, didn't get the notification. Looks interesting! Do you want to open a PR and integrate it into the main repo?

[2022-08-27 18:38] erikwrede commented on #1396
Referenced the doc in the GH release.

[2022-08-27 18:38] #1396 closed

[2022-08-27 18:41] erikwrede commented on #1398
This was fixed by https://github.com/graphql-python/graphene/pull/1412 and is released in `3.1.0`

[2022-08-27 18:41] #1398 closed

[2022-08-27 20:42] Cito commented on #1440
@erikwrede The [section](https://spec.graphql.org/June2018/#sec-Field-Selection-Merging) in the spec that you linked to covers only validation, and in fact GraphQl-core has a validation rule that implements this section. However, that does not mean that the fields are merged before the query is run. The algorithm used for execution is described in [another section](https://spec.graphql.org/June201

[2022-08-27 20:58] erikwrede commented on #1440
Thanks for the insight&quick response @Cito! The technical details of field collection are something I haven't had to deal with before.

I think what @fireteam99 was looking for was a way to access the field nodes in a merged way _before_ the field collection happens. The solution I mentioned (and you confirmed) certainly does the trick.
For the sake of completeness, I'm curious: is there a better

[2022-08-27 21:24] Cito commented on #1440
@erikwrede I currently do not see a better approach, but I also do not understand the need for doing this.

To sum it up, the problem in the code used by @fireteam99 was that it only inspected the first item in `field_nodes`, but not the other ones. It can be fixed like this:

[code]

[2022-08-28 15:30] #1436 closed

[2022-08-29 18:32] fireteam99 commented on #1440
@erikwrede @Cito, thank you for spending the time to look into this issue! I did not realize that they would be in the other items in `field_nodes`. @Cito the solution you presented is exactly what I was looking for!

[2022-08-29 18:32] #1440 closed

[2022-08-30 09:04] Jacu93 commented on #445
@alfredrumss
Probably you solved it out by yourself but in case someone is looking for an answer in the future I will leave my comment. I'm not sure if this is the correct approach but let's say you have `JobDetailFilter` as `filterset_class` for `JobDetail`.

In that case your `JobNode` would look like this:
[code]

As you can see there is a possibility to pass predefined queryset as `__init__` a

[2022-09-09 16:47] tasiotas opened #1460 "set field name explicitly"
Hi,

How can I set field name explicitly? By default field name is derived from class name. Can I override it?
In ObjectType source I can see comment that its possible, but I cannot get it working.

I have
[code]

Would like to have field called `mediaitemSet` not `usermediaitemSet`. Btw. this Model is a ForeignKey, hence 'Set' at the end.

From types/objecttype.py
[code]

[2022-09-11 05:06] tasiotas commented on #1460
sorry, I posted it in wrong repo, its about graphene-django

[2022-09-11 05:06] #1460 closed

[2022-09-14 11:50] tcleonard commented on #1394
This was released in graphene >=3.1 so it's normal you still get it if you are using versions below that

[2022-09-14 20:22] anentropic commented on #1454
This would big a big help to anyone wanting to use graphene in a typed codebase

Because the 3rd party type defs we've been using seem to be abandonware (e.g. https://github.com/trialspark/graphene-stubs/pull/27 and no commits for ~3 years)

[2022-09-19 08:17] #1276 closed

[2022-09-22 10:12] felixmeziere commented on #1281
Thank you

[2022-09-22 10:44] felixmeziere commented on #1391
This working would be life-changing for us!

[2022-09-22 13:15] AlexandrOnuf commented on #1344
![image](https://user-images.githubusercontent.com/32614537/191752811-4455866e-e789-4585-8db5-c76778fb8203.png)
![image](https://user-images.githubusercontent.com/32614537/191752967-7bbe556e-f9c3-4dd2-b51d-4837e3005b70.png)
I assume, as a theoretical temporary solution, it can be something like
[code]

[2022-09-23 11:21] erikwrede commented on #1344
As @tlinhart mentioned, this is fixed in the newest release.

[2022-09-23 11:21] #1344 closed

[2022-09-23 13:51] jkimbo commented on #1391
So after investigating lots of other options for supporting DataLoaders with Django I've come to the conclusion that the best approach is by implementing a custom execution context class in graphql-core to handle "deferred/future" values. I've proposed this change here https://github.com/graphql-python/graphql-core/pull/155 but until we can get it merged into graphql-core I've published a library

[2022-09-23 13:53] erikwrede commented on #1117
Looks interesting, I will have a deeper look into this soon

[2022-09-23 15:08] AlexCLeduc commented on #1391
Thanks @jkimbo! Will this work in a nested context, e.g. dataloaders that compose one another, or a resolver that calls multiple dataloaders? It's not obvious to me how to chain futures

[2022-09-23 15:52] jkimbo commented on #1391
@AlexCLeduc can you give an example of what you mean?

[2022-09-23 16:10] AlexCLeduc commented on #1391
@jkimbo  Promises were chainable using the `.then(handler)`  api. Are your future objects also chainable?

If a resolver requires 2 dataloader calls, e.g. a grandparent field that calls a parent_loader twice, using the old promise API would look something like this,

[code]

[2022-09-23 17:28] jkimbo commented on #1391
@AlexCLeduc ah yeah that's not possible yet but I'll have a look at adding it.

[2022-09-26 19:27] TomsOverBaghdad commented on #1425
Messaging to hopefully get a response. I'm happy to put up a PR but if it's not going to be accepted from the get-go then I won't waste my time. It wouldn't break existing functionality allowing the user to opt in to defaulting to optional or required.

[2022-09-26 19:40] erikwrede commented on #1425
Hey there, sorry for the wait. I think this would be a great Quality of Life improvement for many users. We should discuss where this is best implemented. Cleanest option would probably be an argument of the `Schema` class. However, that  might create issues in the field initialization phase. I haven't had the time to look into it yet. Happy discuss any ideas you come up with!

[2022-09-26 22:44] TomsOverBaghdad commented on #1425
@erikwrede thanks for responding!! I have an idea and would love your opinion.

I could maybe doing some sort of global settings module that one could set at the start of their program. Then updating the [Field](https://github.com/graphql-python/graphene/blob/97abb9db4256afbb705292d3bbd03bcb143cf21c/graphene/types/field.py#L75) __init__ required param to `required=None` and if the value is none, s

[2022-09-30 14:47] ArjunSrR commented on #1131
Hi Cito,

I am new to graphql, I have n column want to apply distinct on a single column based on query input and return that alone using graphene. Is that possible?

[2022-09-30 14:48] ArjunSrR opened #1462 "Distinct on a single field"
Hi
I am new to graphql, I have n column want to apply distinct on a single column based on query input and return that alone using graphene. Is that possible?

[2022-09-30 20:39] Cito commented on #1462
This is not a bug, but a question, which I do not understand. You need to be more precise. Note there is no concept of "column" in Graphene. Sounds more like a database related question.

[2022-09-30 20:39] Cito commented on #1131
@ArjunSrR see #1462

[2022-10-03 07:10] ArjunSrR commented on #1462
Hi, Thanks for your reply.

I am using python to setup GraphQL server, I have a DB and I am connecting it through SQL Alchamey . I am using  SQLAlchemyConnectionField(from graphene_sqlalchemy import SQLAlchemyConnectionField, SQLAlchemyObjectType
)
I get some builtin for sort and pagination. Now I am implementing "DISTINCT"

If I use (files_query.order_by(*sort).distinct()), I can resolve and get

[2022-10-03 12:00] erikwrede commented on #1462
Hey Arjun,
this is the graphene repository.
Apart from issues regarding our integration with SQLAlchemy, `graphene-sqlalchemy`, we cannot provide support for SQLAlchemy here.
Anyways, this might help you:
https://stackoverflow.com/questions/14105503/sqlalchemy-distinct-only-on-one-column

 In the future, please use StackOverflow or the relevant docs of SQLAlchemy for questions not related to graph

[2022-10-03 12:00] #1462 closed

[2022-10-04 17:55] ericls commented on #1391
Thanks @jkimbo for graphql-sync-dataloader.
We were having the same issue and decided to translate the default executecontext to be promise aware and promise based. I started translating it as a fork of graphql-core a few weeks ago, but decided to publish the execute context as a separate package here: https://github.com/fellowapp/graphql-core-promise.

[2022-10-04 23:50] AlexCLeduc commented on #1391
@jkimbo thanks for adding chaining! I tried to use it but I couldn't find an analog to `Promise.all` or `Dataloader.load_many`

Thanks @ericls, your execution-context class was a drop in replacement and works beautifully! I didn't think this was possible without modifying graphql-core.

[2022-10-05 01:13] ericls commented on #1391
Glad you find it useful!

That was basically a re-write of execution context, I'm glad graphql-core provides an API to override it. By the way, are you in Ottawa Canada?

[2022-10-05 10:31] felixmeziere commented on #1391
Thanks a lot @jkimbo !!!

[2022-10-05 12:57] AlexCLeduc commented on #1391
@ericls yes I'm in that Ottawa haha. Glad to hear fellowapp is still using promises, makes me feel less crazy 😄

If anyone is interested in the generator syntactic sugar I described in the OP, it's [quite simple](https://alexcleduc.com/posts/python-pleasant-promises/) to implement. Not having to rewrite it is a motivation to keep using the old promise library

[2022-10-09 05:31] glusa8 opened #1464 "Exception is swallowed in mutation"
**Note: for support questions, please use stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

* **What is the current behavior?**
When I throw an exception in a mutation, the exception does not show up (double checked on GraphiQL). If there is a way to have the exception show up, I couldn't find it in the documentation. Is swallowing the exception an expec

[2022-10-11 02:26] nzjs commented on #603
How did you resolve this @sebastiandev ?

[2022-10-13 21:17] jestevez-cds commented on #702
Shouldn't a `NonNull` field use it's default even when passed `None`?
For instance, I would expect the following to pass.

`def test_default_as_kwarg_to_NonNull():
    # Related to https://github.com/graphql-python/graphene/issues/702
    class User(ObjectType):
        name = String()
        is_admin = NonNull(Boolean, default_value=False)

    class Query(ObjectType):
        user = Field(User)

[2022-10-14 11:04] jkimbo commented on #702
@jestevez-cds `default_value` is passed as the 3rd param to `getattr` which is why it returns `None` even if you have a default value: https://github.com/graphql-python/graphene/blob/7ecb4e68ba03a65908752cb17de101dc51b3e220/graphene/types/resolver.py#L1-L2

You can override the default resolver if you like by using the [`set_default_resolver`](https://github.com/graphql-python/graphene/blob/7ecb4e

[2022-10-14 11:38] zedzior opened #1465 "`graphene.Enum` returns wrong `name` if members with different names have the same value"
* **What is the current behavior?**
[code]

[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via
a github repo, https://repl.it or similar.

1. create some `graphene.Enum` object
2. add two members with different name, but the same value
3. try to access both member's name

* **What is the expected behavior?**
[code

[2022-10-14 12:09] jestevez-cds commented on #702
@jkimbo That's super helpful. Thank you!

[2022-10-14 13:08] jkimbo commented on #1465
@zedzior this happens with the built in Python enums as well:

[code]

[code]

[2022-10-14 13:16] zedzior commented on #1465
@jkimbo Was not aware, thanks for quick reply!

[2022-10-14 13:16] #1465 closed

[2022-10-18 07:11] nandinichaurasiya commented on #1059
I got the same error:
error: unknown file type '.pyx' (from 'graphql/graphql_ext.pyx')

These commands worked for me to get rid from graphql errors.
pip install pip --upgrade
pip install setuptools --upgrade
pip install gql[all]

[2022-10-18 13:28] shahzaib-tk commented on #1388
Hey @theodesp, @antonmyronyuk, what is "THE QUERY'? Can you please explain it with an example? I want to disable introspection. What should I write here?

[2022-10-19 07:45] cglacet commented on #268
This thread is interesting but kind of hard to get a grasp on. That would be great if someone competent, like a maintainer of `graphql-core` or `graphene` could make a summary of the different solutions that still exist today (potential gain depending on the use case, potential issues, required version of `graphene`/`graphql-core`, maturity of the solution).

I also have a few questions:

* Is the

[2022-10-19 16:11] SomeAkk opened #1468 "Is there any way to transform variables before resolving fields?"
**Is your feature request related to a problem? Please describe.**
We got queries with variables. One variable is popular and it's need to be transformed every time when query calling.

**Describe the solution you'd like**
Need something function like `transform_before_xvariablenamex()` or another variant to transform variable before start to use it in `resolve_xxx()`

**Describe alternatives you'

[2022-10-21 17:54] AlexCLeduc commented on #1391
When I opened this issue, I was unaware the execution context was capable of adding promise support. I'm happy enough with @ericls's solution, we can close this

[2022-10-22 18:14] gitexel commented on #3
@syrusakbary Hi, each time I generate GQL schema, some fields' order changes.
<img width="839" alt="Screen Shot 2022-10-22 at 8 11 49 PM" src="https://user-images.githubusercontent.com/14273726/197356258-c54d223c-310c-47e8-8c7d-a4e9ffd828a1.png">
Any I idea how I generate it, to be in the same order?
My goal is to trace schema changes in git.

[2022-10-23 18:12] erikwrede commented on #1464
This is an issue with `graphene-django` which is not directly related to graphene.
You can find some solutions in this thread: https://github.com/graphql-python/graphene-django/issues/124
If that doesn't solve the issue, feel free to open another one over there 🙂

[2022-10-23 18:12] #1464 closed

[2022-10-23 18:16] erikwrede commented on #1468
Do you have an example use case for this?

Solving this for query variables exclusively is problematic since users are always free to not use variables and directly insert the data into the query, skipping all your variable processing.

If you're talking about resolver arguments in general (not limited to those passed using variables), injecting the processed values into `info.context` via e.g. mi

[2022-10-24 18:06] #1333 closed

[2022-10-24 20:51] SomeAkk commented on #1468
Maybe that will smels, but it is our code.

So: in variables we got services cross filters.
It's like "our_awesome_dsl" which used for filtering data in backends: main idea to make frontend's live simple and give them "one instrument".

Because of long migration to that silver dsl in other services, we need sometimes to transform input filters (our common library for python use current version and

[2022-10-28 08:25] khink opened #1469 "Question: Document how to raise exceptions to get an "errors" list in response"
First off, this is a question. I apologize for creating a ticket here. As suggested in the "bug report" issue template, i [asked on StackOverflow](https://stackoverflow.com/questions/74137226/in-graphene-django-how-do-i-return-an-errors-list) first, but unfortunately there are no responses yet. I realize this does not give me the right to create an issue . I'm hoping my question might benefit the

[2022-10-29 07:40] erikwrede commented on #1469
I believe that this  problem is caused by `graphene-django` rather than graphene. Usually, raising a graphql error should add  an entry to the errors list for the specific resolver (identified by the path) rather than return a string. I'm usually on a non-django stack and it works exactly like you'd expect. I'll search through the code and get back to you!

[2022-11-01 18:37] nickvellios opened #1470 "n+1 queries in execution dataloader docs"
* **What is the current behavior?**

https://github.com/graphql-python/graphene/blame/master/docs/execution/dataloader.rst#L57-L58

[code]
Database is hit once for each user.

---

* **What is the expected behavior?**
[code]
A **single** query can be used to fetch all user IDs and users

---

* **What is the motivation / use case for changing the behavior?**

Performance

[2022-11-02 11:37] jkimbo commented on #1470
@nickvellios I'm not sure what you mean. Running `User.objects.filter(id__in=keys)` should only execute 1 db query. Are you seeing something different?

[2022-11-02 13:08] nickvellios commented on #1470
When you take the part out that causes the n++1 queries, of course it goes away.  But this dictionary comprehension is the problem, NOT the filter.

[code]

[2022-11-02 14:58] nickvellios commented on #1470
@jkimbo
[code]

However, I'm now seeing that either Django or Postgres is caching, so running this a second time outputs 1 & 2 instead of 7 & 2.  Reindexing and discarding query plans didn't seem to revert it and now I can't reproduce this easily.

[2022-11-02 19:01] nickvellios commented on #1470
Closing out this issue.  Using graphene 2.x and having inconsistent results.  Will test further when we upgrade.

[2022-11-02 19:01] #1470 closed

[2022-11-03 07:56] jendrikjoe commented on #1081
Given that there is https://github.com/graphql-python/graphene-federation now, I think this issue can be closed right? 🙂

[2022-11-03 10:20] erikwrede commented on #1081
Graphene federation with support for graphene v3 is officially released in the `graphene-federation` repo of this organization! Federation v2 support is coming soon.

[2022-11-03 10:20] #1081 closed

[2022-11-09 23:33] vhutov commented on #1446
@erikwrede Hi Erik. Is this issue still relevant? I'd like to give it a try

[2022-11-10 07:09] erikwrede commented on #1446
@vhutov Yes this is still relevant. Sounds great! Feel free to tag me when you need a review 🙂

[2022-11-15 07:48] #1385 closed

[2022-11-16 20:27] #1230 closed

[2022-11-16 20:30] #1264 closed

[2022-11-16 20:38] #1296 closed

[2022-11-18 02:13] akshaybabloo commented on #1240
I think the documentation needs a proper update

[2022-11-22 01:00] simkessy opened #1479 "Mutation error: must be a mapping (dict / OrderedDict) with field names as keys or a function"
I'm trying to return an object / class in my mutation response but Im getting this error:

`AssertionError: Success fields must be a mapping (dict / OrderedDict) with field names as keys or a function which returns such a mapping.`

[code]

[2022-11-22 11:06] #1479 closed

[2022-11-22 13:38] SomeAkk opened #1480 "How to desirelize from graphene object to json?"
Try to desirelize from graphene object to json, and do not know how to.

[code]
Want in json_mail see json or dict (which can be dumped to json with json.dump())

[2022-11-22 14:53] ramonwenger opened #1481 "Duplicate types when using SerializerMutation with a Model having "choices""
**Note: for support questions, please use stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

* **What is the current behavior?**

When defining a Mutation with the parent SerializerMutation, graphene will try to generate two types with the same name, resulting in the error `AssertionError: Found different types with the same name in the schema: xxx, xxx.`

[2022-11-23 20:41] erikwrede commented on #1481
This is unlikely to be related to `graphene`, but rather an issue of the `SerializerMutation` in Graphene Django. Graphene itself does not automatically generate any enums and as such is unlikely the root cause of this issue.  Moving to graphene-django.

[2022-11-23 23:25] matt-dalton commented on #1347
Did you find anything workable here @GABAnich ? I was also thinking directing mutation responses to the write database would be a useful abstraction

[2022-11-24 06:29] erikwrede commented on #1347
Moving to Graphene-Django, as this issue doesn’t address any core features of graphene.

[2022-11-24 07:49] nnluk1010 opened #1482 "How to use resolve in Graphene Relay Node?"
How can I use `resolve` in `relay.Node.Field`?

I have tried to use `resolve` in `DjangoFilterConnectionField(CategoryNode)`, and it works.

But it does not work when I use the same `resolve` function in `relay.Node.Field(CategoryNode)`

This is my code:

[code]

When I call the following GraphQL:

[code]
The terminal will return `###TESTING resolve_category###`

However, if I call the following G

[2022-11-24 08:46] erikwrede commented on #1482
That's because `DjangoFilterConnectionField` is a subclass of `relay.connection.ConnectionField` (=`IterableConnectionField`), not `relay.node.NodeField`.
graphene-django's `ConnectionField`s use the following `wrap_resolve` logic from `graphene.Field` to access the parent resolver:

https://github.com/graphql-python/graphene-django/blob/4517e3222499a1aca7c1110204ce5b27d9c911be/graphene_django/fie

[2022-11-24 08:56] erikwrede commented on #1480
Graphene Types are currently not json-serializable without further. Why do you need this feature?

[2022-11-24 09:30] nnluk1010 commented on #1482
Thanks for the answer so much.

As I would like to add the authorize logic in `relay.Node.Field` only, so I found some solution in [https://stackoverflow.com/a/70252461/8879544](https://stackoverflow.com/a/70252461/8879544) and [https://stackoverflow.com/a/70967496/8879544](https://stackoverflow.com/a/70967496/8879544).
But I think those solutions do not work as they use resolve in `relay.Node.Fie

[2022-11-24 09:30] #1482 closed

[2022-11-24 09:40] erikwrede commented on #1482
It is a good practice to separate auth logic from resolver logic.
A custom middleware could be a good place to start: https://docs.graphene-python.org/en/latest/execution/middleware/#middleware

You can always access the current request using `info.context.request`. If you have JWT/Cookie based auth, you will be able to resolve the current user from that. Then you can inject that into your context

[2022-11-24 09:53] SomeAkk commented on #1480
You know, it was so genius idea, that I'm ashamed to tell))
Main idea was to use graphene for data validation: just to not to use another library in project, but after research a found that there is no any variant to do that, so by that there is no any need to dump graphene objects to dict/json.

I thing problem solved.

[2022-11-24 11:37] nnluk1010 commented on #1482
Thanks for the sharing and I will read and study those reference :)

[2022-11-29 16:47] louistwiice opened #1483 "cannot import name 'connection_from_list_slice' from 'graphql_relay.connection.arrayconnection'"
Hi everyone,

I am using graphene with the following stack am facing the following error after running the project
* FastAPI
* sqlalchemy
* graphene

`
 File "/.pyenv/versions/3.9.10/envs/fastapigraphene/lib/python3.9/site-packages/graphene_sqlalchemy/__init__.py", line 1, in <module>
    from .types import SQLAlchemyObjectType
  File "/.pyenv/versions/3.9.10/envs/fastapigraphene/lib/python3.9/sit

[2022-11-29 17:15] erikwrede commented on #1483
You're using starlette-graphene3 but graphene-sqlalchemy <3 which is incompatible with the starlette integration. You'll need to upgrade to graphene 3 & graphene-sqlalchemy 3 beta (latest is 3.0.0b3). Please let me know if that works!

[2022-11-29 18:01] louistwiice commented on #1483
Hello @erikwrede

Thank you very much for your help. It works now perfectly. There is no more problem

[2022-11-29 18:01] #1483 closed