[2015-10-08 23:58] ashinohara opened #3 "How do you introspect the schema?"
I see that the graphiql interface is able to introspect the schema, but I am not sure how you would export the schema form python.  I see the introspect function on the Schema object, but that simply returns the objects from the type_map.

[2015-10-09 00:34] syrusakbary commented on #3
@ashinohara I've fixed the introspection method in the schema.
Just update your graphene package to `0.1.3` version and run in your `graphene.Schema`:

[code]

[2015-10-09 00:34] #3 closed

[2015-10-09 00:49] syrusakbary commented on #3
Thanks @jhgg for showing me the way :wink:

[2015-10-09 01:01] jhgg commented on #3
No problem!

[2015-10-09 16:10] ashinohara opened #4 "Query does not support snake case query names"
When I create a query that has a snake case name and attempt to execute it, I get the following error:

    [graphql.core.error.GraphQLError('Cannot query field "work_order" on "Query".')]

Here is what my query looks like:

     class Query(ObjectType):
        work_order = Field(WorkOrder, id=graphene.Argument(graphene.String))

        @resolve_only_args
        def resolve_work_order(self, id)

[2015-10-09 16:14] jhgg commented on #4
Yes, that is the intended behavior. If you want the snake_cased name (which I don't recommend you do -- keep with convention and use camelCasing) you can simply pass `name='work_order'` to the Field constructor.

[code]

[2015-10-09 16:19] ashinohara commented on #4
Great, thanks.  I am more concerned with the fields when defining the schema actually, where name seems to work as well:

    class WorkOrder(Node):
        id = IDField()
        state = StringField()
        nodes = ListField(WorkOrderNode)
        req_uid = StringField(name='req_uid')

Since we are defining the schema in python it is nice to make it more pythonic.  Why don't you recommend using

[2015-10-09 17:17] jhgg commented on #4
The schema is generally going to be consumed by a JavaScript application. Casing there is camel. Graphene will keep things in Python snake cased, but outwards facing graphQl schema will be camel cased which is generally the convention for JavaScript and grqphQL.

[2015-10-09 17:24] ashinohara commented on #4
Thanks for the clarification!

[2015-10-09 17:24] #4 closed

[2015-10-09 18:56] syrusakbary opened #5 "Allow custom settings, executor in the schema"
As @jhgg tagged, could be great if we allow custom executor (or custom executor settings) in the schema.

[2015-10-09 19:00] jhgg opened #6 "Resolver Tagging"
`graphql-core` supports "tagging" a resolver (via `core.execution.middlewares.utils`) as a way to signal special handling of the resolver in an `ExecutionMiddleware`.

The main example is that we have `GeventExecutionMiddleware`. By default, this middleware does nothing when processing resolvers. But when it is given a resolver that is tagged with (`@run_in_greenlet`) it will spawn a greenlet to e

[2015-10-09 19:07] jhgg commented on #6
`graphql-core` also supports py3.5 asyncio, graphene's resolve functions should also support `async/await` in py35.

[code]

[2015-10-09 19:13] jhgg opened #7 "Executor Customization"
I think that it would be beneficial to be able to pass a custom executor to a Graphene schema, so that it can use it to `execute` the query.

I'm thinking either:
[code]
OR
[code]

By default it should use the default executor instance. I am going to expose an API for this in `core.graphql.execution`

[code]

The default executor will be configured to be a synchronous executor. In addition, you wi

[2015-10-09 19:15] syrusakbary commented on #5
Duplicated and better explained in #7.
Closing this one

[2015-10-09 19:15] #5 closed

[2015-10-09 19:33] jhgg commented on #7
I've added the get/set default executors in `graphql-core`. https://github.com/graphql-python/graphql-core/commit/ad228f0087968d6e5706f4f90cd3a40e9c7de736

[2015-10-10 05:39] syrusakbary commented on #7
I want to have automatic field ordering in graphene enabled as default, which is in contradiction with what graphql-core thinks it should be
However you should be still able to change it whenever you want. Going to merge the code soon.
Let me know your thoughts on that @jhgg

[2015-10-10 05:39] #7 closed

[2015-10-11 00:20] jhgg opened #9 "`tox` tests not working for me"
Tried to run `tox` but the tests wouldn't load!

[code]

[2015-10-11 00:50] #9 closed

[2015-10-11 00:50] syrusakbary commented on #9
Done! :wink:

[2015-10-11 00:57] jhgg commented on #9
Yup. That works. Thanks!

[2015-10-13 01:45] mbetz08 opened #10 "models.UUID not supported for Django versions < 1.8"
I'm currently running Django 1.6.5, and ran into an error while trying to run graphene:

[code]

The [Django UUID model field](https://docs.djangoproject.com/en/1.8/ref/models/fields/#uuidfield) was added in Django 1.8, yet the `setup.py` script notes [support for Django versions 1.6 and above](https://github.com/graphql-python/graphene/blob/master/setup.py#L68).

Would it be possible to remove th

[2015-10-13 02:34] syrusakbary commented on #10
Sure!

[2015-10-13 02:40] #10 closed

[2015-10-13 02:41] mbetz08 commented on #10
Thanks @syrusakbary!  :raised_hands:

[2015-10-14 22:13] jhgg commented on #6
I have more testing to do with 40b88bc. I'll have an answer for you tomorrow. Was just super busy today.

[2015-10-16 02:17] #6 closed

[2015-10-21 10:12] Globegitter opened #13 "Field "myTests" argument "id" of type "ID!" is required but not provided."
First of all great work on these sets of python libraries they really seem great so far :)

Anyway, just trying out graphene 0.1.6.0 (on python 2.7.x) with react/relay for the first time so might be some beginners mistake, But having

[code]

I am managing to return some data with hand-written queries, but trying a query that react passes, e.g.

[code]

just throws the error `Field "myTests" argum

[2015-10-21 11:06] Globegitter commented on #13
Sorry to keep on piling here, but seems I am running into this issue: https://github.com/facebook/relay/issues/112

[2015-10-21 14:06] Globegitter opened #14 "Bug in relay.NodeField"
When the name of MyNode in the relay tests: https://github.com/graphql-python/graphene/blob/master/tests/relay/test_relayfields.py#L22 is changed to anything else (and updated here https://github.com/graphql-python/graphene/blob/master/tests/relay/test_relayfields.py#L31) then graphene seems to throw the following error: `[GraphQLError('Type MyNode not found in <Schema: Schema (8778058338473)>',)]

[2015-10-21 19:44] syrusakbary commented on #13
The easiest solution is add a viewer field to your query.
This is how SWAPI Graphene is dealing with it:
https://github.com/graphql-python/swapi-graphene/blob/master/starwars/schema.py#L143
https://github.com/graphql-python/swapi-graphene/blob/master/starwars/schema.py#L169-L170

Closing this issue, please reopen it if you think have something to do with this implementation.

[2015-10-21 19:44] #13 closed

[2015-10-21 19:48] syrusakbary commented on #14
Somehow the schema is not able to reach the node you mentioned.
A easy hack is doing:
[code]

However if you can create a Gist would be great, I would like to know why the schema is not reaching your node.

[2015-10-22 07:46] syrusakbary commented on #14
@Globegitter is this problem solved? Let me know for closing the issue.

[2015-10-22 09:27] Globegitter commented on #14
Sorry, after a quick sprint yesterday I had to put our relay advancements on hold for the time. For now I am just using a connectionfield as a workaround. Will put up an example as soon as I get time the next few days.

[2015-10-25 23:03] syrusakbary opened #15 "Improvements next stable package"
Based on a new implementation, is needed to improve the following things for next stable package:

* [x] Schema lazy type registering: Register types as schema access it.
* [x] Simplify schema base types. Avoid @memoize hacks. EDIT: Partially resolved in fields. Improve schema type getter
* [x] Add field description based on resolver function `__doc__`
* [x] Add python class `enums.Enum` mapping t

[2015-10-30 07:56] syrusakbary commented on #15
@jhgg Check the reasons for `graphene` for not going through a TypeRegister.

[2015-10-30 07:57] syrusakbary commented on #15
And post any advantages that I might be missing! I would love to discuss that! :)

[2015-10-30 22:08] syrusakbary opened #17 "Improve syntax using linter"
Improve syntax.
Add linter to testing, using flake8

[2015-10-31 20:59] #17 closed

[2015-11-02 01:46] syrusakbary commented on #15
Feel free to reopen the task for discussing that! :)

[2015-11-02 01:46] #15 closed

[2015-11-02 01:47] syrusakbary commented on #14
@Globegitter ok! Let me know!! I would love to fix any problem as soon as possible!

[2015-11-04 22:01] syrusakbary opened #18 "Improvements next stable package"
Inspired by other GraphQL implementations, next version should be able to:

* [x] Simplify Fields definition (rename `graphene.{type}Field` to `graphene.{type}`).
* [x] Add Types dynamic instantiation into ObjectTypes, Interfaces (as field), or in Field kwargs (as Arguments)
* [x] Add `.List` , `.NonNull` to Types
* [x] Add Union Type
* [x] Add Scalar Type (for having, for example a DateTime Scala

[2015-11-04 22:39] jhgg commented on #18
Mmmmmmmm. Good ideas.

[2015-11-05 09:42] syrusakbary opened #19 "Add documentation"
Add documentation based on the GraphQL one: http://graphql.org/docs/getting-started/

Also, improve based in other implementation docs. (sangria)

Sections:
- Scalars
- Interfaces
- ObjectTypes
- Unions
- InputTypes
- Mutations
- Relay
- Schema
- Django Models

[2015-11-06 20:52] syrusakbary opened #20 "Add Playground"
Using [Skulpt](http://www.skulpt.org/)/[Brython](http://www.brython.info/index.html) imitate the IDE client like used in https://facebook.github.io/relay/, but with Python schemas instead of JS ones.

[2015-11-10 14:29] Globegitter commented on #14
Just looking into this again now @syrusakbary so should have an update soon.

[2015-11-10 16:27] Globegitter commented on #13
@syrusakbary the example is great thanks, but how can I query the viewer now? I can't find any tests or examples about it.

E.g.
[code]
just thorws me an error `[GraphQLError('Unknown type "allFilms".',)]`
I tried a few other queries as well but all not working so far. Will carry on playing around with it but an example would be much appreciated. Thanks!

[2015-11-10 16:50] Globegitter commented on #14
Just tried more, and so far I am not getting around the error `[GraphQLError('Incorrect padding',)]`

Example:

[code]

[2015-11-11 10:20] syrusakbary commented on #14
The reason for the error is the id is not a correct base64 id (for knowing the id for certain node instance, just call `your_node_instance.to_global_id()` where `your_node_instance` is a instance of a class that inherits from `graphene.Node` and have a defined id.

So this should work:
[code]

And then use `the_id` in the query (id:"$the_id_value").

However Graphene should return a None value ins

[2015-11-12 12:19] Globegitter opened #22 "Arguments on individual Node fields"
It would be great to have a test/example that shows how args on e.g. a `StringField` work. Right now I am getting an error `AssertionError: Client.name(test:) argument type must be Input Type but got: ....`

I have tried to use `InputObjectType` but there are very few tests on that and very little documentation (in the source code)

Also, now that I am starting to understand graphql, relay and gra

[2015-11-12 19:40] jhgg opened #23 "django GraphQLView isn't implemented properly"
https://github.com/graphql-python/graphene/blob/master/graphene/contrib/django/views.py

Isn't implemented properly. Doesn't do proper error handling & doesn't handle GraphQL variables at all.

I was thinking instead we could remove this from graphene, and make this into it's own standalone package that could be given a GraphQL Schema and create a Django View for it.

That way it could be used wit

[2015-11-12 22:06] jhgg commented on #23
I've created a repo here:

https://github.com/graphql-python/graphql-django-view

I'm going to start porting over the view code, fixing it up, writing tests, etc....

[2015-11-13 00:20] syrusakbary commented on #23
Hi @jhgg, I've seen that... I would had love to do it by myself but you been so fast.
Please add me to the pypi package as maintainer so I could update it.

However I think the best thing is mixing the django-graphql and the other view from graphene. And provide only one package. Probably the naming could be improved.
I would love to discuss when a new repo comes out without actually throwing the

[2015-11-13 00:31] jhgg commented on #23
Right. The code was just there to get things setup. I'm probably going to end up re-writing it tomorrow. It doesn't seem to work right with graphiql/relay, and isn't properly handling errors (i.e. syntax errors).

But I just wanted to have something there for now.

[2015-11-13 11:12] Globegitter commented on #22
Ahh, managed to get it to work using e.g. `full_name = graphene.StringField(args={'to': graphene.Argument(graphene.String)})`

[2015-11-13 11:12] #22 closed

[2015-11-13 19:31] jhgg commented on #23
I've rewritten the `GraphQLView` in https://github.com/graphql-python/graphql-django-view/blob/master/graphql_django_view/__init__.py

Need to finish writing tests.

[2015-11-13 19:36] syrusakbary commented on #23
Maybe is easier if you start here https://github.com/graphql-python/graphene/blob/master/tests/contrib_django/test_views.py :wink: (vars are not supported in graphene view implementation yet, so are not tested as well)

[2015-11-13 21:21] jhgg commented on #23
v1.0.0 has been released w/ stable API & 100% test coverage:

https://pypi.python.org/pypi/graphql-django-view/

[2015-11-13 21:24] jhgg commented on #23
Also @syrusakbary I've added you as contributor & maintainer of pypi package.

[2015-11-13 21:57] jhgg commented on #23
PR #25 is open to replace the implementation of `GraphQLView` with `graphql-django-view` in an API backwards compatible way. ^^

[2015-11-13 22:18] jhgg commented on #23
Closed PR #25 in favor of #26 which will merge into 0.4.0 branch.

[2015-11-13 23:42] #23 closed

[2015-11-13 23:42] jhgg commented on #23
Fixed in 0.4.0

[2015-11-13 23:49] syrusakbary commented on #22
Great! A new simpler syntax will come with version `0.4.0` that simplifies how arguments and fields are handled

[2015-11-15 03:51] rapilabs opened #27 "Cannot use ListField as mutation input"
I'm porting a graphql server that was created with your graphql-relay js port.  I have a mutation that has a list field as an input and works fine, however when I try to create a list field with graphene I get the following error:

[code]

Below is a snippet from my ported schema:

[code]

[2015-11-15 04:00] jhgg commented on #27
Hi @rapilabs,

Issue here is that you are trying to use an `ObjectType` as an `InputType`. They are not compatible. This is a limitation with graphql in general, and not an issue with `graphene`.

What you would have to do is define a Cell that is an `InputObjectType `.

Perhaps:

[code]

[2015-11-15 04:07] rapilabs commented on #27
@jhgg, mate, props for the instant response on a weekend!

Ok yes I see now, it's working thanks!

Note I had to actually manually import `InputObjectType` from `graphene.core.types` as it's not part of the `graphene` namespace: https://github.com/graphql-python/graphene/blob/master/graphene/__init__.py#L15

[2015-11-15 04:07] #27 closed

[2015-11-15 06:22] syrusakbary commented on #27
@rapilabs this will be fixed in the upcoming version 0.4.0 ;)

[2015-11-15 07:14] syrusakbary commented on #14
@Globegitter This will be fixed (returning None for non-valid ids) in graphene 0.4.0

[2015-11-15 07:18] syrusakbary opened #28 "Retrieve fields on mapped Django models efficiently"
Retrieve fields in Django models efficiently depending on requested fields in the GraphQL query (so DB will be hit in an optimal way).
Thanks @bigblind for the pointing this out!

[2015-11-15 09:55] bigblind commented on #28
I think you can get this info from the query AST, but there should be a more convenient way to get this.

[2015-11-15 17:09] ratson commented on #19
I am wondering how it could be integrated with `django.contrib.auth`, an example / tutorial will help a lot.

[2015-11-15 23:10] adamcharnock commented on #19
I'm just getting started and this looks really promising, but some docs would *really* help out. I'd be happy to lend a hand in anyway I can (e.g. proofing, newbie's perspective)

[2015-11-16 04:36] rapilabs opened #29 "Allow mutation input type name to be specified"
Currently mutation input type names are [hardcoded to `<Mutation>InnerInput`](https://github.com/graphql-python/graphene/blob/d46e9578631ce2b324086e2238566e2920b66f40/graphene/relay/types.py#L109)

I prefer `<Mutation>Input` like the types generated in graphql-relay :)

[2015-11-16 05:07] syrusakbary commented on #29
This is changed in upcoming version `0.4.0` to `<Mutation>Input` -> https://github.com/graphql-python/graphene/blob/0.4.0/graphene/relay/types.py#L117

Let me know if you have more suggestions!

[2015-11-16 06:21] rapilabs commented on #29
Awesome, I should check these new branches before I suggest something ;)

[2015-11-17 03:55] #14 closed

[2015-11-17 04:00] #18 closed

[2015-11-17 04:01] syrusakbary commented on #29
Version `0.4.0` is now on master. Closing issue.

[2015-11-17 04:01] #29 closed

[2015-11-17 04:09] syrusakbary opened #30 "Refactor Graphene Class based Types"
As the graphene syntax is now stable, the next focus should be internal refactor.
All class based types (ObjectType, Interface, Mutation, Union, Scalar) should have only the `ClassType` in common (which assure the new type have a name and a description), but each type should customize the way or the attrs the options can have.

Right now a lot of logic is repeated for handling all this cases under

[2015-11-17 15:58] Globegitter opened #32 "Add schemaPrinter"
Having something like https://github.com/graphql/graphql-js/blob/master/src/utilities/schemaPrinter.js would be great (for example output see https://facebook.github.io/relay/docs/graphql-relay-specification.html#schema) to get an easier overview of how how your whole schema looks like and fits together, especially when coming to quite complex models.

[2015-11-17 16:49] jhgg commented on #32
This exists in `graphql-core`.

[code]

[2015-11-17 17:35] Globegitter opened #33 "Additional attributes on custom edge_type"
For a `ConnectionField` we can pass in a a custom edge as so: `addresses=relay.ConnectionField(Address, connection_type=AddressType, edge_type=AddressTypeEdge)`. But when the custom edge has some additional fields it seems there is no way for these to be set, as this line: https://github.com/graphql-python/graphql-relay-py/blob/master/graphql_relay/connection/arrayconnection.py#L46 only ever tries

[2015-11-17 17:39] syrusakbary commented on #32
I think having a __str__ method will be useful.

[2015-11-17 21:16] inklesspen opened #34 "Need to have resolution "helpers" (including in get_node)"
In my preferred SQLAlchemy setup, simply having the model class is not sufficient to load a model. In addition, you must have a separate `session` object, which has a query method.

For example, the Django approach of :
[code]

would instead work like this:
[code]

I also require the ability to pass a notion of the current user into the query so that my resolvers can verify the user is authorized

[2015-11-17 21:30] jhgg commented on #34
Regarding `graphene`, I think that the execution context should be added to `get_node`. As a good practice, the execution context should be available in all resolvers for this very reason.

Regarding `graphql-core`, in addition to `root_value`, I provide a `request_context` inside of `ExecutionContext` which can be set to any value you want to use. In `graphql-django-view`, I use it to store the c

[2015-11-17 21:32] syrusakbary commented on #33
Good catch!

[2015-11-17 22:13] jhgg commented on #34
This is going to be a breaking change... but I think should be made. 0.5.0 here we come lol.

[2015-11-17 22:29] syrusakbary commented on #34
@inklesspen Yep, is a breaking change but will be accepted.
However a node could only be retrieved by the id arg (there are no other args in the base javascript implementation/ relay specification)
So, the syntax could be something like this:

[code]

[2015-11-17 22:31] inklesspen commented on #34
ok, so it wouldn't support `resolve_only_args` then.

I will try to prepare a PR in the next day or so.

[2015-11-17 22:39] jhgg opened #35 "Subscription support"
With `graphql-core` `v0.4.9`, schemas now support subscriptions. I added support in `epoxy` for them https://github.com/graphql-python/graphql-epoxy/commit/70e8b9592b7af04a929004d76ddcef5b8b9c6a83 should be same level of difficulty in `graphene`.

[2015-11-18 15:56] Globegitter commented on #33
A more complete example btw (just picked out the relevant pieces):

[code]

On `0.4.0.1` that results into `[GraphQLError("'node' is an invalid keyword argument for this function",)]`

[2015-11-18 23:38] inklesspen commented on #34
Just a reminder the PR is ready.

[2015-11-18 23:40] #34 closed

[2015-11-18 23:41] syrusakbary commented on #34
Merged!

[2015-11-19 00:36] syrusakbary commented on #33
@Globegitter Will take a look on your example shortly!

[2015-11-19 01:32] syrusakbary commented on #33
In your example, you don't really need to create AddressType, just only with `relay.ConnectionField(Address, edge_type=AddressTypeEdge)` will work.

Your example is failing because you are using LazyField in a resolved component (LazyField only wants either a string or a function for resolve once the schema is known).
So you can solve it doing:
[code]
Or
[code]

[2015-11-19 01:33] syrusakbary commented on #33
I will keep this issue until LazyType notifies if a wrong input is received (not str or function)

[2015-11-19 01:55] #32 closed

[2015-11-19 10:15] Globegitter commented on #33
Also when I have
[code]

I get the same error/behaviour. The thing that I want, is to have extra fields on the `AddressTypeEdge`, it might be `address_type` but could be a bunch of other as well.

So the expected output that I would like to get is something like:

`{"customer": {"customerId": "1", "fullName": "Paul Kalk", "addresses": {"edges": [{"addressType": 'has some value', "node": {"street":

[2015-11-19 10:32] Globegitter commented on #32
Thank you for that @syrusakbary!

[2015-11-19 15:47] kiennt opened #37 "Support for Google App Engine NDB"
@syrusakbary

Do we have any plan to support google app engine ndb in near future?
If not, I am willing to help.

Could you please guide me to which part I should start to do it?

Thanks

[2015-11-19 16:24] jhgg commented on #37
Hi @kiennt - As it turns out, `graphene`, `graphql` and `graphql-epoxy` in general doesn't have a preference for what kind of database backend you use. Although `graphene` does come with built in support for the introspection of Django models to generate a Schema, you could easily just manually define your Schema & Types to fit your NDB entity schema.

[2015-11-19 17:24] syrusakbary commented on #37
Hi @kiennt,

Yep, adding support for automatic Google App Engine NDB mapping to GraphQL would be great.
You can get inspired how `graphene` is doing with [Django models mapping](https://github.com/graphql-python/graphene/tree/master/graphene/contrib/django). Everything should be similar except of the converter (who have to be adapted for converting the fields from NDB), and `types.py` who also hav

[2015-11-19 21:59] #35 closed

[2015-11-19 22:52] jhgg commented on #35
:+1:

[2015-11-19 23:27] syrusakbary commented on #19
Thanks @adamcharnock, will let you know once the docs are ready!

[2015-11-20 01:28] adamcharnock opened #40 "Multiple `ConnectionField` fields do not function as expected"
I am finding that once I have multiple `relay.ConnectionField` fields attached to a Query, all requests will be validated against the second field

I have the following Query class:

[code]

Upon running this query:

[code]

I receive:

[code]

Note that the above error seems to think I am querying `Transaction` which, after tripple checking my code, I'm pretty sure I'm not. Also, if I switch the

[2015-11-20 02:46] adamcharnock opened #41 "GraphQLSchema does not expect kwarg 'subscription'"
I suspect this is related to b91ae4b0fb8cee3265967953464f46041ebd76bd.

I am currently on version 37125425669be5828a4be4ba8e2add80abbea579.

The exception was:

[code]

[2015-11-20 02:49] adamcharnock commented on #40
I just updated from 0.4.0 to 4a591354f1d809e0c5d34ba425bcd4a0960fe2ee and this seems to be fixed now.

I'd be very grateful if someone could give me a nod wrt the query I'm doing though. Does that look sane?

[2015-11-20 02:49] #40 closed

[2015-11-20 03:09] jhgg commented on #41
Make sure that you have the latest `graphql-core` installed.

[2015-11-20 03:22] syrusakbary commented on #40
Hi @adamcharnock , just uploaded to PyPI the latest code under version `0.4.1`.

The models are already wrapped in Django mapping, so you could do:

[code]

A full working example is [swapi-graphene](http://swapi.graphql-python.org). Check the [schema](https://github.com/graphql-python/swapi-graphene/blob/master/starwars/schema.py) which is where everything happens.
Ping me if any question!

[2015-11-20 03:34] syrusakbary commented on #40
I removed temporary the version `0.4.1` from PyPI until I add the support for previous `get_node` syntax. (Will be done in few mins)

[2015-11-20 04:07] syrusakbary commented on #40
Reuploaded again, everything should work fine :)

[2015-11-20 04:19] syrusakbary commented on #41
Yep, installing latest version of `graphql-core` (`0.4.9` - specified setup.py in `graphene`) should solve this.
Please reopen this issue if not.

[2015-11-20 04:19] #41 closed

[2015-11-20 11:14] adamcharnock commented on #41
Ah, I could swear I was using the latest version of both, but I've checked again this morning and it seems to be working fine. That's what I get for reporting issues at 2am I guess! :-)

[2015-11-20 11:24] adamcharnock commented on #40
@syrusakbary Ah yes, thank you very much. The SW example has been very handy actually. I think #40 was throwing me a bit, but now that is sorted that should make life easier.

[2015-11-20 17:08] adamcharnock opened #43 "Django relations not traversed"
Perhaps this is a known limitation, or perhaps I'm doing it wrong.

My I have the following (simplified) django models:

[code]

**Desire:** I want to traverse the `Account.transactions_out` reverse relationship.

My Query & Nodes look like this:

[code]

When I run the following query:

[code]

The result comes back with `"transactionsOut": null`, even though transactions do exist.

**Solution:**

[2015-11-20 17:11] adamcharnock commented on #43
BTW: I've had a good look around the code to figure this out. I'd ideally write a pull request for this, but I'm not confident enough with the codebase to really know where to start. My guess would be to somehow handle this in `graphene.contrib.django.fields.ConnectionOrListField`.

[2015-11-20 18:12] syrusakbary commented on #43
Oh! That's a bug! Thanks for such a detailed log!
As you pointed, if everything works using `resolve_transactionsOut ` it seems that the problem is the field name is not converting well to snake_case.
So I will start looking at that.

[2015-11-20 18:21] syrusakbary commented on #43
@adamcharnock Could you copy here the output of this execution?
[code]

Thanks!

[2015-11-20 21:42] #43 closed

[2015-11-20 21:44] syrusakbary commented on #43
I've recreated your issue and the last commit fixes it. Let me know if not.

[2015-11-23 00:05] syrusakbary commented on #33
Hi @Globegitter!
Thanks to this commit you can return a Connection instance in the ConnectionField resolver.
https://github.com/graphql-python/graphene/commit/fe860774e8525cb50095f857c6013cffbc41f117

Reopen this issue if you find any errors.

[2015-11-23 00:05] #33 closed

[2015-11-23 01:05] millerjs opened #45 "Example for InputObject type"
It seems that there is support for the InputObject type defined in the spec, however, none of the examples cover its usage as an argument.  Is this supported? If so, is it possible to add an example?

[2015-11-23 01:30] syrusakbary commented on #45
Hi @millerjs!

I've just added an example of how to use InputObjectType. Let me know if any questions.

[2015-11-23 01:30] #45 closed

[2015-11-23 01:58] millerjs commented on #45
Thanks! Your example is as expected, however when I plug it in to a more complex schema, I get a `TypeError: Cannot read property 'types' of undefined` from graphiql.  The example is helpful though, thanks!

[2015-11-23 02:00] millerjs opened #46 "Snake case to camel case"
I didn't find a forced conversion to camelCase in the spec. Did I miss it? Or is graphene just opinionated on style standards.  Will there be any way to opt out of this in the future?

[2015-11-23 02:09] syrusakbary commented on #45
@millerjs open an issue with a example that replicates the error (query and maybe the some similar ObjectTypes used in the query) so I can take a look into it! (the more info I have the better for fixing it!)

[2015-11-23 02:19] millerjs commented on #45
Will do, I figure it's just a misuse on my part.  If it turns out not to be, I'll open that issue.

[2015-11-23 03:15] jhgg commented on #46
It's convention. Generally you would want to use camel case in javascript world. But graphene keeps things snake cased in Python. If you want to use snake cased fields though you can explicitly specify a name.

Sent from my iPhone

[2015-11-23 11:46] Globegitter commented on #33
Will give it a try, thank you!

[2015-11-23 11:57] Globegitter opened #47 "TypeError: __init__() got an unexpected keyword argument 'subscription"
I am trying to introspect a schema that worked fine with graphene `0.4.0.1` but now breaks with `0.4.2` (unchanged), getting the following error:

[code]

I am not using subscriptions right now in any way.

[2015-11-23 11:59] Globegitter commented on #47
Ah sorry, I only updated `graphene` and forgot to update `graphql-core`.

[2015-11-23 11:59] #47 closed

[2015-11-23 12:20] Globegitter commented on #33
@syrusakbary Just tested it and now getting `[GraphQLError("'node' is an invalid keyword argument for this function",)]`. Could this be related to the change a few days ago: https://github.com/graphql-python/graphene/commit/266dd5efe089e92d235802166471b1fbbf7f58d6#diff-5483f154953c0d23d7680373eec49d90L30

[2015-11-23 13:13] Globegitter commented on #33
Also from what I can tell you would have to manually implement `pageInfo` and `cursor` the current way, right?

[2015-11-23 16:05] adamcharnock commented on #43
Fantastic, just tried it and it works great :-)

I'm about to create another issue to start a discussion around point 2 in the above description.

[2015-11-23 16:11] adamcharnock opened #48 "Django integration proposal"
I've been thinking a bit about Django integration for Graphene. This is in part because I think it could be really useful, and in part because this is something I'd be interested in contributing a pull request for. However, development seems to be moving quickly so I thought it best to discuss these ideas first in case there are already plans.

The main motivation here is reducing boilerplate code

[2015-11-23 16:32] jhgg commented on #48
One cool thing would be to inspect field asts and generate the correct prefetch_related, select_related and only calls onto the queryset. I think syrus is working on something like this.

Sent from my iPhone

[2015-11-23 17:10] millerjs commented on #45
The reason it did not work for me is because the class was defined in a function local scope (I'm generating ObjectTypes classes at runtime).

[2015-11-23 17:40] adamcharnock commented on #48
I agree @jhgg, I think that is #28.

As far as my ability to contribute is concerned, I would probably look to implement the basic ideas/functionality which could then be optimised.

[2015-11-23 17:48] syrusakbary commented on #45
You have a detailed log where this error was triggering? (file, line)
Could be very useful for adding more feedback to the developer in future cases by raising a custom detailed exception :)

[2015-11-23 17:53] syrusakbary commented on #46
Hi @millerjs, thanks for asking!
I think path to go will be having *snake_cased* fields converted to *camelCase* by default, but adding the possibility for changing this via some global variable or graphene settings.
Will keep this issue open until graphene adds the ability of not camelCase if defined in settings.

[2015-11-23 18:02] syrusakbary commented on #48
Right now graphene is already transversing Django relations (only if the target model is in some `ObjectType` in the schema), and resolving to ConnectionFields whenever the target model is defined in some `DjangoNode` in the schema, without the need for a `resolve_FIELD()` method.

I was thinking about adding support to [django-filter](https://github.com/alex/django-filter) for filtering the query

[2015-11-23 18:25] syrusakbary commented on #46
Probably adding custom permissions for querying/updating using `django-guardian` is also a good enhancement (and could be required when using automutation models?). Thoughts about that?

[2015-11-23 18:25] syrusakbary commented on #48
Probably adding custom permissions for querying/updating using django-guardian is also a good enhancement (and could be required when using automutation models?). Thoughts about that?

[2015-11-23 18:41] adamcharnock commented on #48
@syrusakbary I'll checkout the existing Django traversing, I think I mustn't have realised that.

Supporting third party packages such as django-filter and django-guardian sounds like a good idea, and I think you're right that some permission checking would be needed for most projects. I suggest we avoid *requiring* their use though, as people may already have other systems in place (especially fo

[2015-11-23 22:30] millerjs commented on #46
:+1: This would be a great feature despite it's unconventionality.

[2015-11-24 02:13] adamcharnock commented on #48
I've just knocked out a proof of concept for a `DjangoQuery` class. I just took my existing Query class and wrote a metaclass to autogenerate the necessary attributes. I'd be willing to accept that this is somewhat crude, but I felt it was worth a shot. It also has the advantage of allowing one to extend/override the attributes/methods in the child class.

https://gist.github.com/adamcharnock/78db

[2015-11-24 03:56] syrusakbary commented on #48
Great work @adamcharnock!
About creating a BaseQuery class for DjangoNodes I think is something very opinionated for the framework. Why? I think imposing the ConnectionField fields names as `all_X` should be done explicitly by the developer.

Once the `django-filter` integration is done, probably will be not strictly required to create `resolve_FIELDNAME` methods, as will be resolved by default wi

[2015-11-24 05:07] syrusakbary commented on #33
@Globegitter could you post your schema definition? I could either see if is a problem in `graphene` or guide you for fixing it :)

[2015-11-24 05:07] syrusakbary commented on #33
(the code is the same you posted before?)

[2015-11-24 08:31] Globegitter commented on #33
Yes, the code is pretty much the same as above:

[code]

[2015-11-24 08:51] adamcharnock commented on #48
Thanks @syrusakbary, and I totally agree. That was something I meant to comment but clearly forgot. I couldn't see an obvious way of allowing the developer control of those names, so I just hard coded it for the sake of a simple proof-of-concept.

Good point on the `resolve_FIELDNAME` methods. I'll take a look at creating a resolver based on `django-filter`.

Given these comments, are you happy wi

[2015-11-25 00:05] amitsaha opened #49 "Help with Mutation"
Hello, I am trying to experiment with a simple mutation, here is my schema:

[code]

In ``UpdatePerson`` above, when I have the person field as ``person = graphene.Field(Person)``, ( and correspondingly ``return UpdatePerson(person=p)``), upon sending a mutation query, I get: ``[GraphQLError('Field "person" of type "Person" must have a sub selection.',)]``.

Any suggestions as to what I am doing w

[2015-11-25 01:01] syrusakbary commented on #49
Hi @amitsaha!
Can you post this in StackOverflow so will be easier for other people for searching if they have the same problem?
I would be more than happy for answering! :)
If you could post here the stackoverflow post url after would be great

[2015-11-25 01:01] jhgg commented on #49
Hi @amitsaha  - you are running into the no scalar leafs validation error.

This means your query is wrong.

[2015-11-25 01:02] jhgg commented on #49
Chances are you are calling:

[code]

You should be calling:

[code]

[2015-11-25 03:11] amitsaha commented on #49
Thanks @jhgg - that was it, thank you.

@syrusakbary Do you still want me to post it? For the future, what tags should I be using?

[2015-11-25 03:11] #49 closed

[2015-11-25 05:28] syrusakbary commented on #49
@amitsaha You can use #graphql #graphene #python :)

[2015-11-25 15:42] inklesspen opened #50 "ObjectType.resolve_type classmethod makes it impossible to have a field named 'type'"
The [`resolve_type`](https://github.com/graphql-python/graphene/blob/master/graphene/core/types/objecttype.py#L185) method on `ObjectType` conflicts with actually resolving a field called `type`. Given the importance of `resolve` method names, I think great care should be taken to make sure graphene's codebase does not use these method names unless necessary.

The below test fails with `GraphQLErr

[2015-11-25 17:47] sibelius opened #51 "PyMongo and/or Mongoengine Integration"
It should be useful to have a mongoengine easy integration

[2015-11-25 17:47] sibeliusseraphini opened #52 "Flask Example"
Add flask example using graphene

[2015-11-25 19:23] syrusakbary commented on #50
Thanks for such a detailed example @inklesspen.
Will fix this in the next commit.

[2015-11-25 19:41] syrusakbary commented on #48
I think creating directly this fields by the developer will be better and less opinionated for the framework. (Maybe having this as some external package?)

I imagine doing something like this:

[code]
(Note that might not be necessary to create the `resolve_all_droids` method)

[2015-11-25 19:46] syrusakbary commented on #19
@adamcharnock Some of this new documentation is now living in the `docs` branch (until is finished and merged into master), take a look and let me know your thoughts! https://github.com/graphql-python/graphene/tree/docs/docs/pages

Feel free to open any Pull request into `docs` branch with all the changes/improvements you think could be useful!!

* [x] docs / Quick start
* [x] docs / Django Quick

[2015-11-26 05:51] amitsaha commented on #52
I am working on something: https://github.com/amitsaha/flask-graphql-demo it's really basic, planning to demo file uploading next.

[2015-11-27 15:16] adamcharnock commented on #19
Fantastic! I've just submitted #54 which expands the django quickstart a little

[2015-11-30 00:51] amitsaha commented on #52
@syrusakbary is this something you would want to integrate into the source tree as an example? If yes, what would you like to see in it?

[2015-11-30 01:28] adamcharnock opened #55 "Queries do not support multiple inheritance"
*Use Case: splitting out query definition logic into smaller and more manageable files (e.g. in Django app directories)*

Something like this will not currently work:

[code]

It dies with the following error:

[code]

I have also tried:

[code]

Which dies with the error:

[code]

Presumably because the fields never get initialised?

Anyway, if this is possible I'd love to know how.

[2015-11-30 01:30] adamcharnock commented on #48
Just checking in to say I haven't forgotten about this. My initial attempt – while a learning experience for me – is clearly not the way to go. I've spent some time getting on with my own project and in doing so I have definitely come around to the method you suggest above.

I'll knock up another gist in a bit.

[2015-11-30 06:35] syrusakbary commented on #52
Hi @amitsaha, I'm willing to create a package for integrating graphql in flask easily (with GraphQL and GraphiQL views). Once is done, yeah... any example will be more than welcome!

Meanwhile I've linked your package in the documentation package (the new version of the website will be released tomorrow):
https://github.com/graphql-python/graphene/blob/docs/docs/pages/community.md

[2015-11-30 06:42] syrusakbary commented on #55
The main reason is:
- In the first example, the `Query` object, as inherits more than one `ObjectType` is automatically mapped to a `Union` type. Some how `graphql` doesn't allow union types for the root query object.
- In the second example, the objects are not inheriting for `ObjectType`, so when Query inherit those objects is not copying their fields.

However I certainly believe we should be a

[2015-11-30 08:04] #20 closed

[2015-11-30 10:40] adamcharnock commented on #55
I think that looks like a good solution. It like that it has some parity with Django's models. Ideally we wouldn't have to specify that a Query is abstract and things would just work, but given that this is not possible I think this is a good solution. :+1:

[2015-11-30 16:29] Globegitter opened #57 "Get requested fields in resolve function"
I have seen that the `info` parameter in the `resolve` function provides a `info.field_asts`, which provides information about the selected fields, but when fragments are provided you get something like:

[code]

which means for fragments we can't really figure out which fields are selected at runtime.

Our use-case for knowing the fields in the resolve functions is,that we only want to calculate

[2015-11-30 17:02] jhgg commented on #57
[code]

[2015-11-30 17:09] Globegitter commented on #57
ahhh great, thanks @jhgg, will give that a try!

[2015-11-30 17:50] Globegitter commented on #57
@jhgg if I change your code example to:
[code]

I am getting to print all the field names in the 'collect_fields' function, but it just returns before it has traversed the whole ast. So the actual retyurn of fields is just `defaultdict(<type 'list'>, {u'id': [Field(alias=None, name=Name(value=u'id'), arguments=[], directives=[], selection_set=None)]})`

[2015-11-30 17:54] jhgg commented on #57
Weird. Can you post you code somewhere. I'll mess with it when I've got some time!

Sent from my iPhone

[2015-11-30 18:08] #19 closed

[2015-11-30 18:11] Globegitter commented on #57
Yep will do as soon as possible.

[2015-11-30 18:30] adamcharnock commented on #48
Ok, here is attempt number two:

https://gist.github.com/adamcharnock/ad051b419d4c613d40fe

I have it loosely working at the moment, but no doubt they'll be issues. The main points are:

* The addition of a `DjangoFilterConnectionField` field
* ...which uses a `FilterConnectionResolver` to resolve the field to a queryset as provided by `django-filter`
* The contents of `FilterConnectionResolver` w

[2015-12-01 00:53] adamcharnock commented on #48
Ok, I've just rewritten the conversion to Graphene types and updated [the gist](https://gist.github.com/adamcharnock/ad051b419d4c613d40fe). The conversion is now down based upon the the form fields graphene uses to parse & validate the incoming values. See converter.py in the gist. Maybe there is a smarter way of doing this, but doing lookups seems to be the way both `graphene` and `django-filter`

[2015-12-01 01:41] thebritican opened #59 "Add Documentation for Relay Edge implementation"
In the [Relay mutation docs](https://facebook.github.io/relay/docs/guides-mutations.html#range-add), performing **RANGE_ADD** requires that the new edge created by the mutation is provided in the payload.

I do not know how to provide the correct cursor/`Edge` construction within the `relay.ClientIDMutation` subclass.

The following code I wrote:

`new_object_edge = graphene.Field('ObjectEdge')`

[2015-12-01 07:09] #55 closed

[2015-12-01 08:08] Globegitter commented on #57
Here we go @jhgg http://graphene-python.org/playground/?schema=import%2520collections%250A%250Aimport%2520graphene%250Afrom%2520graphene%2520import%2520relay%250Afrom%2520graphql.core.execution.base%2520import%2520collect_fields%250A%250Aclass%2520Customer(relay.Node)%253A%250A%2520%2520%2520%2520first_name%2520%253D%2520graphene.String()%250A%2520%2520%2520%2520middle_name%2520%253D%2520graphene.

[2015-12-01 08:55] syrusakbary commented on #57
@jhgg for seeing the print output just open the browser console.
@Globegitter I'm happy to see you started using the playground, let me know if any suggestions there!

[2015-12-01 08:59] syrusakbary commented on #28
Related issue: #57

[2015-12-01 09:13] Globegitter commented on #57
@syrusakbary yeah thanks for the docs, they are great! And the playground also works well, especially knowing the prints are showing in the console.

[2015-12-01 09:13] Globegitter commented on #33
@syrusakbary Have you had the chance to look into this some more again?

[2015-12-01 10:14] msoedov commented on #51
As temporary workaround I used https://github.com/msoedov/flask-graphql-example/blob/master/ql.py#L13-L20

[code]

[2015-12-01 17:49] Globegitter commented on #33
@syrusakbary here is the example on the new playground: http://graphene-python.org/playground/?schema=import%2520collections%250A%250Aimport%2520graphene%250Afrom%2520graphene%2520import%2520relay%250A%250Aclass%2520Address(relay.Node)%253A%250A%2520%2520%2520%2520address_id%2520%253D%2520graphene.ID()%250A%2520%2520%2520%2520postal_line%2520%253D%2520graphene.String()%250A%250A%2520%2520%2520%252

[2015-12-02 03:23] syrusakbary commented on #48
@adamcharnock, after taking a deeper look at the gist here are some thoughts:
* Why `convert_form_field_to_djangomodel` returns an ID? (If I'm querying for a model inside a model, aka `user.group.name`, I want to get the whole instance for the group, not just the id)
* What you think about having `SimpleQuerySetConnectionResolver`,`FilterConnectionResolver` as function decorators? So Someone can a

[2015-12-02 03:31] adamcharnock commented on #48
@syrusakbary Great, those sounds like some very good points. It's 3:30am here so I should really get some sleep, but I'll probably take a look tomorrow.

[2015-12-02 21:22] adamcharnock commented on #48
I've created PR #60 as this seems like a sensible time to stop working with gists.

@syrusakbary My reasoning for `convert_form_field_to_djangomodel()` returning an `ID` type is that, if one is filtering for a model, one would do so by the model's ID. However, this decision was not arrived at after an abundance of reflection. Do you have thoughts on this?

Your other two points sound like good sug

[2015-12-03 07:59] #30 closed

[2015-12-03 18:45] syrusakbary commented on #57
I think this thing will be improved in the next version of Relay, so the might send the flattened query
https://github.com/facebook/relay/commit/ca0afe134d29fc8c2dc046be5f91253aebdf8565

However, no idea why `graphql-core` (and probably `graphql-js`) doesn't get the fields from fragments... any suggestion @jhgg?

[2015-12-04 00:52] bigblind opened #62 "Dealing with cursors in ConnectionField resolve functions"
In the Star Wars relay example, it looks like you expect the `resolve_ships` method of the `Faction` class to return every ship. While this is feasible with a small dataset like that, it's not an assumption you can make. Does the resolve function get access to the `first` and `after` argument? Also, how do we supply pagination info?

Looking at the code, it looks like `connection_from_list` deals

[2015-12-04 01:20] syrusakbary commented on #62
Hi @bigblind,
`connection_from_list` expect an iterable (this iterable had to implement `len` and a item getter like `iterable[20:30]` though). Could be a `list`, could be a lazy list, or anything that you could iter through.
However, we don't iter through the iterable until the end (when we show the results).

In the example of [Starwars relay](https://github.com/graphql-python/graphene/blob/mast

[2015-12-04 13:28] bigblind commented on #62
Can I just create my own field with a type of `Connection`? The database I'm using, rethinkdb, allows me to do much more optimized queries with cursors than with indices based on `len`. Basically, with the approach that you use, I need to know the index of every item in the database. With cursors, a rethinkdb query would look like this:

`r.db("my_db").table("users").between(cursor, r.maxval).limi

[2015-12-05 03:23] syrusakbary commented on #62
Good catch. I will *rethink* better how we can handle this.
Probably moving some code from the `graphql_relay` Python library to `graphene` and wrapping in some class where people could manage it easily is the path to go!
Will keep this issue open until is resolved.

[2015-12-06 03:35] syrusakbary opened #63 "Add GeoJSON types"
Add GeoJSON types (`graphene.geo`) and the mapping from Django Geo fields to it.

[2015-12-06 23:10] amitsaha commented on #52
Thanks @syrusakbary - that would be awesome. Do you already have some work done that I can look at?

[2015-12-09 15:13] lightning18 commented on #35
How does this work? How do you trigger a push from the server? The way I understand the commit is that this is just the subscription part and I have to manually implement a pub-sub, am I right?

[2015-12-09 17:53] Globegitter opened #66 "Share fields between mutation input and relay Node"
I want to share fields between a relay Node and a mutation input as shown in this example: http://graphene-python.org/playground/?schema=import%2520collections%250A%250Aimport%2520graphene%250Afrom%2520graphene%2520import%2520relay%250A%250Aclass%2520SharedUserFields(graphene.ObjectType)%253A%250A%2520%2520%2520%2520first_name%2520%253D%2520graphene.String()%250A%2520%2520%2520%2520last_name%2520%

[2015-12-09 18:03] Globegitter commented on #66
I have also tried
[code]
based on the example linked above, but then getting:
[code]

[2015-12-09 18:05] syrusakbary commented on #66
@Globegitter The url is not working well (some error in the Graphene IDE maybe).
Meanwhile you can copy & paste here the code so I can see what's happening?

[2015-12-09 18:30] Globegitter commented on #66
Outside of work already unfortunately. Will post tomorrow.

[2015-12-10 03:55] syrusakbary commented on #46
@millerjs this is now fixed.
Thanks to a new plugin structure you can even create [some plugin for transform the name](https://github.com/graphql-python/graphene/blob/master/graphene/plugins/camel_case.py) the way you want.

The current usage for disable the auto camelCase is:
[code]

Hope it helps! ;)

[2015-12-10 03:55] #46 closed

[2015-12-10 03:57] syrusakbary commented on #59
@thebritican I'm still thinking a good way for handling the case you commented.

[2015-12-10 09:22] Globegitter commented on #66
@syrusakbary here is the example:

[code]

Thanks for looking into this so quickly.

[2015-12-10 14:56] millerjs commented on #46
Fantastic! thanks @syrusakbary

[2015-12-11 12:24] ustun opened #68 "Document reserved characters in argument names"
I tried to run the following:

[code]

It works. However, if I change all references to firstName to name, it stops working. Is this documented, or is it a bug?

[code]

The stack trace is the following:

[code]

[2015-12-11 12:25] ustun commented on #68
Also, possibly related, underscores in field names do not work:

[code]

[2015-12-11 18:18] ustun commented on #68
Incidentally, `from` argument name was the first thing I tried on the playground since it accepts an argument named `to` and it took me some time to remember that `from` is a keyword. Maybe the error message could be made better there too.

http://graphene-python.org/playground/?schema=import%2520graphene%250A%250Aclass%2520Query(graphene.ObjectType)%253A%250A%2520%2520%2520%2520hello%2520%253D%25

[2015-12-11 22:05] syrusakbary commented on #68
Hi @ustun,

I've fixed the name argument in Fields with this commit: https://github.com/graphql-python/graphene/commit/2eea03cb62f9c254792f066ca8b697060b2407ed

So the first code you wrote would work perfectly.

About the last code you wrote:
[code]

Graphene, converts (by default, could be disabled) not only the field names in ObjectTypes/Interfaces, but also the argument names to be `camelCase`.

[2015-12-11 22:05] #68 closed

[2015-12-12 08:35] lightning18 opened #70 "GenericIPAddressField support"
It has been in Django since 1.4 and can be converted to String. I can submit a PR but I don't know how you want it. Can it be done the same way as UUIDField?

[2015-12-12 09:37] syrusakbary commented on #70
Yeah, any pull request will be more than welcome.
We only support Django 1.6+,  so only adding `models.GenericIPAddressField` into `convert_field_to_string` should work ;)

[2015-12-12 14:27] lightning18 commented on #70
No need for checks then. Submitted #71, added a test in it too.

[2015-12-12 21:43] #70 closed

[2015-12-14 04:28] thebritican commented on #59
While we investigate a solution to this, is there a way to incorporate an `Edge` as the payload and then write schema with vanilla `python-graphql` objects? Basically, can I write [this](https://github.com/facebook/relay/blob/master/examples/todo/data/schema.js#L140) in Python and reference it as an output field?

If not, my next intermediate solution was to produce the schema with Graphene and th

[2015-12-14 07:52] syrusakbary commented on #59
@thebritican meanwhile you can use raw `graphql-core` objects as fields.

So this would work:
[code]

I will try to have this working with graphene around this week.

PS: Graphene is using `graphql-relay` library under the hoods, but the function `cursor_for_object_in_connection` is not yet implemented there, so probably I will implement this in `graphql-relay` before anything else.

[2015-12-15 21:29] ustun commented on #55
This is an interesting topic. Should each django app have its own schema? Then, how do we prevent name collisions? Should we be prefixing the resources then or should each app be serving its own graphql schema at a different URL?

Some of these are subjective, but it would be better if we could give some recommended best practices to the community there.

[2015-12-15 21:34] ustun opened #72 "Graphene as a validation library"
This is probably not the best place to discuss this as it is not a bug report, but I was wondering how we should approach data validation with graphql and graphene, especially with its Django integration.

For example, should graphene replace the django forms layer as well? I believe it should and it can, since its validation capabilities are much richer. It is possible to validate if something is

[2015-12-15 21:39] syrusakbary commented on #72
@adamcharnock is working in #60, which apart of the main propose (filtering in django connections) provides a way for mapping also forms into Graphene types.

[2015-12-23 03:20] mekarpeles opened #74 "Native SQLAlchemy integration/bindings"
See https://github.com/graphql-python/graphene/issues/51, similarly https://github.com/graphql-python/graphql-epoxy/issues/5

[2015-12-23 03:36] mekarpeles commented on #74
I'm working on something with no security implications (all data is public), so s a make-shift solution (don't use in production), I'm registering (pseudo code) all models using the following approach crufty:

    import Base # = some declarative_base(cls=mixin), see [1]
    import graphene
    class Query(graphene.ObjectType): pass
    for k, v in Base._decl_class_registry.items():
        setatt

[2016-01-06 01:47] thebritican commented on #59
[I see the `cursor_for_object_in_connection`](https://github.com/graphql-python/graphql-relay-py/blob/master/graphql_relay/connection/arrayconnection.py#L112) and it appears functionally equivalent to the JS repo (and passes on the corresponding tests). Until it is working(?), however, using a `graphQLCoreType` is tough since the aforementioned method is used to generate the opaque cursor string.

[2016-01-07 03:48] youngking opened #76 "Incorrect mutate document"
[This page] (http://graphene-python.org/docs/mutations/)  has a mutate example,  but parameters of the  mutate method are incorrect, follow it will get an error:  `"mutate() takes exactly 3 arguments (4 given)" `

According to  to this [test](https://github.com/graphql-python/graphene/blob/master/graphene/core/tests/test_mutations.py), it should be like:

[code]

[2016-01-12 07:42] amitsaha opened #78 "Issue with resolve_*() functions"
Consider this example (adapted from simple example in getting started):

[code]

On executing it, resolve function is not called. I have seen this is a generic issue when the field name is `*_id`.

[2016-01-12 16:26] syrusakbary commented on #78
Hi @amitsaha, the "issue" is caused because `graphene` automatically maps `snake_case` field names and args to `camelCase` (as `camelCase` is the preferred way in js clients). So the good query will be
[code]

You can disable this auto camelCase behavior doing:
[code]
Related issue: #46
Hope it helps.

[2016-01-12 16:26] #78 closed

[2016-01-14 02:42] amitsaha commented on #78
Thank you @syrusakbary

[2016-01-14 02:46] syrusakbary commented on #76
This is solved by #77.

[2016-01-14 02:46] #76 closed

[2016-01-14 05:51] amitsaha commented on #52
@syrusakbary just wondering if you have any code that you can share? I would like to integrate graphiql into my project. If you don;'t have any, I will try to set it up somehow .. :)

[2016-01-14 05:54] amitsaha opened #80 "Errors upon execution"
I see that when a query is executed via the ``execute()`` method, the result object has `errors` - a list of errors. My questions are:

- Why do we have a list of errors?
- If we must have a list of errors, is there any recommended way to report these to a HTTP client? a list of serialized messages?

[2016-01-14 10:19] msoedov commented on #52
@amitsaha I have really simple flask app example https://github.com/msoedov/flask-graphql-example, you can build docker-compose and check that out

[2016-01-14 19:20] mikberg commented on #59
@thebritican Did you find a work-around for this? I'm creating a cursor via `offset_to_cursor` and trying to return it as an edge, but can't get it to work.

@syrusakbary What would the "theGraphQLCoreType" be? My connection is to objects of type `Comment`, so I've been trying to use `CommentEdge`. It produces the correct schema, the execution errors with `Cannot return null for non-nullable field

[2016-01-16 19:29] dwiel opened #82 "Sharing result of one field as an input to another"
I've modified the toy example on the graphene playground to express the kind of thing I would like to be able to do.  I want to have fields which depend on the output of other fields (on that object as well as potentially other connected objects).  Right now I can make get the value for fields on a particular class by calling resolve_*() methods from within other resolve methods, but the result is

[2016-01-19 15:39] adamcharnock opened #83 "Django: Make m2m through table fields available on edges"
When a `DjangoConnectionField` traverses a many-to-many field it would be nice to have the option to expose the fields of any through-table on the edges of the relationship.

[As much a note for myself as a feature request]

[2016-01-19 18:08] syrusakbary commented on #83
Never thought about that but makes sense :+1:

[2016-01-21 04:36] cyrfer commented on #37
+1

[2016-01-21 17:46] Grmiade opened #84 "Abstract ObjectTypes don't have a specific type."
I have this error, when I add a second inheritance class in my main `Query`.
[code]

[2016-01-21 19:16] syrusakbary commented on #84
Are the inherited classes (`trainings.schema.Query` and `brainstormers.schema.Query`) abstract?

By abstract I meant this:
[code]

Check this comment in a related issue: https://github.com/graphql-python/graphene/issues/55#issuecomment-160536000
;)

Going to close this issue, but feel free to reopen if is not working for you!

[2016-01-21 19:49] Grmiade commented on #84
Yes my classes are abstracts like this.

[code]
and
[code]

An idea ?

[2016-01-21 19:56] syrusakbary commented on #84
@Grmiade Can you copy the output of the error here?

[2016-01-21 19:59] Grmiade commented on #84
Sure.

[code]

[2016-01-21 20:28] syrusakbary commented on #84
Reopening the issue as the previous fix #55 was invalidated by a major refactor.
This issue will be fixed very soon (few minutes).

[2016-01-21 20:29] Grmiade commented on #84
Thanks.

[2016-01-21 20:34] #84 closed

[2016-01-21 21:01] syrusakbary commented on #84
A new version of graphene is uploaded to PyPI `0.6.1`... use it and everything should be fine! ;)
https://pypi.python.org/pypi/graphene/0.6.1

[2016-01-21 21:04] Grmiade commented on #84
It's work !
So fast ! Thank you so much ;)

[2016-01-22 02:49] gwind opened #85 "Is there anyone use graphene and react-relay build a real app?"
I'm working on build a app, tools:

- Backend

   - Tornado
   - SQLAlchemy
   - graphene

- Frontend

   - React/Relay

GraphQL used in Relay schema has restriction:

- [Relay Global Object Identification Specification](https://facebook.github.io/relay/graphql/objectidentification.htm)
- [GraphQL Relay Specification
Getting Started](https://facebook.github.io/relay/docs/graphql-relay-specificatio

[2016-01-22 03:03] syrusakbary commented on #85
Hi @gwind, in the mutation in relay (in the client) you have to specify the output you want when you do the `signin` mutation ([example](https://github.com/graphql-python/graphene/blob/master/examples/starwars_relay/tests/test_mutation.py#L11-L25))

The `clientMutationId` output field is automatically added by relay, however you must add the data you want to get to.

Right now you seem to do somet

[2016-01-22 07:24] gwind commented on #85
@syrusakbary , thanks for you fast reply!

In fact, I've submit a communication at `github.com/facebook/relay` - [How to get full mutation response?](https://github.com/facebook/relay/issues/166)

because relay has restriction itself, the default behavior can not execute a mutation like:

[code]

So, I've interest about `is there anyone use graphene and react-realy build a real app?`

Thanks again

[2016-01-22 07:26] gwind opened #86 "Can auto_camelcase and clientMutationId be set separately ?"
`graphene.Schema` can set `auto_camelcase` , but `clientMutationId` can not set separately. The react-relay need `clientMutationId` .

`graphene/relay/types.py` have:

[code]

Thanks,

[2016-01-22 08:17] syrusakbary commented on #86
Makes sense! Will review this better later.

[2016-01-22 08:28] gwind commented on #86
:+1:

[2016-01-22 18:42] #86 closed

[2016-01-22 18:54] syrusakbary commented on #74
@jfeinstein10 already did an amazing work trying to integrate `sqlalchemy` into `graphene`.

I'm going to fork its [sqlalchemy graphene branch](https://github.com/jfeinstein10/graphene/tree/sqlalchemy) and preserve his work updated with the recent changes of graphene.

[2016-01-22 19:33] syrusakbary commented on #74
Work in progress pull request: #87

[2016-01-23 03:55] gwind commented on #74
@jfeinstein10  I saw this [code](https://github.com/jfeinstein10/graphene/blob/sqlalchemy/graphene/contrib/sqlalchemy/types.py#L88)  :

[code]

In the `cls._meta.model.filter(id=id).one()` , I'm concern:

1. use a django like model query , not original sqlalchemy orm usage.
2. use id as id. Relay ID is a string, model id maybe integer always.

@syrusakbary I'm working on sqlalchemy backend, any pr

[2016-01-23 04:03] syrusakbary commented on #74
@gwind some code ported by @jfeinstein10 was not updated to reflect the SQLAlchemy nature, as you exposed.

However is actually fixed by some commits I did recently: https://github.com/graphql-python/graphene/blob/sqlalchemy/graphene/contrib/sqlalchemy/types.py#L122

2. The Relay ID field have to be a String, by spec. The field id in the SQLAlchemy model is mapped to an integer, but this query `.f

[2016-01-23 04:07] syrusakbary commented on #85
@gwind as far as I know there are some companies playing with `graphene` for usage in production. And I have few projects too ;)
The main question should be directed to Relay, I guess... as the problems that could emerge by `graphene` are also in the principal `graphql-js` implementation.

[2016-01-23 04:14] syrusakbary commented on #48
Closing this issue as the main PR #60 is merged into master.

[2016-01-23 04:14] #48 closed

[2016-01-23 04:20] syrusakbary commented on #80
@amitsaha the errors field in the response is implemented following the `GraphQL` spec:
https://facebook.github.io/graphql/#sec-Errors

This field (`errors`) will be added if any exception occurs while processing the query (validation or field retrieving).

The errors will be written in the response as a field in the json, however you can always wrap the response checking if any errors and changin

[2016-01-23 04:20] #80 closed

[2016-01-23 04:21] syrusakbary commented on #72
Right now the code merged by #60 into master allows to convert any kind of form with its fields to a Graphene Type.

Closing this issue, please reopen if any questions or suggestions ;)

[2016-01-23 04:21] #72 closed

[2016-01-23 08:53] gwind commented on #74
@syrusakbary  may be a `raise NotImplementedError()` would be a good choice.

I have a local sqlachemy binding, but it is very basic, and i am not family with graphql - relay.
Thanks,

[2016-01-23 09:02] gwind commented on #85
@syrusakbary yes, Relay is base on GraphQL, but have restrictions extremely. May be it is in progress more than a product solution.

But I'm very like the GraphQL, Relay, React, it is a very important thing after REST. :smile:

[2016-01-23 19:03] syrusakbary commented on #52
I've created the [GraphQL-Flask](https://github.com/graphql-python/graphql-flask) package for using GraphQL in Flask easily.

Also, you can check the Flask SQLAlchemy in the sqlalchemy branch:
https://github.com/graphql-python/graphene/tree/sqlalchemy/examples/flask_sqlalchemy

This example, with the SQLAlchemy support will be merged soon: #87

[2016-01-23 19:03] #52 closed

[2016-01-23 23:01] amitsaha commented on #52
Thanks @syrusakbary - will check them out.

[2016-01-23 23:06] amitsaha commented on #80
@syrusakbary Thanks for your clarification. I am pondering how to best return the error messages in a single HTTP response, in case there is more than one.

[2016-01-23 23:07] sibeliusseraphini commented on #52
@syrusakbary you should consider using the [graffiti] (https://github.com/RisingStack/graffiti) approach

To enable **adapters** for databases.
For now, you already have two of them in contribute django and sqlalchemy, I think the next one could be **mongoengine**

Thanks for this repository

[2016-01-24 07:35] gwind commented on #74
@syrusakbary I've saw that `graphene.relay.NodeField` in root query would convert original id (int or string) to a uniq ID ( type + id => base64) .

So my concern about `instance = cls._meta.model.filter(id=id).one()` was wrong: id is the object id in table exactly now.

[2016-01-25 05:47] amitsaha commented on #52
@syrusakbary it works great. @msoedov Will do, does it support file uploads? My approach is very basic here: https://github.com/amitsaha/flask-graphql-demo/blob/master/schema.py

Would be curious to know if you have a better idea?

[2016-01-25 10:00] gwind opened #88 "Does Graphene plan to create a client query tools?"
Hi, guys

I'm working on a `python3/tornado/sqlalchemy/graphene + React + Graphql/Relay` solution.

Usually, we use js to run query/mutation on a backend GraphQL schema server.

But use python as client-side is usual. such as:

[code]

the group id - `R3JvdXA6Mw==` can be replace by mako template, string format, ...
does graphene plan to supply a more nice query ?

example:

[code]

[2016-01-25 19:02] syrusakbary commented on #88
Thanks for asking about that.

A GraphQL Python client is planned in the roadmap, however we're waiting until Facebook isolates the Relay-core from Relay React so porting Relay-core client to Python will be quite easy.

[2016-01-25 19:29] syrusakbary commented on #74
Graphene is using `from_global_id` from `graphql_relay` right now.

However you can customize the `id_fetcher` function in `NodeField` (https://github.com/graphql-python/graphene/blob/master/graphene/relay/fields.py#L68)

[2016-01-26 00:12] syrusakbary commented on #88
Going to close it until Facebook releases relay-core :)

[2016-01-26 00:12] #88 closed

[2016-01-26 01:46] gwind commented on #88
:+1:

[2016-01-26 01:49] gwind commented on #74
I see, thanks :smile:

[2016-01-26 09:47] Globegitter commented on #85
@gwind We are using graphene + relay in our app that we'll release in closed beta by beginning of march.

[2016-01-26 12:50] gwind commented on #85
@Globegitter :+1:

I'm working on it. Although many issues with relay in practice, I'm love it so much!

[2016-01-26 20:09] syrusakbary commented on #74
SQLAlchemy support is now merged into master, closing the issue 😎

[2016-01-26 20:09] #74 closed

[2016-01-26 20:11] syrusakbary commented on #85
Closing this issue, please reopen if the same question arises.

[2016-01-26 20:11] #85 closed

[2016-01-27 07:39] dgoldstein0 commented on #78
I think I just wasted an hour or two (maybe more) because this behavior is not demonstrated in the examples - or if it is, it's extremely nonobvious.  This should really be better documented.

[2016-01-27 07:40] amitsaha commented on #78
+1 @dgoldstein0 I think there could be a FAQ as a wiki page @syrusakbary ?

[2016-01-27 07:53] gwind commented on #78
There is need a attention in `schema = graphene.Schema(query=Query, auto_camelcase=False)` , auto_camelcase would meet some issues in client-side which use React/Relay.

e.g

- clientMutationId
- pageInfo

[2016-01-27 10:48] dgoldstein0 opened #91 "graphene swallows exceptions during data fetching, destroying info about them in the process."
Currently learning graphene the hard way, and I've been trying to get some info out of it via `print` and, when that didn't work, by raising exceptions.  It appears that custom exceptions make the query partly fail (it seems to return `None` in place of the object that fails and continues going), but do not get bubbled up at all.

For example:

[code]

with the following test code:

[code]

shows

[2016-01-27 14:05] rafales commented on #91
This bit me too.

[2016-01-27 14:07] rafales opened #92 "Internal complexity"
Internal implementation of graphene seems to be overly complicated - Inheritance graph looks insane. Are there any plans to simplify it?

[2016-01-27 14:11] rafales commented on #59
Current implementation of `cursor_for_object_in_connection` relies heavily on the fact that data is provided as a list. What about Django ORM/SQLAlchemy where there may be thousands of records? This would cause to fetch them all. It doesn't seem like a good idea.

[2016-01-27 14:24] gwind commented on #91
me too.

BTW, some related suggest:

1. Intergrade with form validate, such as WTForm
2. field with validate

[2016-01-27 18:25] syrusakbary commented on #91
You are completely right.
However the problem is caused by `graphql-core` library.

Related issue: https://github.com/graphql-python/graphql-core/issues/41

I'm going to work to fix ASAP in `graphql-core` so will not happen anymore on `graphene`.

[2016-01-27 18:25] #91 closed

[2016-01-27 18:30] syrusakbary commented on #92
Hi @rafales, thanks for asking this!

`graphene` principal focus at the beginning was the syntax and the way you use it.
However, as you mentioned, there are things that could be simplified. And there are others that it's not as easy to simplify when you have support for multiple schemas.

As the code-coverage and testing is quite good, it's easy to do internal refactors (it's been three massive i

[2016-01-27 18:57] jhgg commented on #91
Open a PR and I'll review it today!

[2016-01-28 11:10] rafales commented on #92
Depends on the requirements.

For example syntax where we can define scalar fields without the need to use `Field` instance looks a bit nicer but is probably one of the causes for additional complexity and is misleading, especially at the beginning. Are you open to changing that to more sqlalchemy-like style? Or is this the syntax we want and all we can do is change the internals?

[2016-01-28 15:25] Globegitter opened #93 "Support deprecation"
It seems that deprecation of fields is not supported either in graphene or graphql-core. It seems to be explained here: https://github.com/facebook/graphql/blob/d8a52f1fb70a61ceb13dd49292b74b58d894a074/spec/Section%204%20--%20Introspection.md#deprecation

I would expect to be able to use it as follows:

[code]

[2016-01-28 17:48] jhgg commented on #93
This is already supported in core. Just pass a `deprecation_reason` to the underlying `GraphQLField`.
There is no `is_deprecated` as a non-null value for `deprecation_reason` implies `is_deprecated ` for the purpose of schema introspection.

[2016-01-28 17:53] Globegitter commented on #93
Ok will have a look - thanks for the quick response :)

[2016-01-28 18:22] #93 closed

[2016-01-28 18:41] syrusakbary commented on #92
When we launched, the way we approached was very similar to SQLAlchemy/Django.

You have to create a Field and then a Type, like:
[code]

But the main usage problem arises when you want to use a String as a Argument too (not only as a Field). So naming `StringField` for and `Argument` was not very intuitive.
So then, we switched to:

[code]

However we were not as confortable as we should with thi

[2016-01-28 18:54] syrusakbary commented on #93
@Globegitter You can now use `graphene.String(..., deprecation_reason='Deprecated since 1.0')` :wink:

[2016-01-28 22:55] defrex opened #94 "Authorization in Django"
Graphene has been amazing to use so far. Great work.

By default it seems to make all data available to everyone, which I can't go to production with for obvious reasons. There are really two things I'd like. They may already be possible, I just don't see how from the documentation.

**Queryset Filtering**
I'd love to be able to access the `request` object and a queryset at the same time to I can

[2016-01-29 01:13] gwind commented on #94
Use `only_fields`   -  [code](https://github.com/graphql-python/graphene/blob/master/graphene/contrib/django/types.py#L17-L32)

[code]

[2016-01-29 02:26] syrusakbary commented on #94
For limiting field access you can use @gwind suggestion.
About filtering depending on the context, is quite easy:

[code]

Hope it helps!

[2016-01-29 02:26] #94 closed

[2016-01-29 02:27] syrusakbary commented on #94
Feel free to reopen if any question! ;)

[2016-01-29 10:08] Globegitter commented on #93
@syrusakbary Thank you for the quick turnaround :)

[2016-01-29 19:34] defrex commented on #94
Thanks for the help!

[2016-01-29 22:42] syrusakbary opened #95 "Map Django Field choices"
Add automatic mapping of the choices of a Django Field to GraphQL enum.

[2016-01-30 02:30] dgoldstein0 opened #96 "errors during `Schema`'s `schema` property method extremely difficult to debug"
Errors in `@property def schema` (and probably any other `@property` in that class) do not yield useful tracebacks; instead, python "helpfully" falls back to `__getattr__` and then fails in there, which is extremely unhelpful. This appears to be a specific case of tomchristie/django-rest-framework#2108

Would it be possible to ditch the `__getattr__` use, or alternatively the `@property`s?

Traceb

[2016-01-30 03:35] syrusakbary commented on #92
I'm going to close this issue, please reopen it if you have any idea for simplifying the internal code or want to discuss it further! :)

[2016-01-30 03:35] #92 closed

[2016-01-31 12:32] joshprice opened #97 "Docs: Burger menu not working"
Burger menu not opening on site http://graphene-python.org/, tried in Chrome, Safari, Firefox, Mobile Safari.

The `translate3d(-100%,... )` inline style isn't changed/removed even though the `isOpen` state of the is correct.

I noticed when debugging in Chrome that the inline styles had `-webkit-` prefixes applied but couldn't see why, so suspecting an interaction with another library perhaps.

[2016-01-31 22:38] syrusakbary commented on #97
Thanks for pointing this out!
Probably this could be fixed by using a newer version of `react-burger-menu`.

[2016-01-31 23:16] #97 closed

[2016-02-01 15:05] Globegitter opened #98 "Example for UnionType"
We have just been trying to use `UnionType` but with very little success, all throwing some error message that is hard to identify/debug.

This is a simplified example of what we have been trying, using the latest version `0.7.0`:

[code]

There are a few more variations that we have tried as well, but didn't work. So how does a full example of using `UnionType` look like?

CC @imranolas

[2016-02-01 18:56] syrusakbary commented on #98
@Globegitter You can use the way you mentioned, or using inheritance:

[code]
Example taken from [the objecttype tests](https://github.com/graphql-python/graphene/blob/master/graphene/core/classtypes/tests/test_objecttype.py#L81)

However I feel this current approach (the one I wrote) is not the best one so I was thinking about deprecating taking the following:

[code]

PS: the one you mentioned t

[2016-02-01 18:56] #98 closed

[2016-02-02 15:09] imranolas commented on #98
@syrusakbary: Any chance you could release these changes?

[2016-02-02 19:54] sgtsquiggs opened #101 "Calculated fields"
How do we access calculated fields? In a serializer I would do something like
[code]

I assume I need to specify this somehow in `class ArtworkNode(DjangoNode):` but I've been unable to discover how.

[2016-02-02 21:20] sgtsquiggs commented on #101
Figured it out.

[code]

Is it possible to retrieve via `pk`?

[2016-02-02 22:26] syrusakbary commented on #98
@imranolas Sure! A new version will be pushed to PyPI soon! :)

[2016-02-02 22:28] syrusakbary commented on #101
Great! However I'm going to add the source option to fields! It makes it much more pleasant to develop!

So you can do something like

[code]

[2016-02-02 22:33] syrusakbary commented on #101
@sgtsquiggs You can retrieve an Artwork Node doing:
[code]

In this case `SOME_STRING` will be the value of `ArtworkNode.global_id(1)`.

[2016-02-02 23:05] sgtsquiggs commented on #101
Is it possible to get a single item via a field other than id? for instance I have a `slug` field on Artwork and in my django endpoint I use Artwork.get_by_slug(slug).

`source=` would be perfect, I use it extensively in my serializers

[2016-02-02 23:10] syrusakbary commented on #101
Sure. You can do is using arguments.

[code]

Then you can query it with the following query:
[code]
Hope it helps!

[2016-02-03 03:05] #101 closed

[2016-02-03 04:13] #95 closed

[2016-02-03 04:52] syrusakbary commented on #98
Just published a new version to PyPI with this fix and other features
`pip install graphene==0.7.1`

Release notes: https://github.com/graphql-python/graphene/releases/tag/v0.7.1

[2016-02-03 18:52] Globegitter opened #103 "Error with new Enum implementation"
We where using Enums before `0.7.1` and it worked well, but now after switching to the new syntax getting the following error:

[code]

The strange thing being is that I can not reproduce the error in an isolated test case. So I wonder if it could be something to do with the Enum backport or something else messing with it? In any case will investigate more.

[2016-02-03 20:14] syrusakbary commented on #103
Hi @Globegitter, I'm investigating it right now.
Everything should work fine. Are you using `graphene.Enum` explicitly somewhere? What is the Python version?

[2016-02-03 20:16] syrusakbary commented on #103
In the case you where using `graphene.Enum` previously, can you paste here the code for seeing how are you using it?

[2016-02-03 20:27] Globegitter commented on #103
@syrusakbary After talking to one of my colleauges, we are apparently doing something ourselves to ensure we have enums available (also using the package enum34), so my guess it is related to that and some issue with the way we are using that and the way graphene is ensuring that enums exist.

Trying to us it as follows now:
[code]

I will look into it again tomorrow to identify if there is someth

[2016-02-03 21:47] defrex opened #105 "Error trying to create a custom Scalar type"
I'm trying to create a field type called `Money` that is a decimal in python, and rounds to cents as an integer when it's serialized. As per the docs, this is my class.

[code]

Given this `ObjectType`.

[code]

I get the following error.

[code]

What am I doing wrong?

[2016-02-04 05:19] dmzkrsk commented on #51
Hello, I started a project for MongoEngine integration

https://github.com/dmzkrsk/graphene-mongoengine

I copied code from `contrib.django` and `contrib.sqlalchemy` and replaced classes with `mongoengine` ones.

It's in pretty early stage, I have no docs, tests, but it has working fields, relations, relay. Mutations not tested yet.

Please join, test on your projects, add tests, etc

[2016-02-04 11:23] sibeliusseraphini commented on #51
@dmzkrsk that's great to know

take a look at https://github.com/RisingStack/graffiti-mongoose, it's have the same ideia but for JS

[2016-02-04 14:36] Globegitter commented on #103
Ok it was an error purely on our side - sorry for unnecessarily opening this issue.

[2016-02-04 14:36] #103 closed

[2016-02-04 15:20] Globegitter commented on #105
@defrex

I think if you try:
[code]

it should work.

[2016-02-04 15:51] adamcharnock commented on #59
@syrusakbary I'm currently struggling with this too. I have something like this:

[code]

Any help here would be very welcome indeed!

[2016-02-04 16:33] sgtsquiggs opened #106 "StarWars example (edges/node?)"
Is the `edges { node {` nesting an artifact of the connection between film and character? I am confused as to why it isn't simply

[code]

with the result

[code]

[2016-02-04 16:44] defrex commented on #105
That did the job, thanks!

[2016-02-04 16:44] #105 closed

[2016-02-04 16:56] Globegitter commented on #106
@sgtsquiggs That is the difference between a `graphene.List` and a `graphene.ConnectionField`. A ConnectionField is basically a list on steroids with information about pagination. See here for some more info on it: https://facebook.github.io/relay/docs/graphql-connections.html#content

[2016-02-04 17:03] sgtsquiggs commented on #106
I see! I'll have to read up on Relay.

[2016-02-04 17:03] #106 closed

[2016-02-04 17:19] Globegitter commented on #82
@dwiel
That does of course depend on the actual use-case, but one way is to just group them together into an ObjectType and then you can have something as follows:

http://graphene-python.org/playground/?schema=import%2520graphene%250A%250Aclass%2520HelloPing(graphene.ObjectType)%253A%250A%2520%2520%2520%2520hello%2520%253D%2520graphene.String()%250A%2520%2520%2520%2520ping%2520%253D%2520graphene.

[2016-02-04 17:26] dwiel commented on #82
The problem is that even with this solution, resolve_hello will be run 3 separate times.  This can be a problem if that function is slow or depended on by multiple other fields in the query.

[2016-02-04 17:33] syrusakbary commented on #82
@dwiel if you wrap your fields with common attributes to a `ObjectType`, as @Globegitter suggested, the resolver for this `ObjectType` will be only called once.

So yes, resolving field would be called 3 times.

1. The parent resolver (`helloPing`)
2. The hello field in `HelloPing`
3. The ping field in `HelloPing`

However, as `GraphQL` (and `graphene` as well) is prepared to run the resolving fie

[2016-02-04 20:00] dwiel commented on #82
I see that makes sense.  Thanks for the detailed answer

On Thu, Feb 4, 2016 at 12:33 PM, Syrus Akbary <notifications@github.com>
wrote:

[2016-02-04 20:22] syrusakbary commented on #82
No problem! Closing the issue

[2016-02-04 20:22] #82 closed

[2016-02-04 21:39] sgtsquiggs opened #108 "`first: 5` request pulling entire table twice, not using `limit`"
I've got a table with 92000 entries, and a lot of fields.

In this example, I want the pk (`id` in the table; it is mapped to `pk` in the Artwork model), and the `title`

`{ allArtworks(first: 5) { edges { cursor, node { pk title } } } }`

The entire table is pulled twice (`10903.39`ms or so) for unknown reasons, resulting in a total processing time of `72150.965`ms

I would expect it to use `limi

[2016-02-04 21:45] syrusakbary commented on #108
@sgtsquiggs for doing the pagination it have to know how many elements it have.
So its doing a count on the query `SELECT count(id)  from artworks where ...`.

Can you install the Django debug plugin and see whats the response for that?

# How to install Django Debug Plugin?

[code]

And then query it like:
[code]

Please post here what queries are happening so I can fix it better :)

[2016-02-04 22:02] sgtsquiggs commented on #108
Doesn't seem to be working. Tried it on a simpler query:
[code]
[code]

[2016-02-04 22:07] syrusakbary commented on #108
Which Django version are you using?
Are you hitting the database in the `resolve_article` function?

[2016-02-04 22:08] sgtsquiggs commented on #108
Django 1.6.11

[code]

[2016-02-04 22:10] syrusakbary commented on #108
I think `models.Artwork.get_by_pk_or_slug(pk_or_slug)` is somehow not hitting the DB.
Can you try `return models.Artwork.first()`?

[2016-02-04 22:14] sgtsquiggs commented on #108
[code]
[code]

[2016-02-04 22:15] sgtsquiggs commented on #108
`return models.Artwork.objects.first()` also returned `"sql": []`

[2016-02-04 22:17] syrusakbary commented on #108
Weird, is [tested here](https://github.com/graphql-python/graphene/blob/master/graphene/contrib/django/debug/tests/test_query.py), for Django versions 1.6, 1.7, 1.8 and 1.9 and the tests are passing.

Are you already using `django-debug-toolbar` in your `Django` project?

[2016-02-04 22:21] sgtsquiggs commented on #108
Ok, if I disable `django-debug-toolbar`, `DjangoDebugPlugin` works:

[code]

This took 36.15 seconds

[2016-02-04 22:22] syrusakbary commented on #108
Ok, I will fix that now, so you will be able to use `django-debug-toolbar` and `DjangoDebugPlugin` at the same time.

[2016-02-04 22:46] syrusakbary commented on #108
Ummmm... not limit is applied.
Can you try with `DjangoConnectionField` and output what happens?

[code]

[2016-02-04 22:51] sgtsquiggs commented on #108
That seems to be it.

`... FROM `artwork` LIMIT 5 OFFSET 92034"` when using `DjangoConnectionField`

[2016-02-04 22:57] syrusakbary commented on #108
Great! I think I know how to fix the issue.
Will push a solution around today.

[2016-02-05 10:20] imranolas opened #110 "Circular dependencies"
Python is not able to resolve circular dependencies for schemas with recursive types.

e.g
[code]

At runtime, the above fails as the types haven't yet loaded before being used in field definitions. A better option would be to wrap the field definitions in a lambda to be called at resolve time and after the types have been declared.

e.g
[code]

cc @Globegitter

[2016-02-05 11:20] Globegitter commented on #110
Or looking at Graphql-core another syntax option could be

[code]

But of course that would mean that graphene would either have to break backwards-compatibility to a quite substantial degree, or support two different syntaxes.

[2016-02-05 17:21] syrusakbary commented on #110
Hi @imranolas,

You can achieve this by using String references (ala Django):

[code]

[2016-02-05 18:19] Globegitter commented on #66
@syrusakbary any update on this?
I am just running into this again. Refactoring our queries and mutations and again have to copy and paste the shared fields between the two.

I also tried to use `graphene.Interface` but also does not seem to work.

[2016-02-05 19:37] syrusakbary commented on #66
Will work on that soon! :)

[2016-02-06 00:10] syrusakbary commented on #110
As posted in the pull request #111, there is already another "undocumented" way for doing solving this if you don't want to use string references.

[code]

[2016-02-06 00:10] #110 closed

[2016-02-06 00:10] syrusakbary commented on #110
Please feel free to reopen if you have any other suggestion of how to achieve it! :)

[2016-02-06 00:19] jdugan1024 opened #112 "Exceptions being hidden in resolve methods"
I'm using graphene 0.7.1 and am really liking it! Thanks!

I ran into an issue that took me quite some time to figure out. Given a `DjangoNode` like this:

[code]

The availability attribute comes back as null and there is no exception reported. Is this by design or accident?

It makes it very difficult to debug the resolve method -- I missed a typo for a long time because I had no error message t

[2016-02-06 00:28] syrusakbary commented on #112
Thanks for pointing this!
The problem resides in `graphql-core`, which powers the internals of `graphene`.

https://github.com/graphql-python/graphql-core/issues/41
I'm working to fix it there (in `graphql-core`)... will close the issue here!

[2016-02-06 00:28] #112 closed

[2016-02-06 01:05] jdugan1024 commented on #112
Thanks @syrusakbary

[2016-02-06 02:28] #108 closed

[2016-02-06 03:06] syrusakbary commented on #108
Hi @sgtsquiggs, this is now fixed and tested.

Install the latest graphene version `pip install graphene==0.7.2`. Everything should be running as expected.

Please reopen this issue if not.

[2016-02-06 17:17] adamcharnock commented on #59
This is driving me up the wall. Still receiving `Cannot return null for non-nullable field EventNodeEdge.cursor` errors. I'd be willing to offer a bounty for some clear documentation if it can be done ASAP.

[2016-02-06 19:12] syrusakbary commented on #59
@adamcharnock I will work on this ASAP (is superbowl here so probably in the weekend will be difficult).
No need for bounties :wink:

[2016-02-08 14:46] adamcharnock commented on #59
Thank you very much @syrusakbary, that'll be really useful :-)

For now I've managed a temporary workaround by just doing `this.props.relay.forceFetch()` after the mutation has been executed, thereby reloading all currently rendered data from the server.

[2016-02-10 15:55] defrex commented on #59
BTW, a tip for anyone else looking at this. You can grab a reference to a Relay edge like so:

[code]

[2016-02-11 16:27] defrex opened #116 "Django querysets default to unfiltered when empty"
When using a `DjangoConnectionField` and performing a filter on the queryset in the resolve method, an empty queryset will result all the objects being returned.

For example

[code]

[code]

[code]

In this simple case. If the `name` arg returns a queryset with results, those results will be used. Otherwise, all categories will be returned.

This doesn't apply to `django-filters` based filtering,

[2016-02-12 19:05] defrex opened #117 "Scalar types not valid in graphql-core"
It can be handy to drop down to graphql-core types for low level things. However currently Graphene's scalar types don't pass graphql-core's type checking. This makes it hard to mix and match. Since Graphene is build on graphql-core, it seems like this should be doable.

Example of failing type check.
https://github.com/graphql-python/graphql-core/blob/master/graphql/core/type/definition.py#L7

[2016-02-12 19:07] syrusakbary commented on #117
Hi @defrex, you have to transform the `graphene` types into the `graphql-core` internal types.

For that, just do:

[code]

[2016-02-12 19:10] defrex commented on #117
@syrusakbary Thanks for the quick response!

Where is that `schema` object coming from?

[2016-02-12 19:13] syrusakbary commented on #117
@defrex the schema is your `graphene.Schema` instance.

Like in here: https://github.com/graphql-python/graphene/blob/master/examples/starwars/schema.py#L56

[2016-02-12 19:15] defrex commented on #117
Ah, I see. I can't reference that from this point in the code without a circular import, since I'm still defining the schema. That's a good lead though on how to solve it though. I'll dig into the source there and see if I can work around the issue.

[2016-02-12 19:17] syrusakbary commented on #117
For avoiding that, you can define the schema before any other type.
https://github.com/graphql-python/swapi-graphene/blob/master/starwars/schema.py#L12

And then set the root Query, Mutation and/or Subscription.
https://github.com/graphql-python/swapi-graphene/blob/master/starwars/schema.py#L173

[2016-02-12 19:18] syrusakbary commented on #116
Which graphene version are you using?

[2016-02-12 19:21] defrex commented on #117
That'll do. Thanks for the help once again.

[2016-02-12 19:21] #117 closed

[2016-02-12 19:28] defrex commented on #116
Looks like this is solved as of `0.7.2`. I upgraded yesterday afternoon, and I can no longer reproduce.

Keep up the great work!

[2016-02-12 19:28] #116 closed

[2016-02-12 19:56] syrusakbary commented on #116
Thanks!
This commit fixed the issue: https://github.com/graphql-python/graphene/commit/314703d7b5380c80fe2ee1e2ad4a3eb3d9ed7fc4#diff-233528cf66f4e9df736a367fe12b2ec1R30

[2016-02-13 03:18] syrusakbary commented on #59
@adamcharnock I'm revising this now.
Are you using `graphene.Mutation` but it seems you should be using `relay.ClientIDMutation` and `mutate_and_get_payload` function, as Edges are only relevant to `Nodes`.

Let me know if that's the problem.

[2016-02-15 22:33] bigblind opened #120 "[Minor] Improve performance of homepage animation."
Because of my visual impairment, I use the mac's built-in zoom functionality. When I visit the Graphene homepage, my mouse movement using zoom gets a bit stuttery. I'm assuming this is because of the animation on the home page. It doesn't happen on any other page of the site.

Note that this is just a minor annoyance for me, so unless it's bothering anyone else, don't give it too muc priority.

[2016-02-18 22:35] commandtab commented on #52
Thanks for your repo, @amitsaha! It cleared up a number of things for me as I'm getting going with graphene :)

[2016-02-23 22:51] ConAntonakos opened #121 "http://swapi.graphene-python.org/ leads to 502"

[2016-02-24 01:25] ekampf commented on #37
:+1:

[2016-02-24 15:51] matclayton commented on #83
We'd also love to see this, an example of using m2m relationships would also be fantastic.

[2016-02-24 15:56] adamcharnock commented on #83
@matclayton FWIW I'm currently treating the through table as simply another node. It makes the GraphQL somewhat nested, but it works for now.

[2016-02-27 10:23] Wesitos opened #122 "Schema.introspect fails when using AsyncioExecutionMiddleware"
The instrospect method implies that the return value of `Schema.execute` is of type `ExecutionResult` when it depends of the execution midddleware.
[code]
One workaround could be to temporarily changing the execution middleware to the `SynchronousExecutionMiddleware` before doing the instrospection query.
[code]

[2016-02-29 16:48] adamcharnock commented on #59
@syrusakbary I could swear I replied to this! Sorry for the delay. I had actually using both `relay.ClientIDMutation` and 'mutate_and_get_payload ' with no luck. I may be working on this again soon so it would be great if I could figure this stuff out :-)

[2016-03-01 00:34] syrusakbary commented on #59
Let me know! I would like to find a good solution for this!! :)

[2016-03-01 00:48] adamcharnock commented on #59
@syrusakbary Will do.

To clarify, what I mean is I think that a working example in the docs would really help a lot. I felt I had run out of avenues to explore when I last looked at this.

[2016-03-01 06:48] gwind opened #123 "Is there anyone can checkout pull request about "pageInfo"?"
Hi, guys

I've submit a pull request https://github.com/graphql-python/graphene/pull/90 .
For fit requires of react/relay now.

thanks,

[2016-03-01 23:16] syrusakbary commented on #123
Hi @gwind,
Sorry for taking too much time on this.

I didn't accepted the pull request because I thought the `camelCase` should be imposed everywhere or nowhere (having mixed cases in the same schema looks very weird).

As I'm not very convinced of what is the best path to choose I will accept the pull request. However this might change in the future.

[2016-03-01 23:17] #123 closed

[2016-03-02 09:46] gwind commented on #123
Hi @syrusakbary

Thank you for getting back to me.

I agree, my pull request is not a good idea. `realy.QL` have a confusion about pageInfo and it is unstable dev now. I'll used this in my local env with graphene.

Thanks again.

[2016-03-03 16:22] Jpadilla1 opened #124 "How to get Django model id from graphql generated id?"
I have a Post model with a few field and when I create a Mutation to update a specific Post I get the graphql generated ID instead of the model id.

[code]

[2016-03-04 00:48] gwind commented on #124
This is a GraphQL spec require.

In the graphql_relay package, there is a `/usr/local/lib/python3.4/dist-packages/graphql_relay/node/node.py`

how to do:

[code]

[2016-03-04 01:06] Jpadilla1 commented on #124
@gwind Thank you!

[2016-03-04 01:06] #124 closed

[2016-03-04 08:18] mamaar opened #125 "Postgres specific fields for Django"
Django supports [PostgreSQL specific model fields](https://docs.djangoproject.com/en/1.9/ref/contrib/postgres/fields/) and it would be nice to use them with Graphene. I'd like to try implementing the ones I use, but need some directions on where/how to begin.

I'm looking to query the lower and upper bounds of range fields.
[code]

[2016-03-06 09:19] gwind opened #126 "Does relay.NodeField support many args more than "id" ?"
Hi, guys

In `graphene/relay/fields.py` :

[code]

This define a `get_node` strictly, just global id could be used as arg.

There is an example about other scene:

[http://graphql-swapi.parseapp.com](http://graphql-swapi.parseapp.com/?query={%0A%20%20film%28filmID%3A%20%223%22%29%20{%0A%20%20%20%20id%0A%20%20%20%20title%0A%20%20}%0A%20%20allFilms%20{%0A%20%20%20%20edges%20{%0A%20%20%20%20%20%20nod

[2016-03-07 10:31] lightning18 commented on #125
If you want to try, you can start here: https://github.com/graphql-python/graphene/blob/master/graphene/contrib/django/converter.py

[2016-03-08 01:36] amitsaha opened #129 "Using the same type for querying and mutation"
Today I learned that to allow a custom type as mutation argument, it needs to inherit from `InputObjectType` and it's fields need to be of `InputField` type.

I think this requirement is forcing duplicating of types. What I mean is, say I have a `Person` type as:

[code]

I expose it as a query-able object as well as return it as a result.

Now, If I want to allow it as a mutation argument to upda

[2016-03-08 10:17] gwind commented on #129
I think so.

My object is defined with SQLAlchemy model:

[code]

My mutation defined:

[code]

I thought that:

1. Every field in `class Input` would be needed with custom description/doc. Such as `title - The title about article. Needed!`
2. `class Input` could have a custom validation.
3. Usually, query object is defined with ORM(Django Model / SQLAlchemy)

[2016-03-12 11:58] miracle2k opened #131 "relay.Connection.__init__ does not call super"
https://github.com/graphql-python/graphene/blob/master/graphene/relay/types.py#L58

Is there a reason why not?

It seems to be the cause of a ``__init__() got an unexpected keyword argument '_root'"`` error I am getting using a ``ConnectionField`` and a custom ``relay.Connection`` subclass. There are some other things going in my code so it's not easy to post an example, but essentially, ``Connect

[2016-03-15 06:07] varunarora opened #132 "pip install graphene[django] broke my entire app"
Thank you for the effort you have taken with this effort for Python peeps.

I was only playing around to get my feet wet with graphene, but I think it has caused severe damage. Running `pip install graphene[django]` uninstalled Django 1.4.1, which my HUGE app for running stably for 3 years, caused Django 1.4.1 to be uninstalled and upgraded it to 1.9.4.

Why would any command in the world do such

[2016-03-15 18:29] commandtab opened #133 "Empty SQLAlchemyConnectionField list gets replaced with full list"
Perhaps related to #116, I'm using `graphene[sqlalchemy]` version 0.7.2 under Python 2.7.11 and when I query a `SQLAlchemyConnectionField` that _should_ return an empty list, _all_ connections are returned instead.

Here's an example graphene setup:

[code]

When running the following query against that setup, I expect to receive an empty list of `edges` because I specify `ids:[]` in my query args

[2016-03-16 07:47] varunarora commented on #132
So turns out switching back to an old Django version wasn't that hard. And this might be an issue with how pip works. Irrespective, it makes for a very bad user experience.

There is another issue with the choice of Django version. It seems like the app actually requires a minimum of Django 1.8. I got this error AFTER upgrading to 1.6.11:

[code]

[2016-03-25 13:51] kaglowka opened #134 "Enum choice order and input type not working"
I detected various more and less serious issues with current Enum implementation. I place them here in one issue as I think they are closely related. Should I split it, maybe?

Currently, if any field converted from django Model to graphene.Field has choices defined, the field is converted to graphene.Enum with corresponding value-label pairs.

**1) Choice order**

Django choices (value, label) or

[2016-03-28 06:36] mixxorz commented on #57
This code snippet successfully extracts all fields from `info`:

[code]

This hasn't been tested for all edge cases though.

[2016-03-28 16:08] mixxorz commented on #57
After much work, here's a much nicer code snippet to get requested fields:

https://gist.github.com/mixxorz/dc36e180d1888629cf33

[2016-03-29 05:19] mixxorz commented on #126
Did you find a workaround for this?

[2016-03-29 22:42] michaellenaghan opened #135 "0.7.3 hasn't been tagged"
It shows up in PyPI at https://pypi.python.org/pypi/graphene/0.7.3 but isn't listed under releases at https://github.com/graphql-python/graphene/releases.

[2016-03-30 06:23] syrusakbary commented on #131
Sorry for taking some time in taking a look. I've been in vacations... but I'm back!

`relay.Connection` as you mentioned should call super. Fixing this now.

[2016-03-30 06:26] #131 closed

[2016-03-30 06:30] syrusakbary commented on #132
Hi @varunarora, at first sorry for taking so long in replying... I was in vacations until yesterday.

The error is caused by `django_filter`, not `graphene[django]`. You can try uninstalling it, as is incompatible with Django 1.6, with:
[code]

Then, importing graphene should work fine :)

Please reopen this issue if not, or if you have any other question.

[2016-03-30 06:30] #132 closed

[2016-03-30 06:31] syrusakbary commented on #134
Thanks for such a detailed issue @kaglowka.

Taking a look right now.

[2016-03-30 06:50] syrusakbary commented on #135
v0.7.3 is now as Graphene release in Github 😃

https://github.com/graphql-python/graphene/releases/tag/v0.7.3

[2016-03-30 06:50] #135 closed

[2016-03-30 06:51] syrusakbary commented on #133
That's a bug... Fixing!

[2016-03-30 07:13] #133 closed

[2016-03-30 09:52] sdcooke opened #136 "Date formating"
JSON doesn't have a date format so dates in graphene are just string fields. This means any dates that are output without being formatted first (e.g. if you use a DjangoNode with only_fields where one of the fields is a date field) are just output as `unicode(date_object)` (which looks like `2016-03-29 17:42:01.683650+00:00`). If you take that date in JavaScript and do `new Date(myDateStr)` browse

[2016-03-30 10:24] sehmaschine opened #137 "convert ImageField"
Not sure if this is a bug, but I'm currently not able to convert a Django `ImageField`. Taking a look at converter.py, it doesn't seem to be supported. Is this intended behaviour? Any workarounds?

[2016-03-30 15:21] commandtab commented on #133
Thanks for fixing! I really appreciate it.

[2016-03-31 09:10] mixxorz commented on #126
I've worked around the issue by using a regular `graphene.Field`, `id` plus other arguments, and doing some trickery in the resolve method.

[code]

[2016-04-02 06:07] syrusakbary commented on #136
Hi @sdcooke,
`graphql` explicitly doesn't set any DateType and `graphene` chose this path too.
However I can see the usefulness in this.

Check the [custom scalars section in graphene documentation](http://graphene-python.org/docs/basic-types/).
I'm thinking about an option for adding this to graphene in a configurable way.

[2016-04-02 07:22] syrusakbary commented on #134
This is now fixed in master.

You can use now in Input doing:
[code]

[2016-04-02 07:22] #134 closed

[2016-04-02 23:05] greenteamer commented on #84
Hello, i have the same 500 error in 0.7.3 version when trying
`query {
  allNotes {
    edges {
      node {
        id,
        title
      }
    }
  }
}`

[2016-04-02 23:10] syrusakbary commented on #84
@greenteamer can you detail a little bit more?

A stacktrace of the Exception or the output of the `/graphql` endpoint when querying could be useful :)

[2016-04-02 23:12] greenteamer commented on #84
Traceback (most recent call last):
  File "/Users/greenteamer/Desktop/Django/env/monolit/lib/python2.7/site-packages/django/core/handlers/base.py", line 149, in get_response
    response = self.process_exception_by_middleware(e, request)
  File "/Users/greenteamer/Desktop/Django/env/monolit/lib/python2.7/site-packages/django/core/handlers/base.py", line 147, in get_response
    response = wrapped_

[2016-04-02 23:15] syrusakbary commented on #84
@greenteamer The final query type used in the schema should not be abstract.
Try with:
[code]

*(without the Meta)*

[2016-04-02 23:18] syrusakbary commented on #84
The abstract queries bases should only be used when we inherit the final `Query` type from them.

Example:
[code]

[2016-04-02 23:18] greenteamer commented on #84
wow ... this is amasing!!! thank you !!! you did a great job

[2016-04-02 23:19] syrusakbary commented on #137
Working on this!

[2016-04-03 01:41] syrusakbary commented on #125
@mamaar I'm currently implementing that.
I'm thinking about to return the `rangeField` in the query as a `List` rather than an `ObjectType`.

So you could query like:
[code]
returning
[code]

Thoughts?

[2016-04-03 04:05] #137 closed

[2016-04-03 04:23] syrusakbary commented on #136
I finally added complete support for conversion from `DateField` to a `DateTime` scalar in graphene that will output the python date in a ISO-8601 format (Javascript Date format).

You can update `graphene` to the last version `0.8.0` and it will be working as expected.

[2016-04-03 04:23] #136 closed

[2016-04-03 04:24] syrusakbary commented on #125
Hi @mamaar,

I finally added support for postgres `RangeField`s (and `ArrayField`, `JSONField` and `HStoreField`).
It will output the field data as a js list with two elements `[lower, upper]`.

You can try it in the last version of `graphene==0.8.0` :wink:

[2016-04-03 04:24] #125 closed

[2016-04-03 04:24] syrusakbary commented on #121
Not anymore! :)

[2016-04-03 04:24] #121 closed

[2016-04-03 12:30] mamaar commented on #125
That's great, @syrusakbary !
Graphene is definitely a fantastic library.

[2016-04-04 18:01] defrex opened #141 "Custom data in mutation errors"
I'd like my mutation to error out, and pass custom data in the error object. The only way to return an error from a mutation seems to be to literally raise a python error without catching it.

This would be useful, for example, for form validation.

[2016-04-06 07:12] syrusakbary commented on #141
The `GraphQL` spec currently don't define any way for extending the Error entries (for handling validation on fields, for example) https://facebook.github.io/graphql/#sec-Errors

So `graphene` will wait until the spec is better defined in this sense (we could implement something but could be confusing for the users as didn't reflect what is happening in other implementations that follow the spec).

[2016-04-06 13:31] defrex commented on #141
Unfortunately, because I'm using Relay, the data returned from successful mutations is mostly out of my control.

The spec does seem to allow for extending the error objects.

Something as simple as an addition property I can add to an exception object that can be copied transparently into the error would be immediately useful.

At the moment I've resorted to json-encoding some extra data into the

[2016-04-07 15:19] vam opened #142 "HTTP Status 200 when a mutation fails"
I'm using `graphene.contrib.django`

If I raise an exception inside a mutation's `mutate_and_get_payload()` (e.g. because of a failed data validation), the resulting http response's code is 200 (OK). I'd expect 400 (Bad request).

[2016-04-08 08:33] syrusakbary commented on #141
I just seen this article, you might find it useful!
https://medium.com/@tarkus/validation-and-user-errors-in-graphql-mutations-39ca79cd00bf#.btrdt641t

I will try to talk with the GraphQL-js main developers (fb) and see how we can improve the spec regarding more personalized errors.

[2016-04-08 14:33] defrex commented on #141
This approach would be great, but doesn't work well with `react-relay`.

In relay, you can't directly control the mutation queries. You tell relay which types of data may be changed after the mutation, and it generates a query that fetches just enough data to replace anything it has cached. You can't manually add fields to the mutation response.

I suppose you could work around this by having a to

[2016-04-09 21:55] DasIch opened #143 "Django: Map Form to Mutation"
Currently it's possible to map Django models to `ObjectType`s using `DjangoNode`. I think it would be nice to have a similar feature that allows mapping forms to `Mutation` with a `DjangoMutation` class.

This would provide several great improvements:
- No need to duplicate form fields in `Input` classes anymore.
- There would be a simple and obvious way to handle validation.
- The code could map

[2016-04-09 22:50] syrusakbary commented on #143
Hi @DasIch,
I think it's a great proposal!

Should be good to start a discussion about how we want to use it!
I was thinking of something like:

[code]

I like mapping `form.errors` to the context. I think would be good if is done explicitly.

Thoughts?

[2016-04-11 15:44] ptomask opened #144 "How to get access to the queried object instance to get its attributes"
Hi,
Having this graphql schema:

[code]

and this query:

[code]

How can I gain access to the particular User instance (corresponding item of the list returned by resolve_user) to get its id attribute in GQUser.resolve_id method?

[2016-04-12 21:46] karec opened #145 "Use other name than id as primary key in SQLAlchemy models"
Hi,

Simple question:  is it possible to use an other attribute than ID as primary key with SQLAlchemy plugin ?

It's seems to not be implemented yet :

[code]

If I understand this code correctly it seems that a node will always filter on the `id` attribute of the model. It would be realy nice and useful to have a meta information to set the identifier of a model for using other columns as primar

[2016-04-13 04:14] syrusakbary commented on #144
If you remove the `resolve_id` method in the `GQUser` class it will automatically took it.
However if you still want to get it you can do `return self.id`

[2016-04-13 04:14] #144 closed

[2016-04-13 04:16] syrusakbary commented on #145
Currently we use the id, but I'm open for define a more flexible way for approaching this!

[2016-04-13 12:06] karec commented on #145
Working on it right now ;)

[2016-04-13 12:44] karec commented on #145
#146

[2016-04-15 07:48] Globegitter commented on #66
@syrusakbary I would also be happy to look into this myself. Do you have any starting pointers? Would love to give something back to this library, this issue just seems to be quite deeply rooted :)

[2016-04-15 08:25] karec commented on #145
I close it since the PR has been merged :)

[2016-04-15 08:25] #145 closed

[2016-04-18 15:31] gcheshkov commented on #143
Hi! Here is my proof of concept code to map DRF serializers to mutations: https://gist.github.com/gcheshkov/555b3e300b45f451b5b0fe79c73531ae

[2016-04-18 20:31] defrex opened #147 "Allow variables passed to schema.execute"
Is there a way to pass "variables" to  `schema.execute`? In the same way Relay mutations input is passed, ideally.

It's not clear from the docs/code how I would do this.

[2016-04-18 21:20] defrex commented on #147
I figured it out. It's the `args` keyword argument to `schema.execute`. It should be a dict (or other map type) and the keys should be camelCase. For example:

[code]

[2016-04-18 21:20] #147 closed

[2016-04-20 23:42] ekampf commented on #62
Similar case here working with AppEngine's NDB (would be the same for HBase or most other nosqls I guess).
I have a huge table. You can iterate it using a starting cursor value (you get the cursor value from the DB) and count of entries you want to fetch. There's an iterator that can do this in batches...  but there's no len() operation...

Example fetching a page:
[code]
`more` will be True\False

[2016-04-21 09:05] mjhlybmwq commented on #59
Any new progress about this issue?

[2016-04-22 09:06] mickeyinfoshan opened #148 "ClientIDMutation differs from mutationWithClientMutationId(javascript)?"
`mutationWithClientMuationId`'s output type is `${name}Payload`, while ClientIDMutation's is just the class name, which means the code on the client-side is needed to modify when the server-side is switched to `graphene`.

[code]

output type : `RemoveWidgetPayload`

[code]

output type : `RemoveWidget`

client-side code:
[code]

[2016-04-23 20:20] syrusakbary commented on #148
Good catch! This will be solved soon!

[2016-04-23 20:22] syrusakbary commented on #141
An update here:
I'm working in using `Promises` for the `graphql-core` package and upgrading for being compatible with the last `graphql` spec `0.5.0`. As soon this PR (https://github.com/graphql-python/graphql-core/pull/54) is merged would be very easy to add custom errors in `graphene`.

[2016-04-24 08:50] rapilabs opened #149 "Add a CHANGELOG"
Would be awesome if a CHANGELOG was added to the repo so I can review updates before upgrading :)

[2016-04-24 12:45] mickeyinfoshan commented on #59
I've found a tricky way to get the new edge, which may help.
use ```offset_to_cursor```  in ```graphql_relay.connection.arrayconnection```.
Here's an example:
[code]

[2016-04-25 18:57] defrex commented on #59
@mickeyinfoshan that assumes your edge is at the end of the list. If it's somewhere in the list, but you don't know the offset, this won't work.

[2016-04-25 18:57] defrex commented on #59
Fundamentally, index-based cursors are never going to work, because you need to full context of the list to know what the index will be. In a relay context, that means a different cursor for every sort/filter combo that might be addressing the edge. The data required for that is out of control, IMO.

Stepping back, the only requirement for a cursor is that you can select before and after it. Thus,

[2016-04-26 03:56] syrusakbary commented on #149
Good idea! Right now it could be achieved easily by looking at the releases:
https://github.com/graphql-python/graphene/releases

[2016-04-26 08:13] mickeyinfoshan commented on #59
@defrex It is just a tricky way to get the new cursor while performing a **RANGE_ADD** request, where the new edge should be the last one. It's not a clean one but a fast one for the reason that you don't need to iterate the list at all. In addition, **RANGE_ADD** is the only situation that a cursor is required on the server-side explicitly, as far as I'm concerned.

[2016-04-26 08:23] Globegitter commented on #57
Thanks for that work @mixxorz Also it seems that graphql itself might get that feature anyway. See: https://github.com/graphql/graphql-js/pull/304

Looks pretty great :)

[2016-04-29 10:21] mbrochh opened #150 "WebpackError: Invalid introspection data supplied to `getBabelRelayPlugin()` /"
I'm sorry if this is not the right place to ask. I suspect it would be either here or over at https://github.com/graphql/graphql-js/blob/master/src/utilities/introspectionQuery.js

I am trying to setup GraphQL / Relay with Django. My goal is that a ReactJS app can use Relay to get data from my Django server. I was able to setup django-graphiql and I can use the web-editor to execute GraphQL querie

[2016-04-29 12:34] sehmaschine opened #151 "adding count to query"
I'm using the following code and would like to to have variable "count" (number of total results) in my response – but I have no idea on how to solve it (already did quite some research).

[code]

**Query**
[code]

**Results**
I'd like to have an additional variable "count" (either within "allEntries" or even better as a part of "pageInfo")
[code]

[2016-04-29 12:35] sehmaschine commented on #151
Please Note: I'm not even sure this is related to graphene ... any hints are highly appreciated.

[2016-04-29 18:38] syrusakbary commented on #150
Hi @mbrochh the reason this error is happening is because a mismatch between graphql versions in client side and server side.
Graphene is compatible with graphql `0.4.18`, but it seems you are using graphql `0.5.0` in your client side. I'm working for being compatible with the last version of the spec.

GraphQL April 2016 version generalizes the support of locations in directives, and this change

[2016-04-29 18:38] #150 closed

[2016-04-29 18:45] syrusakbary commented on #151
Hi @sehmaschine, this is how I approached the same issue in swapi-graphene.

[Example swapi-graphene totalCount query](http://swapi.graphene-python.org/graphiql?query=%7B%0A%20%20myFavoriteFilm%3A%20film(id%3A%22RmlsbToz%22)%20%7B%0A%20%20%20%20id%0A%20%20%20%20title%0A%20%20%20%20episodeId%0A%20%20%20%20characters(first%3A5)%20%7B%0A%20%20%20%20%20%20totalCount%0A%20%20%20%20%20%20edges%20%7B%0A%

[2016-04-29 18:45] #151 closed

[2016-04-30 09:03] mbrochh commented on #150
This was extremely helpful! Thank you so much!

[2016-05-03 12:08] sehmaschine commented on #151
@syrusakbary thanks a lot – it works now. but I do have another minor issue: when I'm filtering the query (e.g. with something like ``name_Icontains``) the counter returns the number of filtered items. do you have an idea how I'm able to get all items (independent of any filters applied)?

[2016-05-04 06:49] rattrayalex opened #153 "Django Debug Plugin does not work if it is listed before other fields"
Hi there,

I'm following along your terrific tutorial http://graphene-python.org/docs/django/debug/ but not getting an results.

[code]
Results:
[code]

But, if I list `__debug` after `allJobs`, I get the expected results:
[code]

This should either be fixed or documented.

Python: 3.5.1
Django: 1.9.6
django-graphiql: 0.4.4
graphene: 0.8.1

[2016-05-04 09:13] Globegitter opened #154 "Add error/warning for returning wrong types/fields"
It has happened to me twice now that I had a situation similar to this:

[code]

And on the frontend this just returns fields set to null. It would be great if there was either an exception thrown or at the very least some warning. I suppose that could be on two levels, one on the `graphql-core` and the other on `graphene`. `graphql-core` could simply warn/error if any fields are returned in the r

[2016-05-10 14:16] Globegitter commented on #141
Yeah also on the relay repo they seem to suggest to customize the error response: https://github.com/facebook/relay/issues/777#issuecomment-184321489

Once we can add custom errors it would also be important to be able to add multiple custom error for one mutation. So if you have form input validation that you can return all field errors at once. With the current method `raise Exception('field a i

[2016-05-11 02:29] mickeyinfoshan opened #156 "a todoMVC example"
I made a `todoMVC` example [here](https://github.com/mickeyinfoshan/graphene_todo). I hope this could help someone.

[2016-05-11 02:59] cwaeland opened #157 "String References not working with `InputFields`"
In order to overcome some circular dependencies I switched over my Schema to use String References as mentioned in this issue: https://github.com/graphql-python/graphene/issues/110

However, I've run into some issues with my `InputObjectType` classes.  So looking at something of the form:

[code]

The `InputField` referencing 'CategoryInput' triggers an [AssertionError](https://github.com/graphql-

[2016-05-11 03:31] syrusakbary commented on #156
Thank you for referencing it! I will put a link in the graphene community page.

[2016-05-11 03:33] #156 closed

[2016-05-11 16:11] cwaeland commented on #157
I've found that using something like `category = graphene.InputField(schema.types['CategoryInput'])` works.  Although that seems like it shouldn't be necessary.

[2016-05-11 19:17] JackWink opened #158 "Enum / ChoiceType with SQLAlchemy"
I'm using Enum34 with Python 2.7 and having an issue getting it to map correctly to the GraphQL Enum type.  Stacktrace below:

    File "build/bdist.macosx-10.11-x86_64/egg/graphene/core/classtypes/base.py", line 31, in __new__
    File "build/bdist.macosx-10.11-x86_64/egg/graphene/contrib/sqlalchemy/types.py", line 57, in construct
      MethodType = type(_x._m)
    File "build/bdist.macosx-10.11

[2016-05-12 15:12] HelloYie opened #160 "Django: how to set_cookie with graphQL mutation?"
Hi! How to set cookie in my domain by `response.set_cookie()` with graphql ? For exmaple:
[code]

[2016-05-12 15:46] mjtamlyn commented on #129
Could both the `InputObjectType` and the `ObjectType` inherit from the same `Interface`?

[2016-05-13 19:57] stefanfoulis opened #161 "graphene[django] has clashing dependencies"
This becomes evident when using pip-tools (pip-compile) to check dependencies.
Because of ``graphql-django-view==1.3b1`` it ends up trying to install
``graphql-core>=0.5.0==0.5b3`` which is impossible.

[2016-05-13 20:36] #161 closed

[2016-05-16 05:55] bradreardon commented on #94
Hi @syrusakbary, I'm either mistaken or the docs on this are out of date. It appears that even when using `graphql-django-view`, `request_context` is not an attribute passed on the `info` parameter of resolve functions.

Am I doing something wrong? Perhaps you could help me out here. It seems the documentation on this is pretty vague. Thanks!

[2016-05-16 11:54] Globegitter opened #163 "Middleware support"
I just started looking into the new graphql version - first of all thanks for all the work, the Promise stuff is really going to make things simpler for us.

Before the update graphql supported multiple excutors/middlewares such as:

[code]

Now after looking into this, first of all the `Executor` is gone, but also from what I can see only one excutor/middleware is allowed per schema? Is that righ

[2016-05-16 17:36] ekampf commented on #37
Hey @kiennt, @cyrfer  would love your feedback on https://github.com/ekampf/graphene-gae

[2016-05-17 15:16] mjtamlyn opened #164 "Discussion - Pass context to resolve methods"
The context story seems very confused in the newest version. My understanding from [the graphql-js 0.5.0 release notes](https://github.com/graphql/graphql-js/releases/tag/v0.5.0) is that all resolving functions should now have the signature `([self,] args, context, info)`, as opposed to `([self,] args, info)`.

At the moment, if I update a `resolve_NAME` method to take context, then it throws argu

[2016-05-17 15:25] sdcooke opened #165 "Plugins bypassed"
Since this method has been removed (in 0.9) https://github.com/graphql-python/graphene/blob/v0.8.0/graphene/contrib/django/views.py#L15 and the execution code paths have changed plugins are no longer executed unless you call schema.execute directly.

[2016-05-17 21:24] danielfarrell commented on #164
That PR seems to address this issue for me, and I've got it working locally.  If there should be anything else on there, let me know.

[2016-05-18 05:24] syrusakbary commented on #164
@mjtamlyn @danielfarrell thanks for opening the issue and the PR.

How the resolvers will work in future versions of graphene will be similar to the one exposed in the [Roadmap](https://github.com/graphql-python/graphene/wiki/Roadmap), so `context` and `info` will be not mandatory arguments in the resolver and resolvers could access the context and info only if they requested explicitly by using t

[2016-05-18 09:25] mjtamlyn commented on #164
Right, I think that makes sense. Python actually wanting a proper set of arguments to a function does complicate the issue slightly.

By the way, there's no tagged release or changelog I can find for 0.9 which did make this slightly more complicated to work out! I'll give it a go using `with_context`.

[2016-05-18 10:50] mjtamlyn commented on #164
Ok, I've got it working fine apart from relay mutations which need a bit of extra work I've done in the PR. It would also be very helpful to add some docs about `with_context` and how to use it.

[2016-05-18 13:00] danielfarrell commented on #164
Dangit, how was I all over the codebase yesterday and didn't see `with_context`.  Ha, I'll close the PR.

[2016-05-18 13:42] danielfarrell opened #168 "Registering types for interfaces"
Before I go too far down this rabbithole(I learn from my mistakes), thought I'd ask if there is anything special I need to do to register types that are only used from an interface?

My scenario:

[code]

When I am logged in, I get the user type returned fine.  When I am not logged in, I get a `Runtime Object type \"AnonymousUserType\" is not a possible type for \"Customer\".` returned.  That is n

[2016-05-18 14:21] danielfarrell commented on #168
And I did just confirm that if I make a new Field on query that returns AnonymousUserType that it then works on the interface.

[2016-05-18 18:08] syrusakbary commented on #168
It means that the `AnonymousUserType` is not registered in the schema, as there is no direct pointer from a field to it, and therefore the only available ObjectType for `Customer` is `UserType`.

You can solve by decorating the class, like:

[code]

Hope it helps!
Please reopen the issue if not.

[2016-05-18 18:10] danielfarrell commented on #168
I do register it with the schema, so that isn't the issue.

[2016-05-18 18:12] syrusakbary commented on #168
Could you do `print(str(schema))` and output here the results?

[2016-05-18 18:15] danielfarrell commented on #168
Sure:

[code]

[2016-05-18 18:18] danielfarrell commented on #168
When I throw a `anonymous = Field(AnonymousUserType)` in the Query then it shows up.

[2016-05-18 18:18] syrusakbary commented on #168
Ok, I think I found the issue.
The `Customer` interface as is written there, is not a real GraphQL interface, but an abstract one (because of the `abstract=True` in the `Meta`).

The real interface is `six.with_metaclass(DjangoObjectInterfaceMeta, Customer)`, which is the one the `UserType` inherits.

Try extending the same interface class from `AnonymousUserType`.

Something like:

[code]

[2016-05-18 18:23] danielfarrell commented on #168
Unfortunately AnonymousUser isn't a real django model and then gives me a `Provided model in <class 'accounts.schema.AnonymousUserType'> is not a Django model` error if it inherits from that.  It works fine with the workaround of it being in another field, which is strange.

[2016-05-18 18:28] syrusakbary commented on #168
You are right.

Have you tried this?

[code]

[2016-05-18 18:57] danielfarrell commented on #168
Doesn't look like DjangoObjectType's meta class supports that:
[code]

[2016-05-18 19:05] syrusakbary commented on #168
Oh! I will work on a fix :)

[2016-05-19 04:00] #168 closed

[2016-05-19 04:03] syrusakbary commented on #165
Good catch. Will fix this soon

[2016-05-19 04:31] syrusakbary commented on #163
Hi @Globegitter, for simplifying the executors in `graphql-core` we got rid of the middleware, so there is no longer any way for having multiple "middlewares" at the same time.

What could be the use case for having middleware?

[2016-05-19 04:34] syrusakbary commented on #160
Hi @HelloYie, you cannot "quit" the GraphQL context inside a GraphQL query.

In fact, there is a good reason for that:
If you quit the GraphQL context, GraphQL could not assure that all the mutations that the client sent are executed.

[2016-05-19 04:34] #160 closed

[2016-05-19 04:36] syrusakbary commented on #153
Good catch. I think is something that is not very easy to solve as it depends on other fields to resolve before the debug, but could be possible to achieve.

Will do some research on that.

[2016-05-19 04:49] #157 closed

[2016-05-19 04:52] syrusakbary commented on #157
I just fixed this in the latest commit.

[2016-05-19 06:01] rattrayalex commented on #153
Just documenting it is probably fine :-)

I'll submit a PR if I can...

[2016-05-19 08:30] Globegitter commented on #163
@syrusakbary We used it for zipkin tracing, i.e. to get an accurate time profile of each resolve function. This has been quite useful to track down performance bottlenecks.

[2016-05-19 08:34] Globegitter commented on #164
@syrusakbary is it possible to maybe have this as an option? We use the `context` all over the place and it would be quite a pain to have to add the `with_context` decorator to 90% of our resolve function. Also it does not seem too much of an issue to me to just write `resolve_bla(self, _, __) if you don't need the arguments.

[2016-05-19 08:46] iawia002 opened #170 "Django User model one-to-one relationship query error"
i got a user profile model has a OneToOneField to django.contrib.auth.models.User, when i want to query user profile info from User model, i got an error
[code]

[2016-05-19 09:19] iawia002 commented on #170
if i change OneToOneField to ForeignKey, it works fine

[2016-05-19 10:00] mjtamlyn commented on #164
I would agree that `resolve_blah(self, args, **options)` where `options` is now `info=, context=` but can be extended later would be more pythonic.

[2016-05-19 11:54] HelloYie commented on #170
+1

[2016-05-19 16:25] syrusakbary commented on #170
@iawia002 @HelloYie version of Django and graphene?

[2016-05-20 01:29] iawia002 commented on #170
Django version 1.9.2, graphene (0.7.3)

[2016-05-20 03:43] HelloYie commented on #170
* graphene==0.9.1
* Django==1.9.6

## My profile model:

[code]

## My schema:

[code]

## My query:

[code]

## Error log:

[code]

[2016-05-20 04:42] #170 closed

[2016-05-20 04:44] syrusakbary commented on #153
Closing issue, as this is now documented.

[2016-05-20 04:44] #153 closed

[2016-05-20 04:45] syrusakbary commented on #153
(will reopen once I start working in the next stable version, as I will refactor the plugin system).

[2016-05-20 05:11] syrusakbary commented on #164
I would like to discuss about that.
Somehow I like having the args exposed directly as keyword arguments in the resolver.

Like:
[code]

I think it's too verbose having `info` and `context` as required arguments... as are not going to be used always.

Maybe using a decorator (like `with_context`) seem a very "magic" solution that could not be maintainable.

I would like to get into a solution that

[2016-05-20 05:43] dgouldin opened #172 "Add support for sqlalchemy.dialects.postgresql fields"
When I try to register a `SQLAlchemyNode` whose model has a postgres-specific field, I receive the error message `Don't know how to convert the SQLAlchemy field [table_name].[field_name] (<class 'sqlalchemy.sql.schema.Column'>)`. It'd be great if these fields worked out of the box.

[2016-05-20 05:45] syrusakbary commented on #172
That could be a good idea.

It this field type inside sqlalchemy package, or in a third party library?

[2016-05-20 06:08] dgouldin commented on #172
Inside sqlalchemy. It's an entire module of fields. Types listed in the docs starting here:

http://docs.sqlalchemy.org/en/latest/dialects/postgresql.html#array-types

[2016-05-20 09:50] jkosir opened #173 "Can't access context in resolve methods"
[code]
[code]
[code]
Results in ``resolve_my_projects() takes exactly 4 arguments (3 given)``. If I replace the signature with ``**args`` I see that only args and info are passed.

[2016-05-20 12:34] Globegitter commented on #164
@syrusakbary yeah that is a quite difficult one. I mean the only other solution I could think of then is `dict(args=args, context=context, info=info)` to not have potential name conflict. I personally would prefer that all to the decorator.

[2016-05-21 01:31] jameswyse commented on #94
@bradreardon I had the same issue, it seems to be a recent change. Try using the `with_context` decorator:

[code]

[2016-05-21 01:35] syrusakbary commented on #129
By definition, only GraphQL `ObjectType`s can inherit from an Interface, so is not possible.
But I think it could be reasonable to add other abstraction so they can both (`InputObjectType` and `ObjectType`) inherit from it.

[2016-05-21 02:15] syrusakbary commented on #163
I think is reasonable adding middleware.

I'm checking various implementations like:
* [express](http://expressjs.com/en/guide/writing-middleware.html) (node.js)
* [Koa](https://github.com/koajs/koa/blob/master/docs/guide.md#writing-middleware) (node.js)
* [Django middleware](https://docs.djangoproject.com/en/1.9/topics/http/middleware/)
* [Aiohttp](http://aiohttp.readthedocs.io/en/stable/web.html

[2016-05-21 07:17] syrusakbary commented on #165
Plugins are now deprecated. If you were using `DjangoDebugPlugin` please see the latest docs for integrate `DjangoDebugMiddleware`.

http://graphene-python.org/docs/django/debug/

[2016-05-21 07:17] #165 closed

[2016-05-21 07:17] #163 closed

[2016-05-21 07:17] syrusakbary commented on #163
I added support for middlewares, now you should be able to add tracking :)

[2016-05-21 07:18] syrusakbary commented on #163
Check instructions here: http://graphene-python.org/docs/middleware/

[2016-05-21 07:42] syrusakbary commented on #165
(using the middleware should solve the problem)

[2016-05-21 07:45] syrusakbary commented on #173
#177 should fix this issue.

[2016-05-21 07:48] #173 closed

[2016-05-21 08:01] jkosir commented on #173
Wow, thanks for the quick fix! :+1:

[2016-05-21 09:17] Globegitter commented on #163
@syrusakbary man that was fast! Thanks :D

[2016-05-21 21:15] syrusakbary commented on #37
Closing this issue, as @ekampf did a terrific job with [graphene-gae](https://github.com/graphql-python/graphene-gae), which is now part of the GraphQL-Python community.

[Would be great to have a PR into this repo adding the docs into the website]

[2016-05-21 21:15] #37 closed

[2016-05-21 21:18] syrusakbary commented on #63
Not relevant right now. It could be useful create a custom package `graphene-geojson`.

[2016-05-21 21:18] #63 closed

[2016-05-21 21:18] syrusakbary commented on #96
@dgoldstein0 This is now fixed as all the plugins are removed from the codebase, giving place to `Middlewares` which using `Promise`s seemed to make a much better job.

[2016-05-21 21:18] #96 closed

[2016-05-21 21:19] syrusakbary commented on #122
I believe this is not longer an issue, as the executors are now standarized using `Promise`s.
Please reopen if you see any issue with the latest version.

[2016-05-21 21:19] #122 closed

[2016-05-22 05:37] ekampf commented on #37
docs PR in the works...

[2016-05-23 09:19] mjtamlyn commented on #164
Ok, so this is a tricky design decision in some ways because we want to mimic the "argument magic" that javascript can manage in python. We've also got a possible name clash issue.

Here are a few possible approaches:
- Use decorators to explicitly mark which resolvers need which arguments. This is the current proposal. It doesn't feel very pythonic. We could have a convention that `context` and `

[2016-05-23 11:44] Globegitter commented on #141
@defrex now with graphene 0.10 you have access to the `original_error` so you can already customize the error response any way you want.

we have something like:

[code]

[2016-05-23 12:29] stefanfoulis opened #179 "access to context (request) in DjangoConnectionField.get_queryset()"
We're subclassing ``graphene.contrib.django.fields.DjangoConnectionField.get_queryset()`` and ``graphene.contrib.django.fields.filter.DjangoFilterConnectionField.get_queryset()`` to enforce user based queryset filtering. To do the permission based filtering we need ``request.user`` in ``get_queryset()``. Previously we got it from ``info.request_context.user``, but this is no longer available. And

[2016-05-23 15:13] mjtamlyn opened #180 "True cursor pagination for Django"
## Problem

The default pagination approach used for Django querysets executes a `.count()` on the query. For tables with hundreds of thousands or millions of rows, this is very slow on Postgres. It also assumes that the set is stable, which somewhat defeats the point of using a cursor based pagination system in the first place.
## Possible solution

I released today [`django-cursor-pagination`](h

[2016-05-23 17:27] syrusakbary commented on #94
@bradreardon the example @jameswyse pointed should solve the problem.
When `with_context` was released in `graphene` `v.0.9.0` it was not documented at all, so was easy to run into this problem.
We solved this with better documentation. But let me know if you run into more issues.

[2016-05-23 20:29] syrusakbary commented on #180
I think is worth to take a closer look into this approach.

Also, having an order that strictly determine all the items in the queryset is somewhat essential for pagination.

My ideas here are:
* Use `CursorPaginatedConnection` when possible (if a query order its defined).
* Use the current behavior otherwise.

Let's play with it in a branch that could let us see the edge cases

[2016-05-24 13:40] mjtamlyn opened #181 "Django debug toolbar conflicts"
[This commit](https://github.com/graphql-python/graphene/commit/c5b15cec2f0a7082006b94314ca45ee1322af60d) attempted to fix the conflict between DDT and the SQL tracking in the debug middleware (formerly plugin).

Unfortunately this doesn't seem to work at the moment. We delete `connection.cursor` in the `unwrap_cursor` functions in both [Graphene](https://github.com/graphql-python/graphene/blob/ma

[2016-05-24 14:12] mjtamlyn commented on #180
Looking at this a bit more in the context of #62 I wonder whether we can reduce the plumbing duplication needed for various different data backends. The core logical structure is the same for my Django implementation, for the GAE one, and for the rethinkdb cursor mentioned in #62.

Ideally what we want is an easy way to add a `Cursor` subclass or similar which has some defined API, possibly simila

[2016-05-24 14:23] mjtamlyn commented on #126
The [relay spec](https://facebook.github.io/relay/graphql/objectidentification.htm#sec-Node-root-field) explicitly states that a root node field must accept only a single argument of `id`.

You can have other [root fields](https://facebook.github.io/relay/graphql/objectidentification.htm#sec-Fields) which load data differently, but they have to fit with certain rules.

Of course if you are not bui

[2016-05-24 14:34] mjtamlyn commented on #142
As far as I can tell from the [GraphQL spec](https://facebook.github.io/graphql/#sec-Response-Format) there is no discussion of http response codes at all. The status codes of HTTP are strongly tied to rest principles. It's not clear to me whether GraphQL APIs should distinguish between 2XX and 4XX status codes.

Most notably, you can batch multiple mutations into the same request to the server. I

[2016-05-25 09:56] mjtamlyn commented on #179
This could be fixed in the same way as `mutate_and_get_payload` was fixed - https://github.com/graphql-python/graphene/commit/61e7beee7b9c83c55b7b47c3814f120e421400b6. The discussion is quite related to what we decide to do in the long term with resolver functions though - See #164

[2016-05-25 11:15] mjtamlyn opened #182 "Explicit registration of object types"
I'm not sure if the answer to this is "I'm doing it wrong" but here we go.

## Problem

So one thing I want to do is to be able to get information about the current user from the API. I have an `AnonNode` and a `UserNode` which both implement `UserInterface`. I think add a field `current_user = graphene.Field(UserInterface)` with an appropriate resolver. `UserNode` is also explicitly registered in

[2016-05-25 11:39] stefanfoulis commented on #179
Thanks for the pointers you grave me on slack @mjtamlyn .

This is my ``DjangoNode`` subclass that allows filtering the queryset by overriding ``get_queryset()``:

[code]

and this is an application specific subclass that always adds ``.for_user(user)`` to the queryset (we have that method as a chainable queryset on all Model managers:

[code]

and similarly a permission aware ``DjangoFilterConnec

[2016-05-25 11:59] stefanfoulis commented on #179
I'm closing this issue for now. If there is interest in having ``get_queryset()`` on ``DjangoNode`` in core, I can make a pull request.

[2016-05-25 11:59] #179 closed

[2016-05-25 14:00] mjtamlyn commented on #179
Thanks, that's really useful!

I think it makes sense for `get_queryset` to have a consistent API between `DjangoNode`, and possibly also `DjangoConnection` rather than `DjangoConnectionField`. I was bouncing some ideas around in https://github.com/graphql-python/graphene/issues/180#issuecomment-221283513 which might remove the need for a separate connection field anyway.

The [Roadmap](https://gi

[2016-05-25 16:24] syrusakbary commented on #182
I think is possible to fix `schema.register` adding the type also in the `types` argument in `GraphQLSchema` (GraphQL `v0.5.0`)

If you please can post (here or creating a test scenario in a branch) the code for showcasing this bug would be great. So I can be make sure that the fix is working :)

[2016-05-25 16:32] syrusakbary commented on #163
@Globegitter any feedback on the middleware? :)

[2016-05-25 16:49] Globegitter commented on #163
@syrusakbary Haven't gotten around to it just yet. Been working on improving error-handling and Promise support first :) It is on my list for this week though, so will let you know once I got to it.

[2016-05-26 11:16] mjtamlyn commented on #182
I think that's a minimal test case.

[2016-05-26 22:39] stefanfoulis commented on #143
@gcheshkov thanks for the gist. I noticed you're importing ``from .types import ErrorType``. Could you post the code to that too?

[2016-05-27 01:37] jameswyse commented on #182
👍  I was also having difficulty understanding/implementing this.

[2016-05-27 07:04] gcheshkov commented on #143
@stefanfoulis `ErrorType`  is simple graphene object type for representing errors:

[code]

However now I took different approach to error handling. Just raising ValidationError in mutation handler and adding error messages to `errors` object in overridden `GraphQLView.format_error`  method:

[code]

[2016-05-27 10:48] Ian-Foote commented on #134
There are unfortunately still problems with mapping Django choices to Enum: #184, #185, #186.

Item 1 in the list above seems like the most crucial one to fix. #139 did not address this as far as I can see - the display value is still being used inappropriately.
Item 3 is closely related to item 1 and also does not appear to have been addressed.

Can this issue be re-opened? I think we need to dec

[2016-05-28 23:54] syrusakbary commented on #182
Just pushed a fix into master.

[2016-05-28 23:54] #182 closed

[2016-05-29 02:19] iawia002 opened #188 "Flask SQLAlchemy example app /graphiql 404"
I clone Flask SQLAlchemy example and after I install the requirements, I run the app, when i access `/graphiql` i got a 404, but `/graphql` is ok

[2016-05-29 05:07] syrusakbary commented on #188
Hi @iawia002, the latest version of flask-graphql have the graphiql endpoint in the `/graphql` url.

You have to enable it having the option `graphiql=True`:
[code]

[2016-05-29 05:07] #188 closed

[2016-05-29 05:11] stefanfoulis commented on #143
@gcheshkov thanks. that helped me a lot :-)

[2016-05-29 06:39] syrusakbary commented on #164
Hi @mjtamlyn, @Globegitter.

I've been researching and Jinja use the decorators for passing some extra args to the function.
http://jinja.pocoo.org/docs/dev/api/#jinja2.contextfunction
Implementation: https://github.com/pallets/jinja/blob/75685ec5e5079bcdbd443696c3d79d0cb86f7cf8/jinja2/utils.py#L41

Also, if this is the final path... could be completely possible to skip this behavior.

I'm not ver

[2016-05-29 11:07] iawia002 commented on #188
thanks

[2016-05-31 09:10] Ian-Foote commented on #134
@syrusakbary have you seen this?

[2016-05-31 18:24] ekampf commented on #164
Maybe its coming from the Ruby world... but I kinda like the "magical" approach of automatically injecting values by argument name using `inspect.getargspec(resolver_func).args` (and `inspect.signature()` in 3.6+).
This way you can automatically not just `context` and `info` but args like in @syrusakbary's example too.

This automatic objection could be implemented as a decorator too... (which can

[2016-06-01 03:55] #148 closed

[2016-06-01 03:56] syrusakbary commented on #126
As @mjtamlyn commented, this will be probably not implemented in `graphene.relay` as is not in the relay spec.

Closing this issue.

[2016-06-01 03:56] #126 closed

[2016-06-01 04:15] #181 closed

[2016-06-01 13:38] vam commented on #142
Thank you for your answer. I'm convinced.

[2016-06-01 13:38] #142 closed

[2016-06-02 09:48] prokofiev commented on #141
@defrex may be something like this:

[code]

[2016-06-02 11:27] mjtamlyn opened #192 "Add a `--indent` option to `./manage.py graphql_schema`"
Like in [`dumpdata`](https://docs.djangoproject.com/en/1.9/ref/django-admin/#dumpdata).

This will make VCS diffs in the schema easier to understand.

[2016-06-02 19:40] defrex commented on #141
I haven't take the time to power through the `with_context` breaking change yet, since it destroys my codebase utterly. I'll make the time to get up to date soon though, and let you know how this solution works for me.

[2016-06-02 22:34] perrierism opened #193 "DjangoFilterConnectionField missing"
After installing `graphene[django]` I do not have a `DjangoFilterConnectionField`

There is :
[code]

... but no `graphene.contrib.django.filter.DjangoFilterConnectionField`. I'm not finding this object anywhere in graphene@0.10.2 . Has it been renamed?

It is in the django tutorial and [examples](https://github.com/graphql-python/graphene/blob/master/examples/cookbook_django/cookbook/ingredients/

[2016-06-02 22:38] perrierism commented on #193
Ah. Note that if django-filter isn't installed graphene won't provide access to DjangoFilterConnectionField. check `graphene.contrib.django.fields.DJANGO_FILTER_INSTALLED`. (Closing)

[2016-06-02 22:38] #193 closed

[2016-06-03 13:50] defrex commented on #180
I would love this.

I'll underscore one point. Right now you can't lookup a node's cursor without the full context of the connection. This means returning an edge from a mutation requires a ton of overhead and possibly knowledge you don't have. For that reason the ability to look up a cursor for a given node without any additional information should be a goal. This issue has been discussed a lot i

[2016-06-05 18:53] scarlac opened #195 "Playground stays disabled"
The "Playground" at http://graphene-python.org/playground/ does not work for me in Safari 9.1.1, Chrome 51 or Firefox 46. I am seeing a "disabled" view, meaning I see the UI with some demo text yet all 3 columns are dimmed/grayed out. Screenshot:
![screen shot 2016-06-05 at 20 52 23](https://cloud.githubusercontent.com/assets/895369/15807475/71d19758-2b5f-11e6-860f-424174dec2d1.png)

Not entirely

[2016-06-06 16:09] antitoxic opened #197 "How to optimize django nested/related/joined queries?"
What is the recommended way to execute and optimized query in django that includes related objects with graphene?

[code]

Graphene schema is declaritve way to get/resolve a node but how do you build an efficient query?

[2016-06-07 11:36] mjtamlyn commented on #197
This appears to be an open problem at the moment. There's some discussion in #57, #28 and in the JS graphQL implementation in https://github.com/graphql/graphql-js/pull/304.

[2016-06-07 11:44] mjtamlyn commented on #28
I've written something along these lines for my own project. It just works on a connection at the moment. It uses the info to work out which fields (if any) are being requested on the underlying node, and then checks the corresponding node type for a `optimize_foo` classmethod. If that exists, it passes the queryset through that method, before passing the queryset to the `connection_from_foo` func

[2016-06-07 15:04] Globegitter opened #198 "Race condition when registering certain types?"
We have started to see intermittent `Schema must contain unique named types but contains multiple types named "Days".`. The same query can fail and when I restart the server it works again. This kind of leads me to believe that there could be some kind of race condition with registering types.

I also looked into the schema itself (as it has grown quite large by now) and it only has one enum type

[2016-06-07 21:58] karec commented on #172
:+1:

Some fields could be really simple to implement within the existing code, I will try to work on it this week if I have some times.

It could be nice to define a list for all fields that we need to add

[2016-06-07 22:13] dgouldin commented on #172
`ARRAY`, `JSON`, `JSONB`, `HSTORE`, `ENUM`, and `UUID` are IMO the most common postgres-specific types.

[2016-06-08 09:31] tgdn opened #199 "DataLoader for graphene? Caching and query efficiency"
Dan Schafer told us about DataLoader at React-Europe 16. But their implementation uses NodeJS. Is this something that would be possible in graphene?

DataLoader basically caches the queries and instead of doing request after request to the database it waits to get all the ids of the objects you want. Then you can call a select on these multiple ids instead of a select on ids one after the other.

[2016-06-08 09:43] mjtamlyn commented on #199
I feel that will be dependent on the backend you are using - the way this would work would be rather different for Django than for SQLAlchemy than for GAE. Django certainly provides alternative ways to optimise queries for relational databases.

[2016-06-08 12:56] Globegitter opened #200 "Use graphql-cats"
Might be a quite cool thing for graphene/graphql-core to test against: https://github.com/graphql-cats/graphql-cats

[2016-06-08 21:30] MrSurly opened #202 "How to make a List that allows null values?"
If I specify a list in this manner:

[code]

And then try to mutate:
[code]

I get this:

My (probably wrong) understanding is:

graphene.List(graphene.String())                               # <-- **Nullable** list that **can** contain nulls
graphene.List(graphene.NonNull(graphene.String())) # <-- **Nullable** list that **cannot** contain nulls
graphene.NonNull(graphene.List(graphene.String()) #

[2016-06-13 02:50] ap1459777123 opened #203 "/graphiql 404 not found in Flask-sqlalchemy example"
Hi, sry for asking this simple and stupid question..

I just followed the README (https://github.com/graphql-python/graphene/tree/master/examples/flask_sqlalchemy) and started a flask app, but when visiting http://0.0.0.0:4999/graphiql, I got 404 not found for resp.
(and resp `{"errors":[{"message":"Must provide query string."}]}` for http://0.0.0.0:4999/graphql)

I've changed `app.run()` to `app.

[2016-06-13 03:49] ap1459777123 commented on #203
Hi!

After tracing some code in flask-graphql and refering to https://pypi.python.org/pypi/Flask-GraphQL, I found that `GraphQL` should take argument `graphiql=True`.

So app.py:30
`GraphQL(app, schema=schema, default_query=default_query)`
should be
`GraphQL(app, schema=schema, default_query=default_query, graphiql=True)`
And the gui would be found at /graphql.

Also tested POST method /graphql wi

[2016-06-14 01:33] nickhudkins commented on #199
This would be huge. Node makes it trivial thanks to the event loop and therefore `process.nextTick()` enabling this to have been built. Coming from writing Node graphql backends, I am terrified about performance because of the lack of DataLoader, but hoping things like select_related in django etc will help minimize this.

[2016-06-14 15:55] olref opened #205 "Django Model charField with choices : query field"
I have some problems when I try to query a Django charField with choices.

I have the following models.py :

[code]

and the following schema.py :

[code]

When I try to make this query :

[code]

I have the following error :

[code]

To be able to query vtype I need to add `vtype  = String()` into my schema like that :

[code]

I don't know if I missed something ?

[2016-06-14 16:29] bigblind commented on #199
GraphQL core already has implementations for executing fetches in parallel for things like gevent and asyncio. Many of these systems use an event loop. Maybe we could add batching support to these.

[2016-06-14 23:00] ekampf commented on #33
+1 here.
Trying to define a list on an edge type: `slices = graphene.List(ESSearchResultEdge)` and getting a `GraphQLError('Cannot query field "node" on type "ESSearchResultEdge".',)`.

[code]

The schema generated:
[code]

[2016-06-17 08:32] akira-dev opened #206 "Interface + InlineFragment seems doesn't resolve ObjectType fields"
Hello

I try to resolve ObjectType fields with InlineFragment on a ObjectType that inherit from an Interface but it seems doesn't work.

Here is my schema:

    @schema.register
    class BundleInterface(graphene.Interface):
        id = graphene.ID()
        identifier = graphene.String()
        name = graphene.String()
        publication_date = DateTime()
        articles = graphene.List('Arti

[2016-06-19 21:05] tgdn commented on #172
`TSVECTOR ` is probably important to mention here if full text search is needed. Not sure if an implementation is required but at least exclude the field by default as it would probably only used in the resolve method to search.

[2016-06-20 20:25] stefanfoulis opened #207 "order_by_fields not working"
If I add ``order_by_fields=True`` or ``order_by_fields=['my_field']`` to on a ``DjangoNode`` on the ``Meta`` class (as is described in the docs), I get the following error:

``TypeError: 'class Meta' got invalid attribute(s): order_by_fields``

Searching through the entire sourcecode of graphene only shows ``order_by_fields`` to appear in the docs.

[2016-06-21 09:25] akira-dev commented on #206
It is not a graphene issue but a graphql-core issue.
Pull request link: https://github.com/graphql-python/graphql-core/pull/68

[2016-06-21 09:26] #206 closed

[2016-06-21 13:32] karec commented on #172
@dgouldin I've added all this fields to sqlalchemy converters, I still need to make some tests before pull request but my fork is up to date if you need to test it

[2016-06-23 03:52] porksmash commented on #205
Does it work if you define everything as plain strings instead of using _('xxxxx')?

[2016-06-23 09:29] caulagi opened #211 "Typo in middleware docs"
It seems like there is a typo in http://graphene-python.org/docs/middleware/.  It should be ```schema = Schema(middlewares=[AuthorizationMiddleware()])``` instead of ```[AuthorizationMiddleware]```.

Or am I missing something?

[2016-06-23 19:42] mattbillenstein opened #212 "Incorrect resolver param makes the entire query return None"
Taking the tea store example:

https://gist.github.com/mattbillenstein/ecc3e8b3b1130e615b2f6f6e5beca5ea

You'll note I spelled the "orderBy" param "orderby" in the second execute -- it doesn't raise any type of exception, but just returns None.  This makes debugging queries basically impossible.

IMO, exception handling in this framework is poor and makes it generally unusable for anything real --

[2016-06-24 04:52] syrusakbary commented on #212
Hi @mattbillenstein, you can get the exceptions with result.errors.
But I agree with you that the exceptions handling in GraphQL/Graphene should be better when playing with it. I'm researching in few different ways to improve it, any help will be always welcome too.

[2016-06-24 04:52] syrusakbary commented on #211
Yeah, you're right!

[2016-06-24 04:53] #211 closed

[2016-06-24 04:55] syrusakbary commented on #207
Hi @stefanfoulis, the docs were wrong... the actual attribute is `filter_order_by`. Fixing it now.

[2016-06-24 04:57] #207 closed

[2016-06-26 18:49] AlecAivazis opened #214 "Resolving List of ObjectTypes with AsyncExecutor"
Hey @syrusakbary,

I'm having trouble resolving a list of object types from a coroutine. If I run the following example:

[code]

Then I get  `OrderedDict([('recipes', [])])` printed in the console. However, If I remove the `asyncio.coroutine` decorator then I get what I expected: `OrderedDict([('recipes', [OrderedDict([('name', 'hello')])])])`. Am I missing something?

[2016-06-27 05:28] varunarora commented on #59
Is there any temporary version of documentation on this? Perhaps in another branch?

[2016-06-27 14:12] Kagandi commented on #198
I am having the same error and it happens inconsistently, sometimes I can run the same queries several times and everything is working and after some point it starts crashing.
I noticed that it is only happening when I am sending multiply asynchronous fetch requests in the same time.

[2016-06-30 13:55] tom-zeit opened #215 "DjagnoFilterConnectionField filtering functionality without relay overhead"
Hello,
First of all thanks for a great library, it's been very helpful for out project.

I have a django model, let's call it Transaction, that I want to be able to filter on all it's fields without having to configure the fields in advance.
Currently I use DjangoFilterConnectionField, so in my case the code looks like:

[code]

But when using DjangoFilterConnectionField, it introduce the relay ne

[2016-06-30 14:28] mjtamlyn commented on #215
That is following the Relay spec for connections. In principle you can write a Graph query which is not relay compatible, but you'd need to invent some other way to handle pagination.

[2016-06-30 15:45] tom-zeit commented on #215
Currently I implemented this in the following way:
[code]

It works, but it's much more cumbersome than using DjangoFilterConnectionField. Is there an easier way to implement this?

[2016-07-01 09:34] olref commented on #205
No, I have the same issue

[2016-07-01 11:35] tom-zeit opened #216 "Can't use filter named "type" in graphene.Field"
Hello,

I'm trying to create filters for my django model, and one of the model fields is called "type".
The following code throws an exception:
`    bla = graphene.Field(DocumentNode, type=graphene.String())
`
This is the exception:
`    TypeError: __init__() got multiple values for argument 'type'
`

That's because the init function of graphene.Field has already argument called type.

I think tha

[2016-07-01 18:08] syrusakbary commented on #192
I think this is reasonable :)

[2016-07-01 18:14] syrusakbary commented on #216
@tom-zeit the first parameter of the Field is the GraphQL type, and is named as `type` keyword argument.
You can bypass this this by doing:
[code]

Please reopen the ticket if this doesn't work or you run in more issues.

[2016-07-01 18:14] #216 closed

[2016-07-05 10:16] sehmaschine opened #218 "orderBy multiple fields"
I'm just trying to construct a query with multiple ordering fields (I'm using the django example btw).

Here's what I have right now ...

[code]

This works fine, but I like to order by multiple fields ...

[code]

Am I using the wrong syntax or is this not even possible?

[2016-07-06 00:47] syrusakbary commented on #218
Graphene doesn't support that yet, it might be a good case to add!

[2016-07-06 05:10] Globegitter opened #219 "How to set default for custom object types arguments?"
I want have something like:

[code]

that is being able to have a list-argument but also set a default for it. The OrderingParameter is an `InputObjectType` so I get `Exception: An InputObjectType cannot be initialized`. Is there any way around this, apart from not having a default and then just having some logic in the resolver?

[2016-07-06 13:36] kaglowka opened #220 "Graphql schema probably not suited for parallel execution"
This is probably a minor issue as it occurs only on server startup.

I noticed that my django view (with heavy use of relay), when rendered right after django startup, tends to throw a variety of graphql errors.
It came out only with relay (that is - when multiple graphql queries were sent one by one).

After diving into the code I think I more or less analyzed the issue. `GraphQLView` reuses the

[2016-07-06 16:13] ekampf commented on #220
👍 (happens on my end on GAE too)

[2016-07-07 01:36] czchen opened #221 "How to return nested structure?"
Hello,

I want to return the following JSON in graphene:

[code]

However, I don't know how to write the return Object for this kind of return. I tried the following code, but graphiql does not show `key1` at all.

[code]

[2016-07-07 05:50] Globegitter commented on #220
This is probably the same as https://github.com/graphql-python/graphene/issues/198

[2016-07-07 05:51] Globegitter commented on #221
I think you have to instantiate it as `graphene.Field(Inner())`. And your types are also registered in the schema?

[2016-07-07 10:07] tom-zeit opened #223 "JSONString as mutation input"
Hello,
I'm trying to implement a mutation this way:

[code]

This is the mutation:
[code]

But in the mutate classmethod the data input is of type string instead of a dict.
Is it the intended behaviour? And if so, what is the need for JSONString?

This could be fixed by changing the parse_literal staticmethod in JSONString class from
[code]

to

[code]

[2016-07-07 18:35] nickhudkins opened #224 "DjangoFilterConnectionField does not support lazy types."
[code]

results in this traceback:

[code]

which makes sense, but, it means that DjangoFilterConnectionField is not fully in parity with ConnectionField.

Is there another way to refer to the `UserNode` there from within the `UserNode` that I'm missing? I believe the proper solution here is to lazily resolve the type but it means I am giving up the DjangoFiltering on the connection because I must

[2016-07-11 16:55] impguard opened #225 "Creating database sessions per query?"
Using SQLAlchemy and my current process of creating database sessions revolve around a context manager and a session factory.

AKA in a RESTful API I would do something like this:

    def someroute():
        with session_factory() as session:
            ...do some controller stuff with the session...
            return result

Since Graphene/GraphQL seems to wrap a lot of the magic around query

[2016-07-12 13:56] saharhashai commented on #223
Happens here as well.

[2016-07-14 20:02] zargold opened #226 "Django MPTT support?"
Does this or could this support [django mptt ](https://github.com/django-mptt/django-mptt)fields which are used for infinitely nested tree architectures?
* category
 * section
   * keyword
      * magic
      * force
         * light
         * dark

[2016-07-14 20:36] nickhudkins opened #227 "Plan for maintenance?"
Just wondering if I should simply maintain my own fork or if there are plans to keep this in spec / feature parity with other libraries in other languages. Understood if you can't do it alone, but maybe that means time for some more collaborators.

[2016-07-15 19:27] zargold opened #228 "Graphene example is down to minor Syntax error on front end"
1. Went to link in Readme....

So I went to the link and got a blank page...
2. got this error in console...

[code]

[2016-07-18 08:18] sehmaschine opened #230 "django reverse order"
I just tried using a query with reverse ordering:
[code]

That doesn't work unless I add ``-name`` to ``filter_order_by``:
[code]

Is that intended behaviour?

[2016-07-21 02:38] syrusakbary commented on #223
Oh! Good catch! This is a unintended behaviour

[2016-07-21 04:46] rstuven opened #231 "Allow clientMutationId to be null"
As the Relay spec does since [this commit](https://github.com/facebook/relay/commit/b2cab16d97b7ceeffa7318f26a99c3179183b90f).

[2016-07-23 02:40] syrusakbary commented on #227
Hi @nickhudkins!
First of all, thanks for raising your concerns.
I'm now involved in the next version of Graphene (1.0) that will improve a lot the code in the core.
With this version, both Django and SQLAlchemy integrations will be separated in other repos, so the collaborations will be easier to do and maintain.

Any PR to the main codebase will be always welcome.
I will add happily as collabora

[2016-07-25 17:58] erydo opened #233 "ConnectionType(relay.Node) incorrectly prohibits connections to Node."
The connection types are filled with assertions that the target type is a non-abstract subclass of `Node` ("`ObjectTypes in a edge have to be Nodes`"). But `Node` itself *should* be perfectly valid. It allows you to create general connections to multiple `Node` subtypes which can be expanded with fragments.

For example:

[code]

Queried via:
[code]

[2016-07-25 18:05] erydo commented on #233
Additionally, from the [Relay Connection specification](https://facebook.github.io/relay/graphql/connections.htm#sec-Node), which supports that this should be allowed:

[2016-07-26 03:08] czchen commented on #221
@Globegitter Thanks for the hint.

[2016-07-26 03:08] #221 closed

[2016-07-26 10:29] Globegitter opened #234 "Instantiate graphql types with _ attributes"
Given a type e.g.

[code]

I have to instantiate this as follows which is quite cumbersome and feels very unpythonic:
[code]
where-as it would be nice to be able to just do `s = Some(_state='secret', _other_state='other_secret')`. I know you can do `s = Some(_root={'_state': 'secret', '_other_state': 'other_secret'})` but that makes it far less explicit about what state I am sharing and especially

[2016-07-26 11:36] jkimbo opened #236 "Docs down?"
I'm getting a blank page when I visit http://graphene-python.org/docs/quickstart/

Looks like https://github.com/graphql-python/graphene/commit/062b26e5e4bb78cbedebaceaca798b425687259f wiped out the generated html files?

[2016-07-28 02:44] jnak commented on #236
I would happily to send you a pull request with it fixed but it seems to be handled by travis, I don't have access to the logs to see what's going on

[2016-07-28 04:28] syrusakbary commented on #236
I'm working on fixing this and isolating the docs in a new repo. In few hours will be solved.
Thanks all for the support!

[2016-07-29 04:21] syrusakbary commented on #236
This is now fixed.
The docs are now living in https://github.com/graphql-python/graphene-python.org

[2016-07-29 04:21] #236 closed

[2016-07-29 04:24] syrusakbary commented on #195
Thanks for the ping. This is now fixed :)

[2016-07-29 04:24] #195 closed

[2016-07-29 04:28] syrusakbary commented on #203
Thanks for submitting the issue!

I've updated the docs reflecting the latest version usage of `Flask-GraphQL`.

https://github.com/graphql-python/graphene-python.org/commit/60ba59b2bcc9c3e2f5c9fa4ffa167a660f0490b8

[2016-07-29 04:28] #203 closed

[2016-07-29 04:30] syrusakbary commented on #225
Hi @impguard thanks for submitting the issue.

In the next version of graphene, the session will be tied to the context, and would be very easy to change the context session depending on the route :)

[2016-07-29 08:19] Globegitter commented on #233
@erydo https://github.com/graphql-python/graphene/pull/237 should fix this :)

[2016-07-29 08:24] Globegitter commented on #227
Yep @nickhudkins, @syrusakbary has been pretty good so far with merging PRs and responding to issues as we have come across a few bugs while using graphene. So I think contributing to this repository rather than keeping a fork would be better for the community :)

[2016-07-29 09:01] jkimbo commented on #236
Thanks!

[2016-07-30 01:32] agilgur5 commented on #227
It doesn't seem like there's a milestone or otherwise list of issues + features set for 1.0 (aside from the respective branch). I think that would be really good to have to promote + make contributions simpler, as well as to give a roadmap of things to expect for potential users.

Planning on integrating Graphene with our Django app (as it seems really simple to do so, props on the great work so f

[2016-08-01 06:49] alex-wilmer commented on #98
Hi, I wasn't able to figure this out from the docs... does it even currently address union types? Do I need to include `from graphene.core.classtypes.uniontype import UnionType`?

[2016-08-04 09:14] tom-zeit commented on #83
We would also like to see this feature :)

[2016-08-05 21:01] jkimbo commented on #231
PR for potential fix: https://github.com/graphql-python/graphene/pull/240

[2016-08-05 21:05] #231 closed

[2016-08-05 21:17] jkimbo commented on #192
PR: https://github.com/graphql-python/graphene/pull/241

[2016-08-06 22:47] syrusakbary commented on #164
@ekampf @mjtamlyn I've been thinking in a good way to solve this for a long time.

If we use a magical approach using `inspect`, we could make the api's more obscure and handling things like middleware could become a problem (as the middleware functions have to be aware of the resolver context based on the inspection of the original function).

Also, the resolver in `graphene` should have exactly

[2016-08-06 22:51] syrusakbary commented on #59
@varunarora @defrex @thebritican in the version 1.0 of Graphene Relay edges and connections are created in a easier, cleaner and more understandable way.

Please take a look!
https://github.com/graphql-python/graphene/blob/1.0/graphene/relay/tests/test_connection.py

[2016-08-06 22:53] syrusakbary commented on #120
Hi @bigblind! Sorry for taking long time for fixing this.

Now the home page have no animation on it, so it should be faster and easier to browse!

[2016-08-06 22:53] #120 closed

[2016-08-07 07:44] #192 closed

[2016-08-07 07:44] mjtamlyn commented on #192
Thanks @jkimbo

[2016-08-07 07:46] mjtamlyn commented on #164
I think `info, args` is the simplest option, I don't think we need extra arguments.

[2016-08-07 14:49] jkimbo commented on #224
So I've had a quick look into trying to fix this but I'm not sure how to do it. The [line that causes the issue](https://github.com/graphql-python/graphene/blob/b8a9e454fa72220716ed3b2a2b6e1272aa3b540b/graphene/contrib/django/filter/fields.py#L12) and the subsequent lines are used to actually construct the kwargs for the underlying connection type and as far as I can see, need to be defined at ins

[2016-08-08 14:14] nirshubz opened #243 "Use UUIDs instead of Relay IDs"
Hey Guys,

Awesome library 👍
We are looking for some best practises regarding the use of Relay IDs together with UUIDs.

**Our Setup**
We are using Django Graphene with two different setups:
1. Redux & GraphQL (no Relay)
2. Relay

We are using a postgresql for DB. Our django models generate UUIDs for all our entities. We really like the UUIDs :)

Based on the following issue https://github.com/fac

[2016-08-08 16:29] syrusakbary commented on #243
Hi @	nirshubz, it's possible to use the `UUID`s as long as you can map from a UUID to a type/model.
So, given a UUID get the corresponding model.

With the current implementation this is not as easy to achieve but with the upcoming version `1.0` it will be trivial:
https://github.com/graphql-python/graphene/blob/1.0/graphene/relay/tests/test_node_custom.py

[2016-08-08 17:23] nirshubz commented on #243
Got you. Thanks for the answer.
Our UUID is generated by an external system, and is completely random, so it would be kind of hard to follow that logic.

Do you think it would be possible to somehow figure out the mapping from the query when using Django? Any other suggestions?

Thanks :)

[2016-08-08 18:12] zusamann opened #244 "Confusion in Snake/Camel Case Plugin Argument"
Graphene's Default Behavior is something like this:

Query:
[code]
[code]

With the plugin argument of:

[code]
[code]

Now isn't the plugin argument naming erroneous?
Printing `snake_case` by default is fine. But not printing `snake_case` when `auto_camelcase=False` is confusing. It should be `auto_snakecase=False` that stops the automatic `snake_casing`.

[2016-08-09 23:18] BossGrand opened #245 "Django graphql query reverse set is listing all available models of that type in my database"
Hey guys, love what you're working on! I've run into an issue that I'm seems like a bug.

I have two models address and building
[code]

And when I query to see what buildings are pointing to my addresses, I get every building in my database returned when I'm only expecting one. (theres a reason i'm not using a 1-to-1 field)

This doesn't happen when I use the example project. And I'm following it

[2016-08-10 17:36] BossGrand commented on #245
I'm using a custom uuid primary key for my models, any chance that would be the cause?

[2016-08-10 17:43] BossGrand commented on #245
Ok so I found what was causing this to happen,
I had to add `related_name='buildings'` to my address foreign key field on Building model.

Is this a bug? It wasn't clear in the docs that this was required

[2016-08-11 00:39] ekampf commented on #220
@syrusakbary any idea regarding this issue? happens to us a lot on Google AppEngine...

[2016-08-11 01:27] syrusakbary commented on #220
@ekampf This issue is hard to fix with the current architecture implementation. However I'm assuring that in `1.0` version no problems like that will happen.
A testcase that replicates the issue could be very helpful too :)

[2016-08-11 17:17] ekampf commented on #220
Ill try to report with a test

[2016-08-12 09:33] nikolaik commented on #220
We are seeing the `Schema must contain unique named types but contains multiple types named {} in type_map_reducer` a lot running in the django dev server. Testing with `python manage.py runserver --nothreading` now.

[2016-08-14 15:58] syrusakbary commented on #245
Yeah, that's a bug! Thanks for all the detailed information, I will take a look!

[2016-08-14 19:58] hugoduncan opened #246 "Unclear how to create a schema for an SqlAlchemy model with a One to One join."
How does one create a schema for an SqlAlchemy model that contains a one-to-one join (i.e. a `relationship` where `uselist=False`)?

My attempts so far just result in `Resolved value from the connection field have to be iterable` errors.

[2016-08-15 00:20] syrusakbary commented on #246
It seems to be a bug. Thanks for reporting :)

[2016-08-15 02:12] hugoduncan commented on #246
Thanks for the rapid fix!   What's the difference between `next` (the branch to which this was committed) and `1.0`?

[2016-08-15 06:23] syrusakbary commented on #246
`1.0` was the first approach of remaking the core of graphene, but after implementing it I realized I made some assumptions that were making the code less understandable and more coupled.
Because of that I created another branch `next` with a cleaner and more maintainable implementation.

## What are the main differences between `1.0` and `next`?
* `1.0` was coupling the `GraphQL` definition to th

[2016-08-15 17:29] Globegitter commented on #164
@syrusakbary Having thought about it a bit more I am leaning mostly towards the `inspect.getargspec(resolver_func).args` approach suggested by @ekampf. That would make it really straightforward and simple to use.

Also if the arguments passed in would ever change again it that approach would imo make it a bit simpler.

That all said though, I do think your suggested approach also works.

[2016-08-16 11:07] tom-zeit commented on #205
I have the same issue here

[2016-08-18 20:31] rstuven opened #249 "How to use Graphene with Django REST Framework authentication"
I got some REST API endpoints in Django and I wanted to use the same authentication for Graphene. The documentation does not provides any guidance.

I have `authentication_classes = (TokenAuthentication,)` in my API views. This was my solution:

urls.py:
[code]

Note that I added a new `^graphql_token` endpoint and kept the original `^graphql` which is used by the GraphiQL tool.

Then, I set the `

[2016-08-18 20:58] alecklandgraf opened #250 "only_fields does not exclude fields not listed in it"
I have a django 1.10 project with the following packages installed and cannot seem to get only fields preventing the query of a user's password, which **is not in only_fields**.

Is this something goofy with the Django User model or did I miss something?

[code]

The schema:

[code]
![localhost_8000_graphiql_query__7b_0a__me__7b_0a____edges__7b_0a______node__7b_0a________id_0a________email_0a_____

[2016-08-18 23:14] alecklandgraf commented on #250
Closing this as it was an errant `.pyc` left around after I moved the `schema` file and didn't update my urls to reference the new location, which found the `pyc` file locally.

Sorry,
Aleck

[2016-08-18 23:14] #250 closed

[2016-08-19 13:10] slorg1 opened #251 "`order_by` clause issue with django & graphql"
Hi,

When using the `order_by` clause in graphql,
- the graphql representation is correctly `orderBy` (camelCase).
- the value however is expected in snake case, which does not match the graphql auto generated code (it should match the API exposed field in all logic).

I tried to fix this but there are 2 places I could find where the order by is injected in a djgango qs:

1. In
`graphene.contrib.d

[2016-08-19 13:19] jkimbo commented on #251
@slorg1 I submitted a pull request for this (https://github.com/graphql-python/graphene/pull/238) and it was merged a couple of weeks ago. It's possible it just hasn't been published yet?

[2016-08-19 13:22] slorg1 opened #252 "Is there a way to make limits required"
Hi,

Is there a way to make limits required?

When working with the graphene graphql implementation I wanted to make `first` or `last` required (I would prefer an `OR` by I could settle for pinning 1 to required).

When investigating this I found `graphene.core.types.definitions.NonNull` which does exactly what I want and when applied to any argument works like a charm!

However. (sorry, if I am h

[2016-08-19 13:26] slorg1 commented on #251
@jkimbo it does not seem to be in the newest version (0.10.2) that I got from pip.

Also, thank you for your fix. I see you saw the same issue I did. In your changes I see the change to the `DjangoFilterConnectionField`

It does not address the secondary issue issue I had. Maybe I should open 2 git issues. Suggestions?

[2016-08-19 13:32] slorg1 commented on #251
@jkimbo I added a couple questions to your PR. Thank you.

[2016-08-19 14:10] jkimbo commented on #251
@slorg1 I don't know much about your second issue I'm afraid but if you could create a failing test case for it that would help immensely

[2016-08-19 16:38] syrusakbary commented on #252
That makes sense! I will work on it :)

[2016-08-19 16:52] slorg1 opened #254 "Require field for non nullable django fields"
I am not sure if that change has been already made. This is what it would look like for `String`.
[code]

Please let me know if I need to make a PR (for all django types) or if it is already covered.

[2016-08-19 16:53] slorg1 commented on #252
thx!

[2016-08-22 09:36] felix-zg opened #259 "Not numeric IDs"
Hey Guys,

Really like the library, thanks!

We are using not numeric ids(Guids) in our DB. When we use your library, we get an exception from "IntegerField().clean(_id)" inside "GlobalIDFormField.clean" method.

Can you please check it?

Thanks,
Felix.

[2016-08-22 12:14] kfuchs opened #260 "Creating Custom Arguments for Flask/SqlAlchemy"
I've been trying to figure out how to create a custom argument and how to apply logic to that argument.

So far this is what I have:
`all_stores = SQLAlchemyConnectionField(Store, business_unit=graphene.String())`

I successfully get the businessUnit argument in the Docs, but I don't understand how I should apply logic to it.

I'm really just trying to accomplish what the docs explain for `django-

[2016-08-23 18:12] alecklandgraf commented on #124
The `graphql-relay==0.4.4` package doesn't return a named tuple or class with an id attribute for `from_global_id` so I did the following to mimic your `rid.id` usage which is more semantic than `from_global_id(YOUR_GLOBAL_ID)[1]`.

[code]

[2016-08-24 22:14] samvit opened #262 "Use Graphene without Relay queries"
From what I can tell, Graphene does not support non-relay graphql queries (this is with SQLAlchemy).

To be concrete, the following works:
`    {
      allUsers {
        edges {
            node {
                id
                firstName
            }
        }
      }
    }
`

While this
`{
      allUsers {
        id
        firstName
      }
    }`
Generates this error:
`[graphql.error.bas

[2016-08-25 01:04] ekampf commented on #262
`allUsers` is a Connection type so you have to query it via edges and nodes because thats how a Connection is defines.
Connection is GraphQL spec for defining a paginated list - it provides the `pageInfo` information that lets you paginate a large dataset regardless of wether you're using Relay or not

`{ allUsers { id firstName } }` is a query you'd do on a `List` type.
Since `allUsers` is probab

[2016-08-31 14:18] imzautomation opened #263 "Cannot query from relay"
Hello i have followed the django tutorial and made a graphql endpoint and I must say the automatic mapping of django models is magical , and I alook interacted with the endpoint from GraphiQL, however I am confused on how to implement this in relay as suggested by tutorial I dumped my schema.json and copied the same in data folder of relay starter kit and made a simple component l/container to que

[2016-09-01 01:21] emekanw commented on #195
This issue is not fixed.
<img width="1396" alt="screen shot 2016-08-31 at 9 18 38 pm" src="https://cloud.githubusercontent.com/assets/1414830/18151987/cfaa3164-6fc0-11e6-9651-75cc18bf1370.png">

[2016-09-01 01:23] syrusakbary commented on #195
@emekanw it takes some time to load.
If is still not loading would be very helpful know your browser and version. :)

[2016-09-01 07:18] hyusetiawan opened #267 "error in django example"
following the:[ User-based Queryset Filtering](http://graphene-python.org/docs/django/authorization/) example for django

the `return []` will cause this error: AttributeError: 'list' object has no attribute 'all'
i believe the framework expects a ResultSet, with that said, `return None` has the same effect as `Model.objects.all()` as in, no filtering.

I am also having problem with accessing a fo

[2016-09-01 08:13] hyusetiawan commented on #267
i just figured out that i need to expose the foreign key related class in the Query before I can traverse from ParentClass --foreignkey--> ChildClass.
Is there a way to traverse the foreign key relationship without exposing it through Query?

[2016-09-02 10:10] mwilliamson-healx opened #268 "Performance issues with large data sets"
For our use case, we send a few thousand objects to the client. We're currently using a normal JSON API, but are considering using GraphQL instead. However, when returning a few thousand objects, the overhead of resolving values makes it impractical to use. For instance, the example below returns 10000 objects with an ID field, and that takes around ten seconds to run.

Is there a recommended way

[2016-09-02 16:50] felipellrocha opened #269 "Help with creating mutations using SqlAlchemy"
Hey guys. I'm having some trouble creating mutations using sqlalchemy.
Here is my mutation:

[code]

Problem is, whenever I try to run this mutation:

[code]

I get this result back:

[code]

Why is user returning null?

[2016-09-02 17:04] ekampf commented on #268
@mwilliamson-healx Ive had the same problem.
Fortunately the `next` version of Graphene fixes the issue (and also adds performance tests to make sure it doesnt regress).
Though its a risk using the library's bleeding edge, Ive been running the `next` version (`pip install graphene>=1.0.dev`) for a couple of weeks now in production without problems.

So you should give it a try and see if it solves

[2016-09-02 18:33] syrusakbary commented on #268
@mwilliamson-healx as Eran pointed, the `next` version its been rewritten with a special focus on performance.

We also added a benchmark for a similar case you are exposing (retrieving about 100k elements instead of 10k).
https://github.com/graphql-python/graphene/blob/next/graphene/types/tests/test_query.py#L129

The time spent for retrieving 10k elements should be about 10-20 times faster now (

[2016-09-05 10:10] mwilliamson-healx commented on #268
Thanks for the suggestion! I gave Graphene 1.0.dev0 a go, and while it's certainly faster, it still takes around a second to run the example above. Admittedly, I didn't try it out on the speediest of machines, but suggests that it would still be the dominant factor in response time for our real data.

[2016-09-05 11:11] jkimbo commented on #267
Hi @hyusetiawan

Regarding the error in the docs, the example should return `Post.objects.none()` since you're right the resolver does expect a queryset to be returned. I've raised a PR for the docs here: https://github.com/graphql-python/graphene-python.org/pull/4

As for your other question on how to exclude fields, you can use the `exclude_fields` meta attribute. e.g.

[code]

Hope that helps!

[2016-09-05 14:06] mickeyinfoshan opened #270 "ImportError: No module named django.conf"
The version of my Python is set to `2.7.11` by `pyenv`
After running
[code]
 to ensure dependencies are installed, I tried to test the repo by running
[code]
What I got is
[code]
Is there any issue with the `setup.py`?

PS: If I want to learn the code of the framework, where should I start?

[2016-09-05 14:13] jkimbo commented on #270
@mickeyinfoshan running `pip install -e .[django]` should install all the dependencies required for the tests

[2016-09-05 14:22] mickeyinfoshan commented on #270
Thank you!

[2016-09-05 14:22] #270 closed

[2016-09-05 15:07] mickeyinfoshan commented on #270
I have not modified any code yet but 10 tests failed. What's wrong?
[code]

[2016-09-05 16:41] syrusakbary commented on #268
@mwilliamson-healx some of the performance bottleneck was also in the `OrderedDict` generation.
For that `graphql-core` uses `cyordereddict` when available (a implementation of `OrderedDict` in Cython that runs about 2-6x faster).

Could you try installing cyordereddict with `pip install cyordereddict` and running again the tests? (no need to modify anything in the code).

Thanks!

[2016-09-05 16:43] syrusakbary commented on #268
PS: There are some plans to port some code to `Cython` to make `graphene`/`graphql-core` even more performant, however any other suggestion would be always welcome! :)

[2016-09-05 19:49] hyusetiawan commented on #267
thanks, that answers it!

[2016-09-05 19:49] #267 closed

[2016-09-06 16:09] mwilliamson-healx commented on #268
Thanks again for the suggestion! Using cyordereddict shaves about 200ms off the time (from 1s to 0.8s), so an improvement, but still not ideal. I had a look around the code, but nothing stuck out to me as an easy way of improving performance. The problem (from my extremely quick and poorly informed glance!) is that you end up resolving every single value, which includes going through any middlewar

[2016-09-06 17:00] syrusakbary commented on #268
Hi @mwilliamson-healx,
At first congrats for your great proof of concept!

I've been thinking for a while how we can improve performance in GraphQL. This repository -`graphene`- uses `graphql-core` under the hood which is a very similar port of the GraphQL-js reference implementation.

The problem we are seeing is that either in `graphql-core` and `graphql-js` that **each type/value is checked in

[2016-09-06 18:40] mwilliamson commented on #268
Thanks for the kind words. One question I had was how much you'd imagine trusting the query builder? For my implementation, I was planning on putting the responsibility of correctness onto the queries (rather than having the GraphQL implementation check). The result is that, unlike the normal implementations of GraphQL, it's possible to implement something that doesn't conform to the GraphQL spec.

[2016-09-07 02:43] femesq opened #271 "App name crash (django)"
Hi,

I'm having problems when loading `graphene.contrib.django` on `INSTALLED_APPS`:
[code]

Since Django 1.7, there a differente way of declaring the app, to avoid [this](https://docs.djangoproject.com/en/1.7/ref/applications/#for-application-authors).

I've tried removing the possible conflicts, and discovered that in my case the problem was with `lettuce.django`.

Is this really a bug?
Should I

[2016-09-07 08:44] syrusakbary commented on #268
I'm working in the query builder concept. As of right now the benchmarks shows about 4x improvement when returning large datasets.

Related PR in `graphql-core`: https://github.com/graphql-python/graphql-core/pull/74

[2016-09-07 22:08] daironmichel opened #272 "Make graphene-django 1.0.dev available for pip install"
Hey guys. I'm currently working with `graphene 1.0.dev` and `graphene-core 1.0.dev` for the performance features mentioned on #268 but I also needed `graphene-django` which I had to install manually from the folder on the `next` branch because I could not use pip to install it. It would be great to use `pip install graphene-django==1.0.dev` just like for `graphene 1.0.dev`. Please consider doing t

[2016-09-08 06:37] syrusakbary commented on #268
Some updates!
I've been working non-stop on keep improving the performance with the `Query Builder`.

# Benchmarks

## Retrieving 10k ObjectTypes
Doing something similar to the following query where `allContainers` type is a `[ObjectType]` and `x` is a `Integer`:
[code]

  - With Query Builder: https://travis-ci.org/graphql-python/graphql-core/jobs/158369656#L488

  - Without Query Builder: https:

[2016-09-08 08:55] markflorisson opened #273 "Enums don't seem to work with mutations"
Passing in enum values as strings results in an error of the form: Argument "fieldName" has invalid value "MyEnumVal". Expected type "MyEnum", found "MyEnumVal".

I think passing in strings would be more reliable than integers (but neither one seems to work).

[2016-09-08 16:36] daironmichel opened #274 "Error querying pageInfo on DjangoConnectionField"
Using the `next` branch.

I have a `DjangoObjectType` that is a `relay.Node`. When querying the `DjangoConnectionField` for this type without including `pageInfo` it works well, but if you include the `pageInfo {...}` it returns the following error:
[code]

## How to reproduce

[code]

[2016-09-08 22:25] AT-SyT commented on #260
I also tried to enable custom filters/mutations with existing SQLAlchemy Schemas but I haven't found a way to do so.

Are these features not implemented in graphene or am I missing something?

[2016-09-09 04:44] syrusakbary commented on #273
Hey @markflorisson could be possible to have a working example of this issue so I can work to fix it? :)

[2016-09-09 04:45] syrusakbary commented on #274
Fixed! :)

[2016-09-09 04:45] #274 closed

[2016-09-09 04:45] syrusakbary commented on #272
Now you should be able to install it using `pip install graphene-django==1.0.dev`.

[2016-09-09 04:45] #272 closed

[2016-09-09 05:32] syrusakbary commented on #271
What you commented might be the cause.
In the `1.0.dev` version this is not longer an issue as the Django integration is moved into a external package `graphene-django`.

You can install it by doing `pip install graphene-django>=1.0.dev`.
If you do, would be helpful to read the [Upgrade Guide](https://github.com/graphql-python/graphene/blob/master/UPGRADE-v1.0.md).

Please reopen this issue if the

[2016-09-09 05:32] #271 closed

[2016-09-09 05:36] syrusakbary commented on #263
I recommend you using `graphiql` and trying to do there the test queries!

There is also some documentation about querying relay connections and nodes that might help!
http://graphene-python.org/docs/relay/

If you post here the errors you are seeing while doing the frontend I might be able to help! :)

[2016-09-09 05:52] syrusakbary commented on #251
@slorg1 this should be fixed in `1.0.dev`, you can install the latest Django version using `pip install graphene-django>=1.0.dev`.

Please reopen this issue if you run into the same error!

[2016-09-09 05:52] #251 closed

[2016-09-09 05:54] #259 closed

[2016-09-09 05:57] syrusakbary commented on #259
Fixed in `1.0.dev` :)

[2016-09-09 05:59] syrusakbary commented on #244
This will be fixed in `1.0.dev` once we support disabling `auto_snakecase` (soon).

[2016-09-09 06:03] syrusakbary commented on #243
A quick update on this issue!
The `1.0.dev` version is live on PyPI, I recommend you to give it a try having a similar approach to this: https://github.com/graphql-python/graphene/blob/master/graphene/relay/tests/test_node_custom.py

Usually for mapping this random id's to type+id is useful to have a "utility table" that stores what is the table/type corresponding to each "UUID".

Hope that helps!

[2016-09-09 06:03] #243 closed

[2016-09-09 06:04] syrusakbary commented on #233
This should be fixed in `1.0.dev` (master). Closing the issue.

[2016-09-09 06:04] #233 closed

[2016-09-09 06:05] syrusakbary commented on #246
`1.0.dev` is now in `master`.
Also is uploaded to PyPI (you can install it with `graphene-sqlalchemy>=1.0.dev`).

[2016-09-09 06:05] #246 closed

[2016-09-09 09:37] felix-zg commented on #259
Thanks!

[2016-09-09 14:24] daironmichel commented on #272
Thanks! @syrusakbary

[2016-09-09 14:33] daironmichel opened #275 "Python 3 incompatible print statement in graphene 1.0.dev"
Hey guys,

There's a `print` statement without parenthesis in `graphene/types/typemap.py`
It seems like it was put there for debugging reasons and the forgot to remove. This is the error I'm getting:

[code]

[2016-09-09 18:14] syrusakbary commented on #275
Updated the PyPI package. Should be good to go now :)

[2016-09-09 18:14] #275 closed

[2016-09-09 18:49] daironmichel commented on #275
Thanks! @syrusakbary

[2016-09-09 20:36] insolite commented on #214
Looks like resolver should not be a `coroutine`. However it can return `asyncio.Future` which will be executed asynchronously. And of course `Schema.execute` should be called with `return_promise=True` to get promise and execute it in your asyncio event loop. I've modified your code a bit so now it now returns `OrderedDict([('recipes', [OrderedDict([('name', 'hello')])])])` as expected.
[code]

[2016-09-09 21:33] daironmichel opened #276 "Querying filter args on a DjangoFilterConnectionField returning full (unfiltered) results"
Hey guys,

I'm using `v1.0.dev`. I have a `DjangoObjectType` that has some `filter_fields` defined on the `Meta`. This object type is set up on the query as a `DjangoFilterConnectionField`. The arguments on the query are set up correctly so you can post queries using the filter_fields but the result is the full list unfiltered.

I also tried implementing a custom `django_filter.FilterSet` class bu

[2016-09-10 01:50] syrusakbary commented on #88
@gwind Quick note, we released the `gql` package that intends to be a Python client for GraphQL servers. Now is super basic, but it's worth to take a look!
https://github.com/graphql-python/gql

[2016-09-10 18:45] daironmichel commented on #276
Hi again,

Well I don't know if this is a good fix but it worked for me. All my tests pass and my system is working properly.

Here's what I did. I just added to methods to `DjangoFilterConnectionField`
[code]

[2016-09-11 04:05] syrusakbary commented on #276
Thanks for the detailed examples, I think that's a bug in the filter argument conversion. I will take a look! :)

[2016-09-11 04:22] #276 closed

[2016-09-11 04:24] syrusakbary commented on #276
Thanks for your example, it helped a lot for making the fix faster! :)
Just uploaded a new version of `graphene_django` to PyPI with the fix

[2016-09-11 04:29] daironmichel commented on #276
Thanks for the fast response. Glad I could help! :)

[2016-09-11 04:45] syrusakbary commented on #260
Hi @kfuchs, @AT-SyT I've created a gist with an example of how to do it in the newest version of `graphene-sqlalchemy` (`1.0.dev`):

https://gist.github.com/syrusakbary/6cdb2597daee9922f330a05a7a08413c

Hope this helps!

[2016-09-11 04:45] #260 closed

[2016-09-11 04:48] syrusakbary commented on #244
This is now fixed in `master` with the commit: https://github.com/graphql-python/graphene/commit/9f30aa2d45761aa29b03585adde8ff556f3a3ba3

(You can update graphene with `pip install graphene>=1.0.dev`).

[2016-09-11 04:48] #244 closed

[2016-09-11 04:50] syrusakbary commented on #226
Not yet, is completely possible to support it though!
I would be super happy to merge a integration for that, if you are interested in creating a PR! :)

[2016-09-11 04:50] syrusakbary commented on #223
This is fixed in `master`. Closing the issue!

[2016-09-11 04:50] #223 closed

[2016-09-11 05:19] #269 closed

[2016-09-11 05:21] syrusakbary commented on #269
Hey @felipellrocha, this is fixed in the newest version of graphene: `1.0.dev`.

I added a test case so we can make sure that this will work also in future releases: https://github.com/graphql-python/graphene/blob/master/graphene-sqlalchemy/graphene_sqlalchemy/tests/test_query.py#L244-L330

You can try the latest dev version with `pip install graphene_sqlalchemy>=1.0.dev`.

Hope this helps!

[2016-09-11 06:15] benjaminjkraft opened #277 "Django choices don't work if first character of choice is a number"
If you have a model like this:

[code]

this will attempt to create an enum with name `0_ZERO`, which is invalid -- the first character has to be `[_a-zA-Z]`, and it fails with an assertion error in `graphql.utils.assert_valid_name`.

[2016-09-11 06:20] benjaminjkraft opened #278 "resolvers can't be classmethods"
Many resolver functions never use `self`, but attempting to define them as `@classmethod`s results in the wrong number of arguments getting passed, due to the way they're called.  (In particular, the error is `resolve_whatevers() takes exactly 4 arguments (5 given)`.)

[2016-09-11 06:44] benjaminjkraft opened #279 "Use full django choices names as enum descriptions"
GraphQL supports enum values having descriptions.  Since the django `choices`' names get `to_const`ified before being used as enum values, it would be nice to keep the original names as the GraphQL descriptions.

[2016-09-11 12:05] AT-SyT commented on #260
Thank you for providing this example.
Exactly what I was looking for.

[2016-09-11 22:43] syrusakbary commented on #279
I think that's a great idea!

[2016-09-11 23:08] #279 closed

[2016-09-11 23:12] syrusakbary commented on #278
Hey @benjaminjkraft,

Even if a resolver is defined as a `classmethod`, it needs to receive a `root` (parent) element.
So the classmethod resolvers would look something like:

[code]

I know it sounds a little bit counter intuitive but all resolvers needs to receive the parent element they are working with.

Hope this helps!

[2016-09-11 23:48] syrusakbary commented on #262
Hey @samvit, using a `List` for listing items in a collection is also supported.

However if you plan to use pagination in this collection, using a relay `ConnectionField` should be the path to go, as it provides builtin structures for handling pagination (`pageInfo`, `cursors`, ...), cursor based pagination, and so on.

You can still use a `List` with pagination if you need to, but you would need